
.el-row {
    margin-bottom: 0.1rem;
    margin-top: 0.2rem;
}
.last-child {
    margin-bottom: 0;
}

.el-col {
    padding-left: 0.2rem;
}

.bg-content {
    background-color: #FFFFFF;
    height: auto;
}

.grid-content {
    min-height: 2.6rem;
    font-size: 0.18rem;
    font-family: PingFangSC-Semibold;
    letter-spacing: -0.0043rem;
}

.center-grid-content {
    min-height: 1.3rem;
    font-size: 0.18rem;
    font-family: PingFangSC-Semibold;
    letter-spacing: -0.0043rem;
}

.row-bg {
    padding: 0.1rem 0;
    background-color: #FFFFFF;
}

.main-bottom-grid {
    /*   border: 0.01rem solid black;*/
    border-radius: 0.04rem;
    min-width: 4.0rem;
    width: 98%;
    height: 5.2rem;
    margin: 0 auto;
}

.el-tag--success {
    background-color: rgba(0, 0, 0, 0);
    border: 0.01rem solid;
    border-color: #333333;
    margin-right: 1%;
    margin-bottom: 0.2rem;
    font-family: PingFangSC-Semibold;
    color: #333333;
    height: 0.45rem;
    line-height: 0.45rem;
    letter-spacing: normal;
}

.orangebox {
    position: relative;
}

.rightbox, .leftbox {
    display: inline-block;
    width: 0.1rem;
    height: 0.1rem;
    background-color: #FFAA00;
    position: absolute;
    top: 25%
}

.leftbox {
    left: -0.2rem
}

.rightbox {
    right: -0.2rem;
}

.contentd {
    display: inline-block;
    width: auto;
    color: #333333;
}

.contentd>span {
    color: #ffb521;
}

.contentd_xx {
    display: inline-block;
    width: auto;
    color: #333333;
    font-size: larger;
    font-weight: bold;
}

.contentd_xx>span {
    color: #ffb521;
    font-size: 14px;
    font-weight: bold;
}

.btnexport {
    width: 0.8rem;
    border-color: #ffaa00 !important;
    border-radius: 0.02rem !important;
    color: #ffaa00 !important;
    text-align: center !important;
    padding: 0 !important;
    line-height: 0.3rem !important;
    margin-top: 0.04rem !important;

}
.btnexport:hover,.btnexport:hover span{
    background: #ffaa00 !important;
    color: #333333 !important;
    text-align: center;
}
.el-dialog__header{
    background: #333333;
    color: white;
}
.el-dialog__header span,.el-dialog__header i{
    color: white !important;
}
.bg-color{
    background-color:  #FFAA00;
    color: #333333 !important;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #ffc653 !important;
}
.el-table__row .cell{
    position: relative;
}
.el-table__row .cell>img{
    position: absolute;
}
.el-dialog__wrapper>.el-dialog{
    overflow-x: hidden;
}