<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
        .el-table .cell{
            white-space: nowrap !important;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<style type="text/css">

</style>
<body>
<iframe id="downloadFileId" style="display:none"></iframe>
<div id="costQueryApp" v-cloak>
    <div>
        <el-form ref="form" :model="form" label-width="1.0rem">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="费用号:" prop="costNo">
                        <el-input v-model="form.costNo" maxlength="20" placeholder="请输入费用号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="EPS号:" prop="epsNo">
                        <el-input v-model="form.epsNo" maxlength="20" placeholder="请输入EPS号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                <el-form-item label="发票号码:" prop="invoiceNo">
                    <el-input v-model="form.invoiceNo" maxlength="10" placeholder="请输入发票号码"></el-input>
                </el-form-item>
                </el-col>
                <el-col :span="14">
                    <el-form-item label="申请日期:" id="requireMsg4">
                        <el-row>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="form.createDate1"
                                                :clearable="false" :editable="false"
                                                :picker-options="createDateOptions"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd">
                                </el-date-picker>
                            </el-col>
                            <el-col :span="2" style="padding-top:0.1rem">—</el-col>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="form.createDate2"
                                                :clearable="false" :editable="false"
                                                :picker-options="createDateOptions"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd">
                                </el-date-picker>
                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="供应商号:" prop="venderId">
                        <el-input v-model="form.venderId" maxlength="6" placeholder="请输入供应商号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="审批状态:" prop="walmartStatus">
                        <el-select v-model="form.walmartStatus">
                            <el-option
                                    v-for="item in statusOptions"
                                    :key="item.optionKey"
                                    :label="item.optionName"
                                    :value="item.optionKey">
                            </el-option>
                        </el-select>
                    </el-form-item>

                </el-col>
                <el-col :span="12">
                    <el-form-item label="数据来源:">
                        <el-select v-model="form.payModel" >
                            <el-option label="全部" value="-1" selected></el-option>
                            <el-option label="wapp" value="0"></el-option>
                            <el-option label="预付款" value="1"></el-option>
                            <el-option label="bpms" value="3"></el-option>
                        </el-select>
                    </el-form-item>

                </el-col>
                <el-col :span="3" :offset="1">
                    <el-button class="btnexport" @click="query('form')">查询</el-button>
                </el-col>
                <el-col :span="1" :offset="1" class="btn-row4">
                    <el-button id="export_btn" disabled class="btnexport" @click="exportExcel">导出</el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
    <hr>

    <el-table height="5rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 12px;"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中">
        <el-table-column :show-overflow-tooltip="true"  type="index"  :index="mainIndex" label="序号" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="costNo" width="140" label="费用号" align="center" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="payModel" width="80" label="数据来源" align="center" header-align="center"  >
            <template scope="scope">
                <span v-if="scope.row.payModel=== null" >—— ——</span>
                <span v-if="scope.row.payModel=== ''" >—— ——</span>
                <span v-if="scope.row.payModel=== '0'" >wapp</span>
                <span v-if="scope.row.payModel=== '1'" >预付款</span>
                <span v-if="scope.row.payModel=== '3'" >bpms</span>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="scanDate" label="扫描日期" align="center"  :formatter="dateFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="approverEmail" width="130" label="审批人邮箱" align="left" header-align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="venderId" label="供应商号" align="left" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="venderName" label="供应商名称" align="left" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="bankName" label="开户行名称" align="left" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="bankAccount" label="银行账号" align="right" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="settlementAmount" label="费用金额" align="right" header-align="center"  :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="epsNo" label="EPS_NO" align="right" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="right" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="totalAmount" label="价税合计" align="right" header-align="center"  :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税金" align="right" header-align="center"  :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="createDate" label="申请日期" align="center"  :formatter="dateFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="walmartStatus" width="150" label="walmart审批状态" align="left" header-align="center"  :formatter="statusFormat">
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="walmartDate" label="审批状态更新时间" align="center"  :formatter="dateFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="rejectReason" label="驳回理由" align="right" header-align="center"  ></el-table-column>></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="id" width="170"  label="操作" class-name="noSpotSpotSpot" align="center" >
            <template scope="scope">
                <a  @click="detail(scope.row)"><span class="column-span" style="color: black">明细</span></a>
                <a  @click="fileDetail(scope.row)"><span class="column-span" style="color: black">查看上传文件</span></a>
            </template>
        </el-table-column>
    </el-table>
    <el-col class="toolbar" style="padding:10px;">
        <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                       :current-page="currentPage" :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                       layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>
    </el-col>


    <el-dialog title="费用明细" :visible.sync="showDetailWin" :close-on-click-modal="false" :before-close="beforeCloseDetailWin" width="95%">
        <el-table  border fit :data="invoiceTableData" highlight-current-row style="width: 100%;font-size: 12px;"
                  :default-expand-all="true">
            <el-table-column :show-overflow-tooltip="true"  type="expand" >
                <template slot-scope="props">
                    <div>
                        <span>税率明细</span>
                        <el-table  border fit :data="props.row.rateTableData" highlight-current-row style="width: 100%;font-size: 12px;"
                                  :default-expand-all="true">
                            <el-table-column :show-overflow-tooltip="true"  type="expand" >
                                <template slot-scope="costProps">
                                    <div>
                                        <span>费用行信息</span>
                                        <el-table  border fit :data="costProps.row.costTableData" highlight-current-row style="width: 100%;font-size: 12px;">
                                            <el-table-column :show-overflow-tooltip="true"  type="index"  label="序号" align="center"></el-table-column>
                                            <el-table-column :show-overflow-tooltip="true"  prop="costTypeName" label="费用类型" align="left" header-align="center">
                                            </el-table-column>
                                            <el-table-column :show-overflow-tooltip="true"  prop="costTime" label="费用发生时间"  align="center" header-align="center">
                                            </el-table-column>
                                            <el-table-column prop="costAmount" label="含税金额" align="right" header-align="center" :formatter="numberFormat">
                                            </el-table-column>
                                            <el-table-column :show-overflow-tooltip="true"  prop="costUse" label="用途" align="left" header-align="center">
                                            </el-table-column>
                                        </el-table>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column type="index"  label="序号" align="center"></el-table-column>
                            <el-table-column prop="invoiceAmount" label="含税金额" align="right" header-align="center" :formatter="numberFormat">
                            </el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="right" header-align="center" :formatter="rateFormat">
                            </el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="right" header-align="center" :formatter="numberFormat">
                            </el-table-column>
                        </el-table>
                    </div>

                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  type="index"  label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="gfTaxNo" label="JV" align="left" header-align="center"  :show-overflow-tooltip="true">
                <template scope="scope">
                    <div class="cell">{{scope.row.gfName}}</div>
                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码" align="left" header-align="center"  >
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="left" header-align="center" >
                <template scope="scope">
                    <span>{{ scope.row.invoiceNo }}</span>
                    <el-tooltip class="item" effect="dark" placement="top-start">
                        <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                        <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" style="height:0.2rem;" src="../../img/special-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                        <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                        <img   v-if="scope.row.invoiceType=== '04' "
                             style="height:0.2rem;" style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                        <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                        <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" style="height:0.2rem;" src="../../img/einvoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                        <img   v-if="scope.row.invoiceType=== '11' "
                             style="height:0.2rem;" style="height:0.2rem;" src="../../img/roll-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                        <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" style="height:0.2rem;" src="../../img/general-invoice.png"/>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column prop="invoiceAmount" label="不含税金额" align="right" header-align="center"  :formatter="numberFormat">
            </el-table-column>
           <!-- <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="right"  header-align="center"  :formatter="rateFormat">
            </el-table-column>-->
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="right"  header-align="center"  :formatter="numberFormat">
            </el-table-column>
            <el-table-column prop="totalAmount" label="含税金额" align="right"  header-align="center"  :formatter="numberFormat">
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center" :formatter="dateFormat">
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceStatus" label="发票状态" align="center" >
                <template scope="scope">
                    <span v-if="scope.row.invoiceStatus=='0'">正常</span>
                    <span v-if="scope.row.invoiceStatus=='1'">失控</span>
                    <span v-if="scope.row.invoiceStatus=='2'">作废</span>
                    <span v-if="scope.row.invoiceStatus=='3'">红冲</span>
                    <span v-if="scope.row.invoiceStatus=='4'">异常</span>
                    <span v-else></span>
                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="checkCode" label="校验码" align="center" header-align="center"  >
            </el-table-column>
        </el-table>
        <div style="height: 60px">
            <div style="float:left; width: 20%; text-align: center; margin-top: 12px">
                <span style="font-size: 14px; font-weight: 700">备注:</span>
            </div>
            <div style="float:left; width: 70%">
                <textarea id="detailRemarkId" readonly style="width: 100%;"></textarea>
            </div>
        </div>
        <span slot="footer" class="dialog-footer">
            <button class="btn btnexport" style="background-color: white" type="button" @click="showDetailWin = false">关 闭</button>
        </span>
    </el-dialog>

    <el-dialog title="文件明细" :visible.sync="showFileDetailWin" :close-on-click-modal="false" :before-close="beforeCloseFileDetailWin" width="95%">
        <el-table  border fit :data="fileData" highlight-current-row style="width: 100%;font-size: 12px;">
            <el-table-column :show-overflow-tooltip="true"  type="index"  label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="fileName" label="文件名称" align="left" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="fileType" label="文件类型" align="left" header-align="center" :formatter="formatFileType">
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="id" label="操作" class-name="noSpotSpotSpot" align="center" >
                <template scope="scope">
                    <a v-if="scope.row.fileType=='1'" @click="viewFile(scope.row)"><span class="column-span" style="color: black">查看</span></a>
                    <a  @click="downloadFile(scope.row)"><span class="column-span" style="color: black">下载</span></a>
                </template>
            </el-table-column>
        </el-table>

        <span slot="footer" class="dialog-footer">
            <button class="btn btnexport" style="background-color: white" type="button" @click="showFileDetailWin = false">关 闭</button>
        </span>
    </el-dialog>

    <el-dialog title="图片" :visible.sync="showImgWin" :close-on-click-modal="false" :before-close="beforeCloseImgWin">
        <div class="image_content_area">
            <img id="viewDetailImgId" style="width: 100%" src="">
        </div>

        <span slot="footer" class="dialog-footer">
            <button class="btn btnexport" style="background-color: white" type="button" @click="showImgWin = false">关 闭</button>
        </span>
    </el-dialog>

</div>
</body>
<script src="../../js/modules/cost/costQueryGf.js"></script>
</html>