
<!DOCTYPE html>
<html lang="ZH">
<head>
    <title>费用类型</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script src="../../libs/ajaxupload.js"></script>
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
        .el-dialog__header{
            background: #333333;
            color: white;
        }
        .el-dialog__header span,.el-dialog__header i{
            color: white !important;
        }
        .el-form-item__error{
            transform: translateY(0.02rem);
        }
    </style>

</head>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <div>
        <el-form  ref="queryForm" class="demo-form-inline" label-width="1.0rem" @submit.native.prevent>
            <el-row>
                <el-col :span="12">
                    <div class="form-row">
                        <el-form-item label="供应商号:" class="form-item" prop="venderId">
                            <el-input  maxlength="6"
                                         v-model="queryForm.venderId" onkeyup="verificationQueryVender(this);"  placeholder="请输入供应商号"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="form-row">
                        <el-form-item label="费用编号:" class="form-item" prop="costType">
                            <el-input maxlength="255" v-model.trim="queryForm.costType" onkeyup="verificationQueryCostType(this);" placeholder="请输入费用编号"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="form-row">
                        <el-form-item label="费用名称:" class="form-item" prop="costTypeName">
                            <el-input maxlength="255" v-model.trim="queryForm.costTypeName" placeholder="请输入费用名称"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="4.5" :offset="1">
                    <el-button class="btnexport" @click="query">查询</el-button>
                </el-col>
                <el-col :span="4.5" :offset="1">
                    <el-button class="btnexport" id="import">导入</el-button >
                </el-col>
                <el-col :span="4.5" :offset="1">
                    <el-button class="btnexport" @click="download">下载模板</el-button >
                </el-col>
                <el-col :span="4.5" :offset="1">
                     <el-button class="btnexport" @click="addOrUpdate(true)">新增</el-button >
                </el-col>
                <el-col :span="4.5" :offset="1">
                      <el-button class="btnexport" @click="deleteCost">删除</el-button >
                </el-col>
            </el-row>
        </el-form>
    </div>
    <div style="margin-bottom: 0.05rem;margin-top: 0.05rem;width:100%; height:0.03rem; border-top:0.01rem solid #DEDEDE; clear:both;"></div>
        <div style="clear: both">
            <el-table height="4rem"  border fit :data="costData" highlight-current-row style="width: 100%;"
                       v-loading="listLoading" @selection-change="changeFun"
                       element-loading-text="正在拼命加载中">
                <el-table-column :show-overflow-tooltip="true"  type="selection"  class="selection" prop='id'
                                 @selection-change="changeFun"></el-table-column>
                <el-table-column :show-overflow-tooltip="true"  type="index"  :index="costIndex" label="序号" align="center"></el-table-column>
                <el-table-column :show-overflow-tooltip="true"  property="venderId" label="供应商号"  align="center" header-align="center"></el-table-column>
                <el-table-column :show-overflow-tooltip="true"  property="isContract" label="业务类型"  align="center" header-align="center">
                    <template scope="scope">
                        <span v-if="scope.row.isContract=== null" >—— ——</span>
                        <span v-if="scope.row.isContract=== ''" >—— ——</span>
                        <span v-if="scope.row.isContract=== '0'" >非合同</span>
                        <span v-if="scope.row.isContract=== '1'" >合同</span>
                    </template>
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true"  property="costType" label="费用编号"  align="center" header-align="center"></el-table-column>
                <el-table-column :show-overflow-tooltip="true"  property="costTypeName" label="费用名称" align="center" header-align="center"></el-table-column>
                <el-table-column :show-overflow-tooltip="true"  label="操作" class-name="noSpotSpotSpot"  align="center">
                    <template slot-scope="scope">
                        <el-button @click="openAddOrUpdataWin(scope.row)" type="text">修改</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-col class="toolbar" style="padding:0.1rem;">
                <el-pagination background @current-change="currentChange" @size-change="handleSizeChange" :current-page="currentPage" :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                               layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
                    <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
                </el-pagination>
            </el-col>
        </div>


    <el-dialog :title="title" :visible.sync="addOrUpdateWin" :before-close="addOrUpdataWinClose" :close-on-click-modal="false" @close="clearValidate('addOrUpdateForm')">
        <div style="width: 100%;">
            <el-form ref="addOrUpdateForm" :model="addOrUpdateForm" label-width="110px">
                <el-row>
                    <el-col :span="12" style="width: 65%">
                        <el-form-item label="供应商号:" prop="venderId" :rules="[{ required: true, message: '供应商号不能为空'}]">
                            <el-input v-model="addOrUpdateForm.venderId" maxlength="6" onkeyup="verificationAddVender(this);"
                                      placeholder="请输入供应商号"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12" style="width: 65%">
                        <el-form-item label="费用编号:" prop="costType" :rules="[{ required: true, message: '费用编号不能为空'}]">
                            <el-input v-model.trim="addOrUpdateForm.costType" maxlength="50" onkeyup="verificationAddCostType(this);"
                                      placeholder="请输入费用编号"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12" style="width: 65%">
                        <el-form-item label="费用名称:" prop="costTypeName" :rules="[{ required: true, message: '费用名称不能为空'}]">
                            <el-input v-model.trim="addOrUpdateForm.costTypeName" maxlength="50"
                                      placeholder="请输入费用名称"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12" style="width: 65%">
                        <el-form-item label="业务类型:" prop="isContract" :rules="[{ required: true, message: '合同不能为空'}]">
                            <el-select v-model="addOrUpdateForm.isContract" >
                                <el-option label="非合同" value="0"></el-option>
                                <el-option label="合同" value="1"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </div>

        <span slot="footer" class="dialog-footer">
            <el-button class="btnexport" @click="submitForm">确 定</el-button>
        </span>
    </el-dialog>
</div>

<script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
<script src="../../js/modules/cost/costType.js"></script>
</body>
</html>