<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
        .el-table .cell{
            white-space: nowrap !important;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<style type="text/css">

</style>
<body>
<iframe id="downloadFileId" style="display:none"></iframe>
<div id="costQueryApp" v-cloak>
    <div>
        <el-form ref="form" :model="form" label-width="1.0rem">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="EPS_NO:" prop="epsNos">
                        <el-input v-model="form.lzUserId" maxlength="20" placeholder="EPS_NO"></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="3" :offset="1">
                    <el-button class="btnexport" @click="update()">获取</el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
    <hr>
</div>
</body>
<script src="../../js/modules/cost/costQueryData.js"></script>
</html>