<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
        .el-table .cell{
            white-space: nowrap !important;
        }
    </style>
    <style>
        .el-dialog__body{
            overflow: hidden;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<style type="text/css">

</style>
<body>
<iframe id="downloadFileId" style="display:none"></iframe>
<div id="costQueryApp" v-cloak>
    <div>
        <el-form ref="form" :model="form" label-width="1.0rem">
                <el-row>
                <el-col :span="12">
                    <el-form-item label="费用号:" prop="costNo">
                        <el-input v-model="form.costNo" maxlength="20" placeholder="请输入费用号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="EPS号:" prop="epsNo">
                        <el-input v-model="form.epsNo" maxlength="20" placeholder="请输入EPS号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="14">
                    <el-form-item label="扫描日期:" id="requireMsg4">
                        <el-row>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="form.createDate1"
                                                :clearable="false" :editable="false"
                                                :picker-options="createDateOptions"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd">
                                </el-date-picker>
                            </el-col>
                            <el-col :span="2" style="padding-top:0.1rem">—</el-col>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="form.createDate2"
                                                :clearable="false" :editable="false"
                                                :picker-options="createDateOptions"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd">
                                </el-date-picker>
                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="供应商号:" prop="venderId">
                            <el-input v-model="form.venderId" maxlength="6" placeholder="请输入供应商号"></el-input>
                        </el-form-item>
                    </el-col>

                <el-col :span="12">
                    <el-form-item label="扫描状态:">
                        <el-select v-model="form.scanStatus" >
                            <el-option label="全部" value="-1" selected></el-option>
                            <el-option label="未匹配" value="0"></el-option>
                            <el-option label="匹配成功" value="1"></el-option>
                            <el-option label="匹配失败" value="2"></el-option>
                        </el-select>
                    </el-form-item>

                </el-col>
                    <el-col :span="12">
                        <el-form-item label="数据来源:">
                            <el-select v-model="form.payModel" >
                                <el-option label="全部" value="-1" selected></el-option>
                                <el-option label="wapp" value="0"></el-option>
                                <el-option label="预付款" value="1"></el-option>
                                <el-option label="bpms" value="3"></el-option>
                            </el-select>
                        </el-form-item>

                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="发送状态:">
                            <el-select v-model="form.pushStatus" >
                                <el-option label="全部" value="-1" selected></el-option>
                                <el-option label="退票发送中" value="0"></el-option>
                                <el-option label="发送成功" value="1"></el-option>
                                <el-option label="确认发送中" value="2"></el-option>
                            </el-select>
                        </el-form-item>

                    </el-col>
                <el-col :span="3" :offset="1">
                    <el-button class="btnexport" @click="query('form')">查询</el-button>
                </el-col>

                <el-col :span="1" :offset="1" class="btn-row4">
                    <el-button id="export_btn" disabled class="btnexport" @click="exportExcel">导出</el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
    <hr>

    <el-table height="5rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 12px;"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中">
        <el-table-column :show-overflow-tooltip="true"  type="index"  :index="mainIndex" label="序号" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="costNo" width="140" label="费用号" align="center" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="payModel" width="80" label="数据来源" align="center" header-align="center"  >
            <template scope="scope">
                <span v-if="scope.row.payModel=== null" >—— ——</span>
                <span v-if="scope.row.payModel=== ''" >—— ——</span>
                <span v-if="scope.row.payModel=== '0'" >wapp</span>
                <span v-if="scope.row.payModel=== '1'" >预付款</span>
                <span v-if="scope.row.payModel=== '3'" >bpms</span>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="approverEmail" width="130" label="审批人邮箱" align="left" header-align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="venderId" label="供应商号" align="left" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="venderName" label="供应商名称" align="left" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="settlementAmount" label="费用金额" align="right" header-align="center"  :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="epsNo" label="EPS_NO" align="right" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="createDate" label="申请日期" align="center"  :formatter="dateFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="scanStatus" width="150" label="扫描匹配状态" align="left" header-align="center"  :formatter="formatScanStatus">
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="scanDate" width="128"   label="扫描日期" align="center" :formatter="formatScanDate"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="rejectReason" label="驳回理由" align="right" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="pushStatus" width="80" label="发送状态" align="center" header-align="center"  >
            <template scope="scope">
                <span v-if="scope.row.pushStatus=== null" >—— ——</span>
                <span v-if="scope.row.pushStatus=== ''" >—— ——</span>
                <span v-if="scope.row.pushStatus=== '0'" >退票发送中</span>
                <span v-if="scope.row.pushStatus=== '1'" >发送成功</span>
                <span v-if="scope.row.pushStatus=== '2'" >确认发送中</span>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="id" width="170"  label="操作" class-name="noSpotSpotSpot" align="center" >
            <template scope="scope">
                <a  @click="detail(scope.row)"><span class="column-span" style="color: black">明细</span></a>
<!--v-if="scope.row.scanStatus!=1&&scope.row.isDel==0"-->
                <span  v-if="scope.row.scanStatus!=1&&scope.row.isDel==0&&scope.row.payModel==0">
                    <a  @click="refundReasons(scope.row)"><span class="column-span" style="color: black">退票</span></a>
                </span>
                <span  v-if="scope.row.scanStatus!=1&&scope.row.isDel==0&&scope.row.payModel==3">
                    <a  @click="refundReasons(scope.row)"><span class="column-span" style="color: black">退票</span></a>
                </span>
                <span  v-if="scope.row.scanStatus!=1&&scope.row.isDel==0&&scope.row.payModel==1">
                    <a  @click="refundYFReasons(scope.row)"><span class="column-span" style="color: black">退票</span></a>
                </span>
                <span v-if="scope.row.scanStatus!=1&&scope.row.isDel==0">
                	<a  @click="confirmDateCost(scope.row)"><span class="column-span" style="color: black">确认</span></a>
                </span>
                <span v-if="scope.row.scanStatus!=1&&scope.row.isDel==0">
                	<a  @click="confirmDateContrast(scope.row)"><span class="column-span" style="color: black">对比</span></a>
                </span>
                <span v-if="scope.row.scanStatus ==1 && scope.row.isDel==0 && scope.row.pushStatus == 2">
                	<a  @click="confirmDateCost(scope.row)"><span class="column-span" style="color: black">再次确认发送</span></a>
                </span>


            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="id" width="170"  label="操作2" class-name="noSpotSpotSpot" align="center" >
            <template scope="scope">
                <span v-if="scope.row.scanStatus!=1&&scope.row.isDel==0">
                	<a  @click="confirmDateCosts(scope.row)"><span class="column-span" style="color: black">福利发票确认</span></a>
                </span>
                <span v-if="scope.row.scanStatus ==1 && scope.row.isDel==0 && scope.row.pushStatus == 2">
                	<a  @click="confirmDateCost(scope.row)"><span class="column-span" style="color: black">福利发票再次发送</span></a>
                </span>
            </template>
        </el-table-column>
    </el-table>
    <el-col class="toolbar" style="padding:10px;">
        <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                       :current-page="currentPage" :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                       layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>
    </el-col>


    <el-dialog title="费用明细" :visible.sync="showDetailWin" :close-on-click-modal="false" :before-close="beforeCloseDetailWin" width="95%">
        <el-table  border fit :data="invoiceTableData" highlight-current-row style="width: 100%;font-size: 12px;"
                  :default-expand-all="true">
            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="createDate" width="128"   label="扫描日期" align="center" :formatter="formatCreateDate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="scanId" label="扫描流水号" width="255" align="center" header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="fileType" width="113"  label="文件类型"  align="center" header-align="center" :formatter="fileTypeFormatter"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="jvCode" label="JV" width="102"   align="center" header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="companyCode" label="公司代码"  width="176"  align="center" header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="qsStatus" label="签收状态"  width="114" align="center" header-align="center" :formatter="qsStatusFormatter"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="notes" label="扫描描述"  align="center" width="255" header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="venderid" label="供应商号"  align="center"  width="117"  header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="costNo" label="费用号"  align="left" width="114" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="dyInvoiceCode" label="发票代码"  align="left" width="114" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="left" width="134" header-align="center">
                <template scope="scope">
                    <span>{{ scope.row.dyInvoiceNo }}</span>
                    <el-tooltip class="item" effect="dark" placement="top-start">
                        <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                        <img v-if="scope.row.invoiceType== '01'"  style="height:0.2rem;" src="../../img/special-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                        <img v-if="scope.row.invoiceType== '03' "  style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                        <img    v-if="scope.row.invoiceType=== '04' "
                                style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                        <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                        <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                        <img    v-if="scope.row.invoiceType=== '11' "
                                style="height:0.2rem;" src="../../img/roll-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                        <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png" />
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center" width="137"  :formatter="formatInvoiceDate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceAmount" label="金额" align="right" width="108"  header-align="center" :formatter="invoiceAmountFormatDecimal"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="right"  width="87"  header-align="center" :formatter="taxAmountFormatDecimal"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="rzhYesorno" label="认证结果"  align="center"  width="80"  header-align="center" :formatter="rzhYesornoFormatter"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="rzhDate" label="认证日期"  align="center"  width="92"  header-align="center" :formatter="formatRzhDate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="scanMatchStatus" label="扫描匹配状态"  align="center"  width="108"  header-align="center" :formatter="formatScanMatchStatus"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="scanFailReason" label="扫票匹配失败原因"  align="center"  width="120"  header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="id"  label="操作" class-name="noSpotSpotSpot" width="200" class-name="noSpotSpotSpot" align="center" >
                <template scope="scope">
                <span v-if="scope.row.fileType==1&&scope.row.isdel==0" >
                    <a  @click="editData(scope.row)"><span class="column-span" style="color: black">修改</span></a>
                </span>

                    <span>
                    <a  @click="imgRow(scope.row.scanId)"><span class="column-span" style="color: black">图片</span></a>
                </span>
                    <span>
                    <a  @click="deleteInvoice(scope.row)"><span class="column-span" style="color: black">删除</span></a>
                </span>
                </template>
            </el-table-column>
        </el-table>

    </el-dialog>


    <el-dialog title="修改" :close-on-click-modal="false" :visible.sync="dialogVisibleEdit" :before-close="beforeCloseEditWin" width="80%"
               v-loading="editDialogLoading">
        <!--<div style="width: 100%;height: 3.0rem;overflow: auto;">-->
        <div class="image_content" style="float: left;width: 60%;">
            <a id="imgEdit2" href="javaScript:void(0);" onclick="bigimg()" :src="img_src">
                <img id="imgEdit" style="padding: 0.3rem 0; width: 100%" :src="img_src"/>
            </a>
        </div>
        <div class="form_content" style="float: right;width: 35%;">
            <el-form ref="dataEditForm" :model="dataEditForm" label-width="1.0rem">

                <el-form-item label="领用代码:" class="form-item" prop="invoiceCode" :rules="[{ required: true, message: '发票代码不能为空'}]">
                    <el-input v-model="dataEditForm.invoiceCode"   ></el-input>
                </el-form-item>
                <el-form-item label="领用号码:" class="form-item" prop="invoiceNo" :rules="[{ required: true, message: '发票号码不能为空'}]">
                    <el-input v-model="dataEditForm.invoiceNo"   ></el-input>
                </el-form-item>
                <el-form-item label="打印代码:" class="form-item" prop="dyInvoiceCode" :rules="[{ required: true, message: '打印代码不能为空'}]">
                    <el-input v-model="dataEditForm.dyInvoiceCode" ></el-input>
                </el-form-item>
                <el-form-item label="打印号码:" class="form-item" prop="dyInvoiceNo" :rules="[{ required: true, message: '打印号码不能为空'}]">
                    <el-input v-model="dataEditForm.dyInvoiceNo"  ></el-input>
                </el-form-item>
                <el-form-item label="开票日期:" class="form-item" prop="invoiceDate" :rules="[{ required: true, message: '开票日期不能为空'}]">
                    <el-date-picker type="date" :picker-options="invoiceDateOptions" :clearable="false" :editable="false" size="large" format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                    @change="invoiceDate3Change"  placeholder="选择开票日期" v-model="dataEditForm.invoiceDate"></el-date-picker>
                </el-form-item>
                <el-form-item label="购方税号" class="form-item" prop="gfTaxNo" :rules="[{ required: true, message: '购方税号不能为空'}]">
                    <el-input v-model="dataEditForm.gfTaxNo" max-length="20"></el-input>
                </el-form-item>
                <el-form-item label="销方税号" class="form-item" prop="xfTaxNo" :rules="[{ required: true, message: '销方税号不能为空'}]">
                    <el-input v-model="dataEditForm.xfTaxNo" max-length="20"></el-input>
                </el-form-item>
                <el-form-item label="发票金额:" class="form-item" prop="invoiceAmount" :rules="[{ required: true, message: '发票金额不能为空且不能超过两位小数'}]">
                    <el-input v-model="dataEditForm.invoiceAmount" @change="changeAmount"></el-input>
                </el-form-item>
                <el-form-item label="发票税额:" class="form-item" prop="taxAmount" :rules="[{ required: true, message: '发票税额不能为空且不能超过两位小数'}]">
                    <el-input v-model="dataEditForm.taxAmount" @change="changeTaxAmount"></el-input>
                </el-form-item>
                <el-form-item label="校验码:" class="form-item" prop="checkCode">
                    <el-input v-model="dataEditForm.checkCode" onkeyup="this.value=this.value.replace(/[^\d]/g,'')"></el-input>
                </el-form-item>
                <el-form-item  label="供应商号:" class="form-item" prop="venderid" :rules="[{ required: true, message: '供应商号不能为空'}]">
                    <el-input v-model="dataEditForm.venderid"></el-input>
                </el-form-item>
                <el-form-item  label="费用号:" class="form-item" prop="costNo" :rules="[{ required: true, message: '费用号不能为空'}]">
                    <el-input v-model="dataEditForm.costNo"></el-input>
                </el-form-item>
                <!-- <el-form-item label="是否有红章:" prop="isExistStamper" :rules="[{ required: true, message: '是否有红章不能为空'}]">
                    <el-select v-model="dataEditForm.isExistStamper" filterable @focus="gfNameFocus" @blur="gfNameBlur">
                        <el-option
                                key="1"
                                label="是"
                                value="1">
                        </el-option>
                        <el-option
                                key="0"
                                label="否"
                                value="0">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item  label="无红章原因:" class="form-item" prop="venderid">
                    <el-input v-model="dataEditForm.noExistStamperNotes" :disabled="dataEditForm.isExistStamper==1"></el-input>
                </el-form-item> -->
            </el-form>
        </div>
        <!--</div>-->
        <!--<div style="clear: both"></div>-->
        <span slot="footer" class="dialog-footer" :visible.sync="dialogVisibleEdit">
            <el-button class="btnexport" @click="beforeCloseEditWin">取 消</el-button>
            <el-button class="btnexport" @click="editSaveData">保存</el-button>
    </span>
    </el-dialog>
















    <el-dialog title="退票原因" :close-on-click-modal="false" :visible.sync="refundReasonEdit" :before-close="beforeCloseEditWins" width="40%"
               v-loading="editDialogLoading">
        <div class="form_content" style="float: left ;width: 80%;">
            <el-form ref="refundReasonForm" :model="refundReasonForm" label-width="1.0rem">

                <el-form-item label="退票编码:" class="form-item" prop="refundCode" :rules="[{ required: true, message: '不能为空'}]">
                    <el-input v-model="refundReasonForm.refundCode" ></el-input>
                </el-form-item>
                <el-form-item label="退票原因:" class="form-item" prop="refundReason" :rules="[{ required: true, message: '不能为空'}]">
                    <el-input v-model="refundReasonForm.refundReason"></el-input>
                </el-form-item>
            </el-form>
        </div>
        <!--</div>-->
        <!--<div style="clear: both"></div>-->
        <span slot="footer" class="dialog-footer">
            <el-button class="btnexport" @click="beforeCloseEditWins">取 消</el-button>
            <el-button class="btnexport" @click="deleteData">保存</el-button>
    </span>
    </el-dialog>


    <el-dialog title="费用明细对比" :visible.sync="showContrastWin" :close-on-click-modal="false" :before-close="beforeContrastWin" width="95%">
        <el-table  border fit :data="invoiceContrastData" highlight-current-row style="width: 100%;font-size: 12px;"
                   :default-expand-all="true">
            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="签收发票号码"  align="center" width="116" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceType"    label="发票类型" align="center" :formatter="formatContrast1Date"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="venderid" label="供应商号"  align="center" :formatter="formatContrast2Date" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码"  align="center" :formatter="formatContrast3Date" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码"  align="center":formatter="formatContrast4Date" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期"  align="center" :formatter="formatContrast5Date" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceAmount" label="发票金额"  align="center"  :formatter="formatContrast6Date"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="发票税额"  align="center" :formatter="formatContrast7Date"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="totalAmount" label="价税合计"  align="center" :formatter="formatContrast8Date"></el-table-column>
        </el-table>

    </el-dialog>






</div>
</body>
<script src="../../js/modules/cost/signininqueryCostQuery.js"></script>
</html>