<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <title>发票匹配</title>
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
        .el-table .cell{
            white-space: nowrap !important;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        input[type="number"]{
            -moz-appearance: textfield;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<style type="text/css">
    .el-row{
        height: 0.35rem;
        margin-bottom: 0.1rem;
    }
    .el-col{
        height: 0.35rem;
    }
    .el-form-item__label{
        width: 0.8rem;
    }
    .el-form-item__content{
        margin-left: 0.8rem;
    }
    .el-form-item.is-error .el-input__inner {
        border-color: #f56c6c;
    }
    .el-form{
        padding: 0.01rem 0.1rem 0.2rem 0.5rem;
    }el-dialog__body{height:2rem;}

    .el-col-24{
        width:49%;
    }
    .el-table.el-table--fit.el-table--border.el-table--enable-row-hover.el-table--enable-row-transition {
        margin-top: 0.05rem;
    }
</style>
<body>
<div id="fixedMatchApp" v-cloak>
    <div class="fieldset" >
        <el-form ref="topForm" :model="topForm" label-width="1.0rem">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="JV:">
                        <el-select v-model="topForm.jvcode" filterable @change="changeJV">
                            <el-option
                                    v-for="item in jvOptions"
                                    :key="item.optionKey"
                                    :label="item.optionName"
                                    :value="item.optionKey">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="供应商号:">
                        <el-input class="inline-input" readonly v-model="topForm.venderid"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="供应商名称:">
                        <el-input class="inline-input" readonly v-model="topForm.venderName"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>

    <div class="fieldset" >
        <div class="legend">订单列表</div>
        <el-form ref="orderForm" :model="orderForm" label-width="1.0rem">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="订单号:">
                        <el-input class="inline-input" v-model="orderForm.orderNo" maxlength="20" placeholder="请输入订单号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="14">
                    <el-form-item label="时间:" id="requireMsg">
                        <el-row>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="orderForm.orderDate1"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(1)" @focus="focuspickerchange(1)"
                                                id="datevalue1"
                                                :picker-options="orderDateOptions1"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                                @change="orderDate1Change">
                                </el-date-picker>
                            </el-col>
                            <el-col :span="2">至</el-col>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="orderForm.orderDate2"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(2)" @focus="focuspickerchange(2)"
                                                id="datevalue2"
                                                :picker-options="orderDateOptions2"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                                @change="orderDate2Change"></el-date-picker>
                                </el-date-picker>
                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button class="btnexport"  @click="query">查询</el-button>
                </el-col>
            </el-row>
        </el-form>

        <el-table height="4rem" border fit :data="orderData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
                  v-loading="listLoading" ref="orderDataMultipleTable" @selection-change="handleSelectionChange"  @select="handleSelection"
                  element-loading-text="正在拼命加载中">
            <el-table-column :show-overflow-tooltip="true"  type="selection" width="55" class="selection" label="选择" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  type="index" width="55" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="orderNo" label="订单号" align="left" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="orderDetailNo" label="订单明细号" align="left" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="orderDate" label="日期" align="center" header-align="center" :formatter="formatDate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="amount" label="订单价税合计" align="right" header-align="center" :formatter="numberFormat"></el-table-column>
        </el-table>
    </div>
    <el-dialog title="选择" :visible.sync="zyInvoiceDialog" :close-on-click-modal="false" @close='closezyInvoiceDialog' width="80%">
        <el-form ref="invoiceQueryForm" :model="invoiceQueryForm" style="overflow:hidden;padding-left: 0rem;padding-right: 0rem">

            <el-row>

                <el-col :span="24" style="    width: 27%;">
                    <el-form-item label="发票号码:">
                        <el-input class="inline-input" v-model="invoiceQueryForm.invoiceNo" @blur="searchInvoice" placeholder="请输入发票号码"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="24" style="    width: 58%;">
                    <el-form-item label="开票日期:" id="requireMsg1">
                    <el-row>
                        <el-col :span="13">
                            <el-date-picker type="date" placeholder="选择日期" v-model="invoiceQueryForm.invoiceQueryDate1"
                                            :clearable="false" :editable="false"
                                            @blur="blurpickerchange(1)" @focus="focuspickerchange(1)"
                                            id="datevalue1"
                                            :picker-options="orderDateOptions4"
                                            format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                            @change="orderDate3Change">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="2">至</el-col>
                        <el-col :span="13">
                            <el-date-picker type="date" placeholder="选择日期" v-model="invoiceQueryForm.invoiceQueryDate2"
                                            :clearable="false" :editable="false"
                                            @blur="blurpickerchange(1)" @focus="focuspickerchange(1)"
                                            id="datevalue1"
                                            :picker-options="orderDateOptions5"
                                            format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                            @change="orderDate4Change">
                            </el-date-picker>
                        </el-col>

                    </el-row>
                </el-form-item>
                </el-col>
                <el-col :span="24" style="padding-left: 0.12rem;width: 14%;"  >
                    <el-button class="btnexport"  @click="invoiceQuery(false)">查询</el-button>
                </el-col>
            </el-row>
        </el-form>

        <el-table height="2rem" border fit :data="invoiceQueryData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
                  v-loading="listLoading2" ref="invoiceQueryDataMultipleTable"
                  @selection-change="handleSelectionChange2"
                  element-loading-text="正在拼命加载中">
            <el-table-column :show-overflow-tooltip="true"  type="selection" width="55" class="selection" label="选择" align="center" :selectable='isDisabled' disabled="true"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  type="index" width="55" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="gfTaxNo" label="购方纳税人识别号" align="center" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码" align="center" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="center" header-align="center" >
                <template scope="scope">
                    <span>{{ scope.row.invoiceNo }}</span>
                    <el-tooltip class="item" effect="dark" placement="top-start">
                        <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                        <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" style="height:0.2rem;" src="../../img/special-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                        <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                        <img   v-if="scope.row.invoiceType=== '04' "
                               style="height:0.2rem;" style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                        <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                        <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" style="height:0.2rem;" src="../../img/einvoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                        <img   v-if="scope.row.invoiceType=== '11' "
                               style="height:0.2rem;" style="height:0.2rem;" src="../../img/roll-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                        <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" style="height:0.2rem;" src="../../img/general-invoice.png"/>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceAmount" label="发票金额" align="right" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="right" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="right" header-align="center":formatter="rateFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="totalAmount" label="价税合计" align="right" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center" header-align="center" :formatter="formatDate"></el-table-column>
        </el-table>

        <div slot="footer" class="dialog-footer">
            <el-button  @click="addInvoiceQuery">确 定</el-button>
        </div>
    </el-dialog>





    <el-dialog title="录入" :visible.sync="ptInvoiceDialog" :close-on-click-modal="false" @close='closeptInvoiceDialog' >

        <el-form ref="invoiceForm" :model="invoiceForm" style="overflow:hidden;">

            <el-row>
                <el-col :span="24">
                        <el-form-item label="发票代码:">
                            <el-input class="inline-input" v-model="invoiceForm.invoiceCode" @blur="changeItem" ></el-input>
                        </el-form-item>
                </el-col>
                <el-col :span="24">
                        <el-form-item label="发票号码:">
                            <el-input class="inline-input" v-model="invoiceForm.invoiceNo" maxlength="8" @blur="searchInvoice"></el-input>
                        </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="24">
                        <el-form-item label="开票日期:" id="requestMessage">
                            <el-date-picker
                                    :clearable="false" :editable="false"
                                    @blur="blurpickerchange(1)" @focus="focuspickerchange(1)"
                                    id="datevalue1"
                                    :picker-options="orderDateOptions3"
                                    format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                    @change="orderDate1Change"
                                    v-model="invoiceForm.invoiceDate" default-value="" >
                            </el-date-picker>
                        </el-form-item>
                </el-col>
                <el-col :span="24">
                        <el-form-item label="金额:">
                            <el-input  class="inline-input" v-model="invoiceForm.invoiceAmount" @change="validAmount"></el-input>
                        </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="24" >
                    <el-form-item label="税率:"  id="requireMsg4" :rules="[{ required: true, message: '税率不能为空', trigger: 'blur' }]">
                        <el-select v-model="invoiceForm.taxRate"
                                   filterable
                                   @focus="gfNameFocus"
                                   @blur="gfNameBlur"

                        >
                            <el-option
                                    v-for="item in taxRateArray"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="税额:">
                        <el-input  class="inline-input" v-model="invoiceForm.taxAmount" @change="validTaxAmount"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>




            <el-row>
                <el-col :span="24">
                    <el-form-item label="价税合计:">
                        <el-input  class="inline-input" v-model="invoiceForm.totalAmount" @change="validTotalAmount"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="24" id="item-checkCode">
                        <el-form-item label="校验码:" >
                            <el-input  maxlength="6" class="inline-input" v-model="invoiceForm.checkCode"></el-input>
                        </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="8" style="float:right;" >
                        <el-button class="btnexport"  @click="addInvoice(false)">保存</el-button>
                </el-col>
            </el-row>
        </el-form>
    </el-dialog>
    <div class="fieldset" >
        <div class="legend">发票信息</div>

        <el-row>
            <el-col :span="12">
                <el-select  v-model="invoiceTypeValue" placeholder="请选择发票类型">
                    <el-option
                            v-for="item in invoiceTypeValueOptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="1" :offset="1"  v-if="invoiceTypeValue=='01'">
                <el-button class="btnexport"  @click="topForm.jvcode==''?noJVAlert():zyInvoiceDialog=true">选择</el-button>
            </el-col>
            <el-col :span="1" :offset="1"  v-if="invoiceTypeValue=='02'">
                <el-button class="btnexport"  @click="topForm.jvcode==''?noJVAlert():ptInvoiceDialog=true">录入</el-button>
            </el-col>
        </el-row>





        <el-table height="4rem" border fit :data="invoiceData" highlight-current-row style="width: 100%;font-size: 0.12rem;">
            <el-table-column :show-overflow-tooltip="true"  type="index" width="55" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="gfTaxNo" label="购方纳税人识别号" align="left" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码" align="left" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="left" header-align="center" >
                <template scope="scope">
                    <span>{{ scope.row.invoiceNo }}</span>
                    <el-tooltip class="item" effect="dark" placement="top-start">
                        <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                        <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" style="height:0.2rem;" src="../../img/special-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                        <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                        <img   v-if="scope.row.invoiceType=== '04' "
                               style="height:0.2rem;" style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                        <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                        <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" style="height:0.2rem;" src="../../img/einvoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                        <img   v-if="scope.row.invoiceType=== '11' "
                               style="height:0.2rem;" style="height:0.2rem;" src="../../img/roll-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                        <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" style="height:0.2rem;" src="../../img/general-invoice.png"/>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceAmount" label="发票金额" align="right" header-align="center"  :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="right"  header-align="center"  :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="right"  header-align="center"  :formatter="rateFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="totalAmount" label="价税合计" align="right"  header-align="center"  :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center" :formatter="formatDate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="checkCode" label="校验码" align="center" header-align="center"  ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="id" label="操作" class-name="noSpotSpotSpot" align="center">
                <template scope="scope">
                    <a  @click="deleteInvoice(invoiceData,scope.row)"><span class="column-span" style="color: black">删除</span></a>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <div>
        <div style="float: left; font-size: larger">
            &nbsp;&nbsp;&nbsp;&nbsp;当前选中{{totalInvoiceCount}}张发票，所选发票的总金额：{{totalInvoiceAmount}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  当前选中{{totalOrderCount}}张订单单，所选订单单的总金额：{{totalOrderAmount}}
        </div>
        <div style="float: right; padding-right: 0.4rem">
            <el-button id="submitId" class="btnexport" style="font-size: 0.2rem" @click="submitAll()">保存匹配</el-button>
        </div>
    </div>


    <el-dialog title="匹配失败" :visible.sync="showConfirm" :close-on-click-modal="false" :before-close="closeConfirm">

        <div><span>您选择的发票、订单的不符合匹配关系！</span></div>
        <div>
            <el-radio v-model="choose" label="1">重新选择发票及订单
            </el-radio>
        </div>
        <div><el-radio v-model="choose" label="2">申请提交问题单
        </el-radio>
        </div>
        <span slot="footer" class="dialog-footer">
            <button class="btn btnexport" style="background-color: white" type="button" @click="failedConfirm">确 认</button>
            <button class="btn btnexport" style="background-color: white" type="button" @click="showConfirm = false">取 消</button>
        </span>
    </el-dialog>

    <el-dialog title="选择结算方式" :visible.sync="showMethod" :close-on-click-modal="false" :before-close="closeMethod">

        <div><span>请您选择一种问题单类型！</span></div>
        <div  v-for="item in questionTypeArray"  >
            <div v-if="matchFalidType==0">
                <div v-if="item.value != 'GYSBYZ'">
                    <el-radio v-model="methodCheck" :label="item.value">{{item.label}}
                    </el-radio>
                </div>
            </div>
            <div v-if="matchFalidType==1">
                <div v-if="item.value == 'GYSBYZ'">
                    <el-radio v-model="methodCheck" :label="item.value">{{item.label}}
                    </el-radio>
                </div>
            </div>
        </div>
        <!--<div><input name="methodCheck" value="2" type="radio"/>按发票结算</div>-->
        <span slot="footer" class="dialog-footer">
            <button class="btn btnexport" style="background-color: white" type="button" @click="methodConfirm">确 认</button>
            <button class="btn btnexport" style="background-color: white" type="button" @click="showMethod = false">取 消</button>
        </span>
    </el-dialog>

    <el-dialog title="上传问题单" :visible.sync="showImgWin" :close-on-click-modal="false" :before-close="closeImgWin">
        <el-form ref="fileForm" v-model="fileForm" enctype="multipart/form-data">
            <el-row>
                <el-col :span="14">
                    <input id="fileId" type="file" style="margin-top: 0.1rem"/>
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button id="uploadBtn" class="btnexport"  @click="uploadFile()" :loading="uploadLoading">上传</el-button>
                </el-col>
            </el-row>
        </el-form>
        <el-table border fit :data="fileData" highlight-current-row style="width: 100%;font-size: 0.12rem;">
            <el-table-column :show-overflow-tooltip="true"  type="index"  label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="fileName" label="文件名称" align="left" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="id" label="操作" class-name="noSpotSpotSpot" align="center" >
                <template scope="scope">
                    <a  @click="deleteFile(fileData,scope.row)"><span class="column-span" style="color: black">删除</span></a>
                </template>
            </el-table-column>
        </el-table>

        <span slot="footer" class="dialog-footer">
            <button class="btn btnexport" style="background-color: white" type="button" @click="fileConfirm">确 认</button>
            <button class="btn btnexport" style="background-color: white" type="button" @click="showImgWin = false">关 闭</button>
        </span>
    </el-dialog>
</div>
</body>
    <script src="../../js/modules/fixed/match.js"></script>
</html>