
<!DOCTYPE html>
<html lang="ZH">
<head>
    <title>SAP待确认处理</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }

    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<style type="text/css">
    .btn-row2 {
    }
    td{
        position: relative;
    }

    span[name*="invoiceLog"] table tr td{
        display: inline;
    }
    .el-dialog__header{
        background: #333333;
        color: white;
    }
    .el-dialog__header span,.el-dialog__header i{
        color: white !important;
    }
    .el-form-item__error{
        line-height: 1.2 !important;
    }
</style>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <div>
        <el-form ref="form" :model="form" :rules="rules" label-width="1.0rem">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="JV:">
                        <el-select id="gf-select" v-model="form.jvCode" filterable @focus="gfNameFocus" @blur="gfNameBlur">
                            <el-option
                                    v-for="item in gfs"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                            </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="供应商号:">
                        <el-input class="inline-input" v-model="form.venderId" :maxlength="6"
                                  placeholder="请输入供应商号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="发票号码:">
                        <el-input v-model="form.invoiceNo" maxlength="8" placeholder="请输入发票号码"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="公司代码:">
                        <el-input v-model="form.companyCode" maxlength="8" placeholder="请输入公司代码"></el-input>
                    </el-form-item>
                </el-col>

            </el-row>
            <el-row>
                <el-col :span="1" :offset="1" class="btn-row2 ">
                    <el-button class="btnexport" @click="query('form')">查询</el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
    <hr>
    <div>
        <div align="left" style="float:left;font-size: 0.18rem; margin-top:0.09rem"></div>
    </div>

    <el-table height="4rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中">
        <el-table-column :show-overflow-tooltip="true"  type="index"  :index="mainIndex" label="序号" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true" prop="jvCode" label="JV" align="center" :formatter="dateFormat"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="companyCode" label="公司代码" align="center" header-align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="venderId" label="供应商号" align="center" header-align="center"  >
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="140" prop="invoiceCode" label="发票代码" align="center"  header-align="center"  >
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="140" prop="invoiceNo" label="发票号码" align="center"  header-align="center"  >
            <template scope="scope">
                <span>{{ scope.row.invoiceNo }}</span>
                <el-tooltip class="item" effect="dark" placement="top-start">
                    <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                    <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png" />
                    <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                    <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                    <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                    <img   v-if="scope.row.invoiceType=== '04' "
                           style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                    <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                    <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                    <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                    <img   v-if="scope.row.invoiceType=== '11' "
                           style="height:0.2rem;" src="../../img/roll-invoice.png" />
                    <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                    <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="140" prop="invoiceDate" label="开票日期" align="center" :formatter="dateFormat" >
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="120" prop="invoiceAmount" label="金额" align="center" header-align="center"  :formatter="numberFormat" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="120" prop="taxAmount" label="税额" align="center" header-align="center"  :formatter="numberFormat" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="id" width="150" label="操作" class-name="noSpotSpotSpot" align="center" >
            <template scope="scope">
                <a  @click="matchSuccess(scope.row)"><span class="column-span" style="color: black">SAP匹配成功</span></a>
                <a  @click="refund(scope.row)"><span class="column-span" style="color: black">退票</span></a>

            </template>
        </el-table-column>
    </el-table>
    <el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                       :current-page="currentPage" :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                       layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>
    </el-col>

    <el-dialog title="退票原因" :visible.sync="rejectWin" :before-close="rejectWinClose" :close-on-click-modal="false">
        <el-form ref="rejectForm" :model="rejectForm" label-width="1.45rem">
            <div class="form-row" style="width: 100%">
                <el-form-item label="退票原因:" label-width="1.3rem" prop="reason" style="width:100%;"
                              :rules="[{ required: true, message: '退票原因不能为空'}]">
                    <el-input type="textarea" :autosize="{ minRows: 3}" maxlength="200"
                              v-model="rejectForm.reason"></el-input>
                </el-form-item>
            </div>
        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button class="btnexport" @click="submitReason">确 定</el-button>
            <el-button class="btnexport" @click="rejectWinClose">取消</el-button>
        </span>
    </el-dialog>
</div>
</body>
<script src="../../js/modules/fixed/sapUnconfirm.js"></script>
</html>