
html {
    overflow-x: hidden;
}

.content-header {
    position: relative;
    padding: 0 0 0.03rem 0.08rem
}

html[lang*='ZH'] {
    padding-top: 0.2rem;
}

.content-header > .breadcrumb {
    position: relative;
    top: 0;
    right: 0;
    float: none;
    margin-top: 0.0rem;
    padding-left: 0.1rem;
    /*background: #ecf0f5;*/
}

.main-footer {
    text-align: center;
    padding: 0.07rem;
    color: #444;
    border-top: 0.01rem solid #eee;
}

[v-cloak] {
    display: none;
}

.grid-btn {
    margin-bottom: 0.12rem;
}

.grid-btn .btn {
    margin-right: 0.1rem;
}

.pointer {
    cursor: pointer;
}

.ml-10 {
    margin-left: 0 !important;
}

/*@media (min-width: 7.68rem) {
    .ml-10 {
        margin-left: 0.1rem !important;
    }

    .col-sm-10 {
        width: 70%;
        padding-left: 0.0rem;
    }

    .col-sm-2 {
        width: 24%;
    }
}*/

tbody > tr > th {
    font-weight: normal;
}

.panel .table {
    margin: 0 0;
}

.panel .pagination {
    margin: 0;
}

.panel-default > .panel-heading {
    background-color: #f5f5f5;
}

.row {
    margin: 0;
    padding: 0.2rem 0.02rem 0.0rem 0.02rem;
}

.col-xs-6 {
    padding-left: 0.0rem;
    padding-right: 0.0rem;
}

.form-horizontal .form-group {
    margin-left: 0.0rem;
    margin-right: 0.0rem;
}

.form-horizontal {
    width: 5.5rem;
    padding-top: 0.2rem;
}

/*start*/
label{
    white-space: nowrap;
}
.el-form--inline .el-form-item__label, .el-form-item__label {
    font-size: 0.16rem !important;
    letter-spacing: -0.0043rem !important;
    color: #333333 !important;
    font-family: PingFangSC-Regular !important;
}

.el-input__inner {
    border-radius: 0 !important;
}

.el-form-item.is-success .el-input__inner, .el-form-item.is-error .el-input__inner {
    border-color: #dcdfe6;
}

.el-select .el-input__inner:focus, .el-input__inner:focus, .el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #ffc653 !important;
}

.el-input--prefix .el-input__inner {
    padding-left: 0.1rem !important;
}

.el-input__suffix {
    right: 0 !important;
    width: 0.4rem;
    height: 0.4rem;
    border: 0.01rem solid #FFC653;
    color: #FFC653 !important;
    z-index: 1;
}

.total {
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.18rem;
    font-family: PingFangSC-Regular;
    letter-spacing: -0.0043rem;
    margin-bottom: 0.1rem;
}

.el-table thead {
    color: #333333 !important;
    font-size: 0.18rem;
}

.el-select .el-input .el-select__caret {
    color: #ffc653;
}

.el-form--inline .el-form-item {
    margin-bottom: 0.15rem;
}

.el-form--inline .el-form-item:last-child {
    width: auto;
}

.el-date-editor .el-range__icon, .el-input__prefix {
    color: #ffc653;
}

.el-input__prefix {
    left: auto !important;
    right: 0.06rem;
    color: #ffc653 !important;
}

.el-icon-arrow-up:before {
    color: inherit;
}

.el-col-12, .el-date-editor.el-input {
    width: auto;
}

.el-col-2 {
    text-align: center;
    color: #DEDEDE;
}

.el-date-editor.el-input {
    width: 100%;
}

.h15 {
    height: 0.01rem;
}

.el-button--text {
    color: #333333;
}

.el-button:focus {
    background-color: white;
}

.el-button--text:hover {
    background-color: transparent;
    border: 0.01rem solid white;
    color: #333333;
    text-decoration: underline;
}
.el-icon-date {
    font-size: 0.2rem;
}

.el-input__prefix {
    z-index: 2;
}

input {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
hr{
    margin-top: 0.1rem !important;
    margin-bottom: 0.1rem !important;
}
.el-row > div:first-child .el-select input {
    padding-right: 0.4rem !important;
    cursor: text !important;
}

html[lang*="ZH"] #rrapp, html[lang*="ZH"] #vm, html[lang*="ZH"] #invoice_check_history, html[lang*="ZH"] #invoice_check, html[lang*="ZH"] #invoice_check_history {
    padding-left: 0.15rem;
    padding-right: 0.15rem;
}

.checkMsg {
    font-size: 0.12rem;
    position: absolute;
    white-space: nowrap;
    color: #ff3563;
}
.layui-layer-molv .layui-layer-title{
    background: #FFAA00 !important;
    color: #333333 !important;
}
.label-success{
    background-color: #FFAA00 !important;
    color: #333333 !important;
}
/*table style*/
table a {
    color: #ffaa00;
}

table a:hover {
    color: #ffaa00;
}

.ui-jqgrid-hdiv {
    background-color: #FFD98B;
}

.table > thead > tr > th.active {
    background-color: #FFD98B;
}

.ui-jqgrid .ui-jqgrid-htable thead th {
    padding-right: 0;
}

.table-bordered {
    border: none;
}

.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
    height: auto;
}

td {
    text-overflow: ellipsis;
}
td em{
    font-size: 0.16rem;
    font-weight: bold;
    font-style: normal;
    color: black;
}

.ui-jqgrid tr:nth-child(even), .el-table tr:nth-child(even) {
    background-color: #f6f6f6 !important;
}

th, thead {
    font-size: 0.18rem !important;
    border: none !important;
    margin-top: 0 !important;
    font-family: PingFangHK-Semibold !important;
    font-weight: bold !important;
}

.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
    padding-right: 0;
}

#jqGrid_cb {
    padding: 0;
}


/*.el-dialog__body .row{
    background: url(../img/shuiyin.png) repeat;
}*/
.fpmxBackgroundImg{
    background: url(../img/shuiyin.png) repeat;
}


.el-dialog__body .col-xs-9>div>span{
    width: auto !important;
    white-space: nowrap;
    margin-left: 0.15rem;
}
.col-xs-9{
    padding-left: 0.05rem;
    padding-right: 0.05rem;
}
.col-xs-3>table{
    border:0.01rem solid;
}
.el-dialog__body .col-xs-9>form>div:first-child{
    font-weight: bold;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #ffc653 !important;
}

.el-table .cell {
    white-space: nowrap !important;
}

.cell button span {
    font-size: 0.12rem;
}

/*.table>thead>tr>th{*/
/*padding-left: 0;*/
/*text-align: center;*/
/*}*/
table a, table a:hover {
    cursor: pointer;
    color: #333333;
}

td {
    background-color: inherit !important;
}
.el-dialog__body td,.el-dialog__body tr,.el-dialog__body tbody,.el-dialog__body table{
        border-color: #cfcfcf !important;
}
.el-dialog__body .col-xs-9 table{
    border: none;
}
.formTitle{
    color: black;
    font-size: 0.2rem;
    font-weight: bold;
    font-family: normal;
}
.detailFormList td{
    border-top: none;
    border-bottom: none;
    color: rgb(101, 90, 166) !important;
}
.detailFormList>tbody>tr:first-child td{
    color: black !important;
    border-bottom: 0.01rem solid;
}
.formScroll{
    height: 3.0rem;
    overflow-y: scroll;
}
.detailFormList{
    width: 100% !important;
}
.detailFormList>tbody tr{

}
/*btn style*/
.btnexport {
    /*width: 0.8rem;*/
    padding: 0 0.25rem;
    border-color: #ffaa00 !important;
    border-radius: 0.02rem !important;
    color: #ffaa00 !important;
    text-align: center !important;
    line-height: 0.3rem !important;
    margin-top: 0.04rem !important;
}
.btncancel {
    width: 0.8rem;
    border-color: #999999 !important;
    border-radius: 0.02rem !important;
    color: #999999 !important;
    text-align: center !important;
    padding: 0 !important;
    line-height: 0.3rem !important;
    margin-top: 0.04rem !important;
}

.btncannel:hover {
    background: #333333 !important;
    color: white !important;
    text-align: center;
}

.btnexport:hover {
    background: #ffaa00 !important;
    color: #333333 !important;
    text-align: center;
}
.btn:focus{
    outline: none;
}
.el-button--primary {
    background-color: white !important;

}

.layui-layer-btn0 {
    background-color: #ffffff !important;
    border-color: #ffaa00 !important;
    color: #ffaa00 !important;
}

.layui-layer-btn1 {
    border-color: #999999 !important;
    background-color: white !important;
}

.is-focus span.el-input__suffix {
    background-color: #ffaa00;
}

.el-select .el-input .el-select__caret.is-reverse {
    color: #333333 !important;
}

.el-button.is-disabled, .el-button.is-disabled:hover {
    color: #c0c4cc !important;
    background-image: none !important;
    background-color: #FFFFFF !important;
    border-color: #ebeef5 !important;
}

/*out body style*/
.el-pagination span.el-input__suffix {
    width: auto;
    height: auto;
}

.content-wrapper, .right-side {
    background-color: white;
}

/*scroll*/
.wrapper {
    overflow-y: hidden !important;
}

/*iframe::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
    background: transparent;
}*/

/*body{
    padding-right: 0.15rem;
    padding-left: 0.15rem;
}*/
/*page style*/
.toolbar span:first-child {
    line-height: 0.31rem !important;
}

.toolbar > div > span:first-child {
    color: #333333 !important;
}

.toolbar .el-select span.el-input__suffix {
    border: none;
}

/*org tree*/
.ztree li ul {
    padding: 0;
}

.ztree li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-color: #F7F7F7;
    margin: 0;
    height: 0.45rem;
    line-height: 0.45rem;
}
.ztree>li.level0>ul.level0>li.level1>a.level1{
    background-color: #f7f7f7;
}
.ztree>li.level0>ul.level0>li.level1>ul.level1>li.level2>a.level2{
    background-color: #f2f1f1;
}
.ztree>li.level0>ul.level0>li.level1>ul.level1>li.level2>ul.level2>li.level3>a.level3{
    background-color: #ebebeb;
}
.ztree>li.level0>ul.level0>li.level1>ul.level1>li.level2>ul.level2>li.level3>ul.level3>li.level4>a.level4{
    background-color: #e5e5e5;
}
.ztree>li.level0>ul.level0 li a.curSelectedNode{
    background-color: #ffaa00 !important;
}
#orgTree span, #menuTree span {
    top: 0.1rem;
}

.ztree li a.curSelectedNode {
    height: auto;
}

/*#orgTree li a{
    padding-top: 0.1rem;
    padding-bottom:0.1rem;
    background-color: #ffe8ba;
}*/
.grid-content span {
    font-size: 0.18rem;
    font-family: PingFangHK-Semibold;
}

#orgTree_1 > a {
    text-align: left;
    background-color: white;
    color: #ffaa00;
}
/*el*/
/*media*/
.el-col-2{
             width: 8%;
         }/*日期控件中间的—*/
.el-col-3{
    width: 5%;
}/*查询条件按钮（暂定）*/
.el-col-4{
    width: 7%;
}
.el-col-7{
    width: 16%;
}
.el-col-6{
    width: 22%;
}
.el-col-12{
    width: 18%;
}/*一般查询条件框*/
.el-col-14{
    width: 38%;
}/*日期查询框*/
.el-col-13{
    width:46%;
}/*日期查询框内单个日期控件*/
.el-col-offset-1{
    margin-left: 1%;
    /*间距值*/
}
.el-col-15{
    width: 32%;
}
/*@media screen and (max-width: 16.6rem) {
    .el-col-2{
        width: 8%;
    }*//*日期控件中间的—*//*
    .el-col-3{
        width: 5%;
    }*//*查询条件按钮（暂定）*//*
    .el-col-4{
        width: 7%;
    }
    .el-col-12{
        width: 18%;
    }*//*一般查询条件框*//*
    .el-col-14{
        width: 38%;
    }*//*日期查询框*//*
    .el-col-13{
        width:46%;
    }*//*日期查询框内单个日期控件*//*
    .el-col-offset-1{
        margin-left: 1%;
        *//*间距值*//*
    }
    .el-col-15{
        width: 32%;
    }

}@media screen and (max-width: 11.8rem) {
    *//*.el-col-2{
        width: 8%;
    }!*日期控件中间的—*!
    .el-col-3{
        width: 15%;
    }!*查询条件按钮（暂定）*!
    .el-col-12{
        width: 33%;
    }!*一般查询条件框*!
    .el-col-14{
        width: 50%;
    }!*日期查询框*!
    .el-col-13{
        width:36%;
    }!*日期查询框内单个日期控件*!
    .el-col-offset-1{
        !*width值为4.16667%*!
    }
    .el-select{
        width: 100%;
    }*//*
    .el-form--inline .el-form-item__label, .el-form-item__label {
        font-size: 0.15rem !important;
        letter-spacing: -0.01rem !important;
    }
    .el-input__inner{
        height: 0.3rem;
    }
    .grid-content span{
        font-size: 0.16rem;
    }
    .el-input__suffix {
        width: 0.3rem;
        height: 0.3rem;
        top:0.05rem;
        line-height: 0.3rem;
        font-size: 0.16rem;
    }
    .el-input__prefix{
        right: 0.02rem;
    }

    .btnexport{
        padding: 0 0.17rem;
        font-size: 0.13rem;
        line-height: 0.24rem !important;
        margin-top: 0.06rem !important;
    }
    .el-dialog__body td span,.el-dialog__body td{
        font-size: 0.12rem !important;
    }
    .col-xs-9 span{
        font-size: 0.12rem;
    }
    .el-dialog__body .col-xs-9>div span{
        white-space: nowrap;
    }
}*/
.el-pagination__sizes>.el-select>div:first-child span.el-input__suffix{
    top:0
}
/*@media screen and (max-width: 11.06rem) {
    *//*.el-col-2{
        width: 10%;
    }!*日期控件中间的—*!
    .el-col-3{
        width: 100%;
    }!*查询条件按钮（暂定）*!
    .el-col-12{
        width: auto;
    }!*一般查询条件框*!
    .el-col-14{
        width: 100%;
    }!*日期查询框*!
    .el-col-13{
        width:45%;
    }!*日期查询框内单个日期控件*!
    .el-col-offset-1{
        margin-left: 0.0rem;
        !*width值为4.16667%*!
    }
    .el-select{
        width: 100%;
    }*//*
    .el-col-3{
        width: 6%;
    }*//*查询条件按钮（暂定）*//*
    .el-col-4{
        width: 9%;
    }
    .el-form--inline .el-form-item__label, .el-form-item__label {
        font-size: 0.14rem !important;
        letter-spacing: -0.0143rem !important;
    }
    .el-input__inner{
        height: 0.26rem;
    }
    .grid-content span{
        font-size: 0.15rem;
    }
    .el-input__suffix {
        width: 0.26rem;
        height: 0.26rem;
        top:0.07rem;
        line-height: 0.26rem;
        font-size: 0.15rem;
    }
    .el-input__prefix{
        right: 0;
    }
    .el-icon-date{
        font-size: 0.16rem;
    }
    .btnexport{
        padding: 0 0.12rem;
        font-size: 0.12rem;
        line-height: 0.24rem !important;
        margin-top: 0.08rem !important;
    }
    .el-row > div:first-child .el-select input {
        padding-right: 0.07rem !important;
        padding-left: 0.01rem !important;
    }
    .el-input{
        font-size: 0.12rem;
    }
    th, thead {
        font-size: 0.14rem !important;
    }
    .el-dialog__body .col-xs-9>div:last-child span{
        white-space: nowrap;
    }
}

*//*兼容ie11样式*//*
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none) and (max-width:11.8rem) {
    .el-input__suffix {
        top:0.03rem;
    }
    .el-input__prefix{
        top:-0.05rem;
    }
    input{
        line-height: 0.3rem !important;
    }
}
@media print{

}*/














































*{
    font-size:0.140rem;
}
/*验证码大小*/
.form-group>.col-xs-4>img{
    height:0.450rem;
}
/*icon图片大小*/
.customer-login-input-group>.input-group-addon>i{
    background-size: 100% 100%;
    width: .2rem !important;
    height: .26rem !important;
}.col-xs-5>.customer-login-input-group>.input-group-addon>i{
     width: .26rem !important;
 }
 /*进项税发票管理平台字体*/
.navbar-brand strong {
    font-size: .25rem !important;
}.customer-login-box-msg>strong{
    font-size:.22rem !important;
}

/*左侧树字体大小*/
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li > a, .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li:hover > a span, .skin-blue .sidebar-menu > li > a span, .skin-blue .sidebar-menu > li.active > a span {
    font-size: .16rem !important;
}

.navbar-nav>li>a>img{
        height: 0.2rem !important;
        width: 0.2rem !important;
}
#showMonth,#showDay{
    font-size:0.160rem;
}
body{
    margin:0rem !important;
}
.el-form-item {
    margin-top:0.1rem !important;
    margin-bottom: 0.1rem !important;
}
.el-form-item__content{
    line-height:0.15rem !important;
}
.btnexport{
    margin-top:0.090rem !important;
    margin-bottom: 0.1rem !important;
}.btncancel{
    margin-top:0.090rem !important;
    margin-bottom: 0.1rem !important;
}
#Scanner{
    display:none;
}.el-form--inline .el-form-item__label, .el-form-item__label {
     font-size: 0.15rem !important;
 }
 .sidebar-menu .treeview-menu > li > a {
     font-size: 0.16rem !important;
 }
 .main-sidebar, .left-side {
      width: 1.9rem !important;
 }
 .content-wrapper, .right-side, .main-footer {
     margin-left: 1.9rem !important;
 }
 .el-col-8 {
     width: 22% !important;
 }
.content-header > .breadcrumb{
    margin-bottom:-0.120rem;
}
.body .demo-class2 .layui-layer-setwin a {
    background-size: 100% 100%;
}
hr{
    display:none;
    margin-top:0rem !important;
    margin-bottom:0rem !important;
}.el-tag--success{
    height:0.350rem;
    line-height:0.35rem;
}.grid-content span{
    font-size:0.15rem;
}.grid-content{
    min-height:0.2rem !important;
}.el-tag--success{
    margin-bottom:0.1rem;
}.el-form-item{
    margin-top:0.050rem !important;
    margin-bottom:0.10rem !important;
}.el-col-1{
    width:auto !important;
}

.floatright{
    float:right;
}.total {
     height: 0.2rem !important;
}.el-input--suffix .el-input__inner {
     padding-right: 0.4rem;
 }
.el-radio{
     line-height:0.4rem !important;
}

.legend{
    position: absolute;
    top: -0.15rem;
    background-color: #fff;
    width: 1rem;
    padding-left: 0.14rem;
    border-bottom: 0px solid #000 !important;
    font-size: 0.18rem;
    letter-spacing: 0.015rem;
}
.fieldset{
    border: 1px solid #ccc;
    margin: 0.1rem;
    padding: 0.1rem;
    padding-top: 0.2rem;
    position: relative;
    border-radius: 0.05rem;
    margin-top:0.2rem;
}.el-col-2{
    margin-top:0.1rem;
}.el-table th>.cell {
     text-overflow: clip !important;
}

.el-scrollbar__wrap {
    margin-bottom: -0.13rem !important;
    margin-right: -0.15rem !important;}


.layui-layer-ico.layui-layer-close.layui-layer-close1{
    display:none !important;
}
.noSpotSpotSpot,.noSpotSpotSpot .cell{
    text-overflow: clip !important;
}
.cell{
    text-overflow: clip !important;
}
tr>td:last-child>div{
    padding-right:0.25rem !important;
}

 #zdh{
    color: #eee;
    position: absolute;
    top: 90px;
    left: 597px;
    font-size: 16px;
    letter-spacing: 0px;
 }
.el-form-item__error {
    line-height: 0.5 !important;
    padding-top: 0rem !important;
    }

.el-pagination__sizes .el-input__inner{
    height:0.28rem !important
}