.idea
*.iml
target
*.class
/wapp-common/src/main/resources/rebel.xml
/wapp-core/src/main/resources/rebel.xml
/wapp-domain/src/main/resources/rebel.xml
/wapp-generator/src/main/resources/rebel.xml
*.class
.DS_Store
E:
/.settings/
/.gitignore
/.project
/.classpath

/wapp-common/.settings/
/wapp-common/.project
/wapp-common/.classpath

/wapp-core/.settings/
/wapp-core/.project
/wapp-core/.classpath

/wapp-domain/.settings/
/wapp-domain/.project
/wapp-domain/.classpath
