<!DOCTYPE html>
<html lang="en">
<head>
    <title>Host定时任务维护</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">
        .headData{
            line-height: 0.4rem;
        }
        .hideItem {
            display: none;
        }

        .showItem {
            display: block;
        }
        .el-col-14 {
            width: 55%;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<body>

<div id="rrapp" v-cloak>
    <div id="appForm">
        <el-form  :model="form" class="demo-form-inline" label-width="1.1rem">
            <el-col :span="1" :offset="1">
                <el-button class="btnexport" @click="query">查询</el-button>
            </el-col>
        </el-form>

        <el-form  :model="form" class="demo-form-inline" label-width="1.1rem">
            <el-col :span="1" :offset="1">
                <el-button class="btnexport" @click="openRecordIn">补录</el-button>
            </el-col>
        </el-form>
    </div>
    <hr>
    <el-table height="4rem" border fit :data="hostTaskData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中">

        <el-table-column :show-overflow-tooltip="true"  type="index" width="70" label="序号"  align="center">

        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="id" label="id" :min-width="200" align="center" :show-overflow-tooltip="true" >
            <template scope="scope">
                <span v-if="scope.row.result=== 'exception'" style="color: red">{{scope.row.id}}</span>
                <span v-if="scope.row.result=== 'start'" style="color: blue">{{scope.row.id}}</span>
                <span v-if="scope.row.result=== 'end'" style="color: green">{{scope.row.id}}</span>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="taskName" label="taskName" :min-width="200" align="center" header-align="center">
            <template scope="scope">
                <span v-if="scope.row.result=== 'exception'" style="color: red">{{scope.row.taskName}}</span>
                <span v-if="scope.row.result=== 'start'" style="color: blue">{{scope.row.taskName}}</span>
                <span v-if="scope.row.result=== 'end'" style="color: green">{{scope.row.taskName}}</span>
            </template>
        </el-table-column>

        <el-table-column :show-overflow-tooltip="true"  prop="taskTime" label="taskTime" align="right"  :min-width="160" header-align="center" >
            <template scope="scope">
                <span v-if="scope.row.result=== 'exception'" style="color: red">{{scope.row.taskTime}}</span>
                <span v-if="scope.row.result=== 'start'" style="color: blue">{{scope.row.taskTime}}</span>
                <span v-if="scope.row.result=== 'end'" style="color: green">{{scope.row.taskTime}}</span>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="result" label="result" align="right"  :min-width="160" header-align="center" >
            <template scope="scope">
                <span v-if="scope.row.result=== 'exception'" style="color: red">{{scope.row.result}}</span>
                <span v-if="scope.row.result=== 'start'" style="color: blue">{{scope.row.result}}</span>
                <span v-if="scope.row.result=== 'end'" style="color: green">{{scope.row.result}}</span>
            </template>
        </el-table-column>

        <el-table-column :show-overflow-tooltip="true"  prop="params1" label="params1" align="right" :min-width="160" header-align="center" >
            <template scope="scope">
                <span v-if="scope.row.result=== 'exception'" style="color: red">{{scope.row.params1}}</span>
                <span v-if="scope.row.result=== 'start'" style="color: blue">{{scope.row.params1}}</span>
                <span v-if="scope.row.result=== 'end'" style="color: green">{{scope.row.params1}}</span>
            </template>
        </el-table-column>

    </el-table>
    <el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination layout="slot, sizes,prev,pager,next" background
                       :current-page.sync="currentPage" :page-size="pageSize" :total="total" :page-size="pageSize" :page-sizes="pageList" @size-change="handleSizeChange"
                       :page-count="totalPage" @current-change="currentChange" style="float:right">
        </el-pagination>
        <span style="float: right;margin-top: 0.4%">共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
    </el-col>
    <el-dialog width="70%" :visible.sync="addHostDataShow" :before-close="addHostDataCancel"
               title="Host数据补录" :close-on-click-modal="false" class="titleDetail">
        <div id="appForms">
            <el-form ref="addHostDataForm" :model="addHostDataForm" class="demo-form-inline" label-width="1.1rem">
                <el-row>
                    <el-col :span="13">
                        <el-form-item label="补录日期:" class="form-item" id="requireMsg3">
                            <el-row>
                                <el-col :span="13">
                                    <el-date-picker  type="date" :editable="false"  id="datevalue1" @blur="blurpickerchange(1)" @focus="focuspickerchange(1)" @change="taskDateChange" :clearable="false" placeholder="选择日期" v-model="addHostDataForm.taskDate" format="yyyy-MM-dd" value-format="yyyy-MM-dd"  ></el-date-picker>
                                </el-col>
                            </el-row>
                        </el-form-item>
                    </el-col>

                    <el-col  style="height: 0.6rem; " :span="15" >
                    <el-form-item label="供应商号:"  prop="vendorId" :maxlength="6">
                        <el-input ref="vendorId"  v-model="addHostDataForm.vendorId"  placeholder="请输入供应商号"  ></el-input>
                    </el-form-item>
                </el-col>

                    <!--<el-col  style="height: 0.6rem; " :span="15" >-->
                        <!--<el-form-item label="任务类型:"  prop="type" :maxlength="6">-->
                            <!--<el-input ref="type"  v-model="addHostDataForm.type"  placeholder="任务类型"  ></el-input>-->
                        <!--</el-form-item>-->
                    <!--</el-col>-->

                    <el-col :span="15">
                        <el-form-item label="任务类型:">
                            <el-select v-model="addHostDataForm.type">
                                <el-option label="订单" value="po" selected></el-option>
                                <el-option label="索赔" value="claim"></el-option>
                                <!--<el-option label="预匹配" value="1"></el-option>-->
                                <el-option label="发票" value=invoice></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>

                    <el-col style="height: 0.6rem; " :span="15" >
                        <el-form-item label="密钥:"  prop="thiskey"  :rules="[{ required: false, message: '密钥不能为空', trigger: 'blur' }]">
                            <el-input ref="thiskey"  v-model="addHostDataForm.thiskey"  placeholder="请输入密钥"  ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>


            </el-form>
        </div>
        <hr>
        <span slot="footer" class="dialog-footer">
                <el-button class="btnexport" @click="addHostDataSave('addHostDataForm')">补录</el-button>
            </span>
    </el-dialog>

</div>

<script type="text/javascript" charset="utf-8" src="../../js/modules/job/hostschedule.js"></script>




</body>
</html>