
<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">


        [v-cloak] {
            display: none;
        }
        .el-table .cell{
            white-space: nowrap !important;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<style type="text/css">

    .hideItem {
        display: none;
    }

    .showItem {
        display: block;
    }




    .el-input__inner {
        border-radius: 0;
    }


    .cycleorange {
        position: relative;
        color: #333333;
        text-align: center;
    }

    .cycleorange > div {
        width: 0.3rem;
        height: 0.3rem;
        font-weight: 700;
        border-radius: 50%;
        background-color: #ffaa00;
        line-height: 0.3rem;
        position: absolute;
        top: -0.15rem;
        left: 50%;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -moz-transform: rotate(90deg); /* Firefox */
        -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
        -o-transform: rotate(90deg); /* Opera */
        cursor: pointer;
    }
    td{
        position: relative;
    }
    .col-xs-9, .col-xs-3 {

    }
    span[name*="invoiceLog"] table tr td{
        display: inline;
    }
</style>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <div>
        <el-form ref="claimquery" :model="claimquery" label-width="1.0rem" style="padding-top: 0.2rem">
            <el-row>
            	<el-col :span="12">
                    <el-form-item label="JVCODE:"  prop="jvcode">
                        <el-input ref="jvcode"  v-model="claimquery.jvcode"  placeholder="请输入JVCODE":maxlength="16"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="索赔单号:"  prop="claimno">
                        <el-input ref="claimno"  v-model="claimquery.claimno"  placeholder="请输入索赔号":maxlength="16" onkeyup="verificationClaimNoValue(this);"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="发票号:" prop="invoiceNo">
                        <el-input class="inline-input" v-model="claimquery.invoiceNo"
                                  placeholder="请输入发票号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="14">
                    <el-form-item label="定案日期:" class="form-item" id="requireMsg2">
                        <el-row>
                            <el-col :span="13">
                                <el-date-picker  type="date" :editable="false"   id="datevalue1" @blur="blurpickerchange(1)" @focus="focuspickerchange(1)" @change="poDate1Change" :clearable="false" placeholder="选择日期" v-model="claimquery.poDateStart" format="yyyy-MM-dd" value-format="yyyy-MM-dd" :picker-options="poStartDateOptions" ></el-date-picker>
                            </el-col>
                            <el-col :span="2">—</el-col>
                            <el-col :span="13">
                                <el-date-picker type="date" :editable="false"  id="datevalue2" @blur="blurpickerchange(2)" @focus="focuspickerchange(2)" :clearable="false" @change="poDate2Change" placeholder="选择日期" v-model="claimquery.poDateEnd" format="yyyy-MM-dd" value-format="yyyy-MM-dd" :picker-options="poEndDateOptions"></el-date-picker>
                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="匹配状态:">
                        <el-select v-model="claimquery.matchstatus">
                            <el-option label="全部" value="-1" selected></el-option>
                            <el-option label="未匹配" value="0"></el-option>
                            <!--<el-option label="预匹配" value="1"></el-option>-->
                            <el-option label="部分匹配" value="2"></el-option>
                            <el-option label="完全匹配" value="3"></el-option>
                            <el-option label="差异匹配" value="4"></el-option>
                            <el-option label="匹配失败" value="5"></el-option>
                            <el-option label="取消匹配" value="6"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" @click="query('claimquery')">查询</el-button>
                </el-col>
                <el-col :span="1" :offset="1" >
                    <el-button id="export_btn" disabled class="btnexport" @click="exportExcel">导出</el-button>
                </el-col>
            </el-row>
            <!--<el-row>-->
                <!--<el-col>-->
                    <!--<el-table-column :show-overflow-tooltip="true"  prop="hoststatus" label="沃尔玛状态"  align="center" header-align="center">-->
                        <!--<template scope="scope">-->
                            <!--<span v-if="scope.row.hoststatus=== null" >未处理</span>-->
                            <!--<span v-if="scope.row.hoststatus=== ''" >未处理</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '0'" >未处理</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '1'" >未处理</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '5'" >已处理</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '10'" >未处理</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '13'" >已删除</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '14'" >待付款</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '11'" >已匹配</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '12'" >已匹配</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '15'" >已付款</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '19'" >已付款</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '9'" >待付款</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '99'" >已付款</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '999'" >已付款</span>-->
                            <!--<span v-if="scope.row.hoststatus=== '8'" >HOLD</span>-->
                        <!--</template>-->
                    <!--</el-table-column>-->
                <!--</el-col>-->
            <!--</el-row>-->
        </el-form>
    </div>
    <hr>


    <el-table height="4rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中">
        <el-table-column :show-overflow-tooltip="true"  type="selection" width="55" class="selection" label="选择" align="center" prop='id'></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  type="index" width="70" label="序号" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="venderid" label="供应商号"  align="center" header-align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="exchangeno" label="门店号"  align="center" header-align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="dept" label="部门号"  align="center" header-align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="jvcode" label="JVCODE"  align="center" header-align="center"></el-table-column>

        <el-table-column :show-overflow-tooltip="true"  prop="claimno" label="索赔单号"  align="left" header-align="center"></el-table-column>
        <!--<el-table-column :show-overflow-tooltip="true"  prop="postdate" label="日期" align="center" :formatter="postdateFormat"></el-table-column>-->
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceno" label="对应货款发票号"  align="center" header-align="center"></el-table-column>

        <el-table-column :show-overflow-tooltip="true"  prop="postdate" label="定案日期" align="center" :formatter="postdateFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="claimAmount" label="索赔金额" align="right" header-align="center" :formatter="claimAmountFormat"></el-table-column>

        <el-table-column :show-overflow-tooltip="true"  prop="matchstatus" label="匹配状态"  align="center" header-align="center">
            <template scope="scope">
                <span v-if="scope.row.matchstatus=== null" >—— ——</span>
                <span v-if="scope.row.matchstatus=== ''" >—— ——</span>
                <span v-if="scope.row.matchstatus=== '0'" >未匹配</span>
                <span v-if="scope.row.matchstatus=== '1'" >预匹配</span>
                <span v-if="scope.row.matchstatus=== '2'" >部分匹配</span>
                <span v-if="scope.row.matchstatus=== '3'" >完全匹配</span>
                <span v-if="scope.row.matchstatus=== '4'" >差异匹配</span>
                <span v-if="scope.row.matchstatus=== '5'" >匹配失败</span>
                <span v-if="scope.row.matchstatus=== '6'" >取消匹配</span>
            </template>
        </el-table-column>

        <el-table-column :show-overflow-tooltip="true"  prop="hoststatus" label="沃尔玛状态"  align="center" header-align="center">
            <template scope="scope">
                <span v-if="scope.row.hoststatus=== null" >未处理</span>
                <span v-if="scope.row.hoststatus=== ''" >未处理</span>
                <span v-if="scope.row.hoststatus=== '0'" >未处理</span>
                <span v-if="scope.row.hoststatus=== '1'" >未处理</span>
                <span v-if="scope.row.hoststatus=== '5'" >已处理</span>
                <span v-if="scope.row.hoststatus=== '10'" >未处理</span>
                <span v-if="scope.row.hoststatus=== '13'" >已删除</span>
                <span v-if="scope.row.hoststatus=== '14'" >待付款</span>
                <span v-if="scope.row.hoststatus=== '11'" >已匹配</span>
                <span v-if="scope.row.hoststatus=== '12'" >已匹配</span>
                <span v-if="scope.row.hoststatus=== '15'" >已付款</span>
                <span v-if="scope.row.hoststatus=== '19'" >已付款</span>
                <span v-if="scope.row.hoststatus=== '9'" >待付款</span>
                <span v-if="scope.row.hoststatus=== '99'" >已付款</span>
                <span v-if="scope.row.hoststatus=== '999'" >已付款</span>
                <span v-if="scope.row.hoststatus=== '8'" >HOLD</span>

            </template>
        </el-table-column>

    </el-table>
    <el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                       :current-page="currentPage" :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                       layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>
    </el-col>



</div>
</body>
<script src="../../js/modules/businessData/claimQuery.js"></script>
</html>