
<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<style type="text/css">
    .btn-row2 {
    }
    td{
        position: relative;
    }

    span[name*="invoiceLog"] table tr td{
        display: inline;
    }
</style>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <div>
        <el-form ref="form" :model="form" :rules="rules" label-width="1.0rem">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="退货号:" prop="returnGoodsCode">
                        <el-input class="inline-input" v-model="form.returnGoodsCode"
                                  placeholder="请输入退货号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="退货状态:">
                        <el-select v-model="form.returnGoodsStatus" @change="rzhChange">
                            <el-option label="全部" value="-1" selected></el-option>
                            <el-option label="未处理" value="0"></el-option>
                            <el-option label="关联蓝票" value="1"></el-option>
                            <el-option label="已开红通" value="2"></el-option>
                            <el-option label="已开红票" value="3"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="1" :offset="1" class="btn-row2">
                    <el-button class="btnexport" @click="query('form')">查询</el-button>
                </el-col>
            </el-row>

        </el-form>
    </div>
    <hr>
    <div>
        <div align="left" style="float:left;font-size: 0.18rem; margin-top:0.09rem"></div>
    </div>
    <el-table height="4rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中">
        <el-table-column :show-overflow-tooltip="true"  type="index"  :index="mainIndex" label="序号" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="supplierAssociation" label="供应商号" align="left" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="returnGoodsCode" label="退货号" align="left" header-align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="returnGoodsAmount" label="退货总金额" align="right" header-align="center"  :formatter="numberFormat">
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="returncostAmount" label="退货成本金额" align="right"  header-align="center"  :formatter="numberFormat">
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="returnGoodsDate" label="日期" align="center"  :formatter="dateFormat">
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"   prop="returnGoodsStatus" label="退货状态" align="center" >
            <template scope="scope">
                <span v-if="scope.row.returnGoodsStatus=== null" >—— ——</span>
                <span v-if="scope.row.returnGoodsStatus=== '-1'" >全部</span>
                <span v-if="scope.row.returnGoodsStatus=== '0'" >未处理</span>
                <span v-if="scope.row.returnGoodsStatus=== '1'" >关联蓝票</span>
                <span v-if="scope.row.returnGoodsStatus=== '2'" >已开红通</span>
                <span v-if="scope.row.returnGoodsStatus=== '3'" >已开红票</span>
            </template>
        </el-table-column>
    </el-table>
    <el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                       :current-page="currentPage" :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                       layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>
    </el-col>

</div>
</body>
<script src="../../js/modules/businessData/returnInquiry.js"></script>
</html>