
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>沃尔玛供应链平台</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="css/all-skins.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/customer.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../libs/customer/html5shiv.min.js"></script>
    <script src="../../libs/customer/respond.min.js"></script>
    <script src="../../libs/customer/bluebird.js"></script>
    <![endif]-->
    <script>
        //用于自动计算rem的基准值
        (function(doc, win) {
           win.addEventListener("resize", reFont(doc));
           doc.addEventListener("DOMContentLoaded", reFont(doc));
        })(document, window);

        function reFont(doc){
           var clientW = doc.documentElement.clientWidth || doc.body.clientWidth;
           if(!clientW) {
               return;
           }
           doc.getElementsByTagName("html")[0].style.fontSize = 20 * (clientW / 375) + "px";
        }
    </script>
</head>
<iframe id="ssoFram" style="display:none"></iframe>
<body class="hold-transition">
<header class="navbar navbar-inverse navbar-fixed-top" id="top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar"
                    aria-controls="bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="javascript:void(0);" class="navbar-brand customer-logo-text">
                <span style="color:#FFFFFF"><strong>沃尔玛结算平台</strong></span>
            </a>
        </div>
    </div>
</header>
<div class="customer-login-page">
    <div>
        <div class="customer-login-box" id="rrapp" v-cloak style="position:absolute;right:0;top:50%;margin-right: 9%;transform: translateY(-2.7rem)">
            <div class="login-box-body">
                <div class="container">
                    <form class="form-horizontal" id="loginForm">
                        <div class="form-group">
                            <div class="panel-heading col-xs-10">
                                <p class="customer-login-box-msg"><strong>用户登录</strong></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10">
                                <div v-if="error" class="alert alert-danger alert-dismissible">
                                    <h4 style="margin-bottom: 0.0rem;"><i class="fa fa-exclamation-triangle"></i>
                                        {{errorMsg}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10">
                                <div class="input-group customer-login-input-group">
                        <span class="input-group-addon customer-login-input-group-addon" style="border-radius: 0.04rem 0.0rem 0.0rem 0.04rem !important;"><i
                                class="customer-login-icon-loginname"></i></span>
                                    <input type="text" style="BORDER-LEFT-STYLE: none !important;border-radius: 0.0rem 0.04rem 0.04rem 0.0rem !important;" class="form-control customer-login-form-control-input"
                                           v-model="username"
                                           placeholder="请输入用户名">

                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-10">
                                <div class="input-group customer-login-input-group">
                        <span class="input-group-addon customer-login-input-group-addon" style="border-radius: 0.04rem 0.0rem 0.0rem 0.04rem !important;"><i
                                class="customer-login-icon-password"></i></span>
                                    <input type="password" style="BORDER-LEFT-STYLE: none !important;border-radius: 0.0rem 0.04rem 0.04rem 0.0rem !important;" class="form-control customer-login-form-control-input"
                                           v-model="password"
                                           placeholder="请输入密码">
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-5">
                                <div class="input-group customer-login-input-group">
                                <span class="input-group-addon customer-login-input-group-addon" style="border-radius: 0.04rem 0.0rem 0.0rem 0.04rem !important;">
                                    <i class="customer-login-icon-captcha"></i></span>
                                    <input type="text" style="border-radius: 0.0rem 0.04rem 0.04rem 0.0rem !important;BORDER-LEFT-STYLE: none !important;" class="form-control customer-login-form-control-input"
                                           v-model="captcha" @keyup.enter="login"
                                           placeholder="请输入验证码">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <img alt="如果看不清楚，请单击图片刷新！" class="pointer" :src="src" @click="refreshCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10">
                                <button type="button" v-show="showlogin" style="border-radius: 0.04rem !important;" class="btn  btn-block btn-flat customer-login-button"
                                        @click="login">登录
                                </button>
                                <button type="button" v-show="showloging" style="border-radius: 0.04rem !important;" class="btn  btn-block btn-flat customer-login-button"
                                >正在登录......
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
</body>
</html>
<script src="libs/jquery.min.js"></script>
<script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/app.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
    //jquery
    $(function () {
        $('#qrcode').popover({
            trigger: 'hover',//鼠标以上时触发弹出提示框
            html: true,//开启html 为true的话，data-content里就能放html代码了
            content: "<img width='2.0rem' height='2.0rem' src='img/qrcode.png'>"
        });
    });
    //Vue
    var vm = new Vue({
        el: '#rrapp',
        data: {
            username: '',
            password: '',
            captcha: '',
            error: false,
            errorMsg: '',
            src: 'captcha.jpg',
            showlogin:true,
            showloging:false
        },
        beforeCreate: function () {
            if (self != top) {
                top.location.href = self.location.href;
            }
        },
        methods: {
            refreshCode: function () {
                this.src = "captcha.jpg?t=" + $.now();
            },
            login: function () {
                this.showlogin=false;
                this.showloging=true;
                var data = "username=" + vm.username + "&password=" + vm.password + "&captcha=" + vm.captcha;
                $.ajax({
                    type: "POST",
                    url: baseURL + "sys/login",
                    data: data,
                    dataType: "json",
                    success: function (r) {
                        if (r.code == 0) {//登录成功
                            localStorage.setItem("token", r.token);
                            localStorage.setItem("announceShowTimes",1);
                            parent.location.href = 'index.html';
                        } else if(r.code == 1){
                            vm.showlogin=true;
                            vm.showloging=false;
                            vm.error = true;
                            vm.errorMsg = r.msg;
                            vm.refreshCode();
                            /*$('.hidespan').css('visibility','visible')*/

                        }else if(r.code ==2){
                            vm.showlogin=true;
                            vm.showloging=false;
                            vm.error = true;
                            vm.errorMsg = r.msg;
                            vm.refreshCode();

                        }else{
                            vm.error = true;
                            vm.errorMsg = r.msg;
                            vm.showlogin=true;
                            vm.showloging=false;
                            vm.refreshCode();
                        }
                    }
                });
            }
        }
    });
</script>