
<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">


        [v-cloak] {
            display: none;
        }
        .el-table .cell{
            white-space: nowrap !important;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<style type="text/css">
    .qsItem {
    }

    .rzhItem {
    }
    .btn-row2 {
    }
    .btn-row3 {
    }
    .btn-row4 {
    }
    .rzh-row3 {
    }
    .rzh-row4 {
    }

    .hideItem {
        display: none;
    }

    .el-dialog__body {
        padding: 0.45rem 0.2rem;
    }
    .showItem {
        display: block;
    }

    .el-form-item__label {

    }


    .el-input__inner {
        border-radius: 0;
    }

    .cycleorange {
        position: relative;
        color: #333333;
        text-align: center;
    }

    .cycleorange > div {
        width: 0.3rem;
        height: 0.3rem;
        font-weight: 700;
        border-radius: 50%;
        background-color: #ffaa00;
        line-height: 0.3rem;
        position: absolute;
        top: -0.15rem;
        left: 50%;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -moz-transform: rotate(90deg); /* Firefox */
        -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
        -o-transform: rotate(90deg); /* Opera */
        cursor: pointer;
    }
    td{
        position: relative;
    }
    .col-xs-9, .col-xs-3 {

    }
    span[name*="invoiceLog"] table tr td{
        display: inline;
    }
</style>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <div >
        <el-form ref="form" name="form" :model="form" :rules="rules" label-width="1.0rem">
        
        	 <el-row>
              
	            <el-col :span="12">
	                <el-form-item label="供应商号:" prop="venderId" :rules="[{ pattern:/^[0-9]{1,6}$/, required: false, message: '请输入6数字格式供应商号'}]">
	                    <el-input v-model="form.venderId" maxlength="6" placeholder="请输入供应商号" onKeyUp="value=value.replace(/[^\d]/g,'')"></el-input>
	                </el-form-item>
	            </el-col>
	            <el-col :span="12">
	                <el-form-item label="发票号码:" prop="invoiceNo" :rules="[{ pattern:/^[0-9]{1,8}$/, required: false, message: '请输入8位数字格式发票号码'}]">
	                    <el-input v-model="form.invoiceNo" maxlength="8" onKeyUp="value=value.replace(/[^\d]/g,'')" placeholder="请输入发票号码"></el-input>
	                </el-form-item>
	            </el-col>

                 <el-col :span="12">
                     <el-form-item label="选择查询日期条件:" label-width="1.3rem" style="margin-left:26px;">
                         <el-select v-model="form.choice" style="width:205px;" @change="searchDate">
                             <el-option label="全部" value="-1"></el-option>
                             <el-option label="数据提交日期" value="1" selected></el-option>
                             <el-option label="实物发票处理日期" value="2"></el-option>
                         </el-select>
                     </el-form-item>
                 </el-col>

                <el-col class="selectDate hideItem" :span="14">
                	<el-form-item label="查询日期:" prop="createDate" id="requireMsg2" style="margin-left:110px;">
                		<el-row>
                		<el-col :span="13">
                    	<el-date-picker @blur="blurpickerchange(1)" @focus="focuspickerchange(1)" type="date" id="datevalue1"
                                    placeholder="选择日期" v-model="form.createStartDate"
                                    :picker-options="createDateOptions"
                                    :clearable="false" :editable="false" value-format="yyyy-MM-dd"></el-date-picker>
                		</el-col>
                		<el-col class="line" :span="2">—</el-col>
                		<el-col :span="13">
                    	<el-date-picker type="date" placeholder="选择日期" v-model="form.createEndDate" id="datevalue2"
                                    @blur="blurpickerchange(2)" @focus="focuspickerchange(2)"
                                    :picker-options="createEndDateOptions"
                                    :clearable="false" :editable="false" value-format="yyyy-MM-dd"></el-date-picker>
                		</el-col>
                		</el-row>
            		</el-form-item>

                </el-col>
             </el-row>
            <el-row>
                <el-col :span="1" :offset="1" class="floatright" style="margin-left: 15px;">
                    <el-button class="btnexport" @click="exportData()"  :disabled="total == 0">导出</el-button>
                </el-col>
                <el-col :span="1" :offset="1" class="btn-row2 floatright">
                    <el-button class="btnexport" @click="onSubmit">查询</el-button>
                </el-col>
            </el-row>
       </el-form>
    </div>
    <hr>
    <div v-show="tableShow">
    
    <el-table height="4rem" border fit :data="tableData" class="tableData" highlight-current-row
                  style="width: 100%;font-size: 0.12rem;">
        <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex" label="序号" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="venderId" label="供应商号" align="left" header-align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="venderName" label="供应商名称" align="left" header-align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号" align="left" header-align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="发票日期" align="left" header-align="center" :formatter="formatInvoiceDate"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="left" header-align="center" :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="left" header-align="center" :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="totalAmount" label="价税合计" align="left" header-align="center" :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceType" label="发票类型" align="left" header-align="center" >
        		<template scope="scope">
                <span v-if="scope.row.invoiceType== '01'" >增值税专用发票</span>
                <span v-if="scope.row.invoiceType== '03'" >机动车销售统一发票</span>
                <span v-if="scope.row.invoiceType== '04'" >增值税普通发票</span>
                <span v-if="scope.row.invoiceType== '10'" >增值税电子普通发票</span>
                <span v-if="scope.row.invoiceType== '11'" >增值税普通发票（卷票）</span>
                <span v-if="scope.row.invoiceType== '14'" >增值税电子普通发票（通行费）</span>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="gfName" label="购货单位名称" align="left" header-align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="matchDate" label="数据提交日期" align="left" header-align="center" :formatter="formatMatchDate"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="scanMatchDate" label="实物发票处理日期" align="left" header-align="center" :formatter="formatScanMatchDate"></el-table-column>
        
    </el-table>
    <el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                       :current-page="currentPage" :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                       layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>
    </el-col>  
   
</div>
</div>
</body>
<script type="text/babel">
    Vue.http.options.emulateJSON = true;
    Vue.http.options.emulateHTTP = true;
    new Vue({
        el: '#rrapp',
        i18n,
        data: {
            tableShow: true,
            tableData: [],
            currentPage: 1,
            pagerCount: PAGE_PARENT.PAGER_COUNT,
            pageSize: PAGE_PARENT.PAGE_SIZE,
            pageList: PAGE_PARENT.PAGE_LIST,
            totalPage: 1,
			total:0,
            options: [],
            createDateOptions: {},
            createEndDateOptions: {},
            form: {
                venderId: '',
				invoiceNo:'',
				choice:'',
                createStartDate: new Date().getFullYear() + "-" + format2(new Date().getMonth()+1) + "-01",
                createEndDate: new Date().getFullYear()+"-"+format2(new Date().getMonth()+1)+"-"+format2(new Date().getDate())
            },
            exportParam: {},
            rules:{}
        },
        mounted: function () {
            this.createDateOptions = {
                disabledDate: (time) => {
                    return time.getTime() >= Date.now();
                }
            };
            this.createEndDateOptions = {
                disabledDate: (time) => {
                    return time.getTime() >= Date.now();
                }
            };

        },
        methods: {
            
            focuspickerchange: function (val) {
                if (val == 1) {
                    $('#datevalue1').siblings('span.el-input__suffix').css('background', '#ffaa00');
                    $('#datevalue1').siblings('span.el-input__prefix').children('i').css('color', '#333333');
                } else if (val == 2) {
                    $('#datevalue2').siblings('span.el-input__suffix').css('background', '#ffaa00');
                    $('#datevalue2').siblings('span.el-input__prefix').children('i').css('color', '#333333');
                }else if(val==3){
                    $('#datevalue3').siblings('span.el-input__suffix').css('background', '#ffaa00');
                    $('#datevalue3').siblings('span.el-input__prefix').children('i').css('color', '#333333');
                }
            },
            blurpickerchange: function (val) {
                if (val == 1) {
                    $('#datevalue1').siblings('span.el-input__suffix').css('background', 'white');
                    $('#datevalue1').siblings('span.el-input__prefix').children('i').css('color', '#ffaa00');
                } else if (val == 2) {
                    $('#datevalue2').siblings('span.el-input__suffix').css('background', 'white');
                    $('#datevalue2').siblings('span.el-input__prefix').children('i').css('color', '#ffaa00');
                }else if(val==3){
                    $('#datevalue3').siblings('span.el-input__suffix').css('background', 'white');
                    $('#datevalue3').siblings('span.el-input__prefix').children('i').css('color', '#ffaa00');
                }
            },
            currentChange: function(val) {
                if(this.total > 0) {
                    this.findAll(val);
                }
            },
            handleSizeChange: function (val) {
                this.pageSize = val;
                if(this.total > 0) {
                    this.findAll(1);
                }
            },
            searchDate:function(val){
                if(val!='-1'){
                    $('.selectDate').removeClass("hideItem");
                    return;
                }else {
                    $('.selectDate').addClass("hideItem");
                    return;
                }
            },
            findAll: function (currentPage) {
                var qsStartDate = new Date(this.form.createStartDate);
                qsStartDate.setMonth(qsStartDate.getMonth() + 12);

                var qsEndDate = new Date(this.form.createEndDate);
                $(".checkMsg").remove();
                if(qsEndDate.getTime()<new Date(this.form.createStartDate)){
                    $("#requireMsg2 .el-form-item__content div.el-date-editor:first-child").append('<div class="checkMsg">结束时间不可小于开始时间</div>');
                    return;
                }
                var loadingInstance = this.$loading({
                    text: '正在拼命加载中',
                    target: document.querySelector('.tableData')
                });
                if (!isNaN(currentPage)) {
                    this.currentPage = currentPage;
                }
                const params_ = {
                    page: this.currentPage,
                    limit: this.pageSize,
                    order: 'desc',
					venderId:this.form.venderId,
					invoiceNo:this.form.invoiceNo,
					choice:this.form.choice/*,
                    createStartDate: this.formatDateTime(this.form.createStartDate),
                    createEndDate: this.formatDateTime(this.form.createEndDate)*/
                };
                if(this.form.choice!='-1'){
                    params_.createStartDate=this.formatDateTime(this.form.createStartDate);
                    params_.createEndDate=this.formatDateTime(this.form.createEndDate);
                }
                this.exportParam = params_;
                this.$http.post(baseURL + 'analysis/materialInvoicesSubmitDetail/queryList',
                    params_, {
                        'headers': {
                            "token": token
                        }
                    }).then(function (response) {
                    loadingInstance.close();
                    this.total = response.data.page.totalCount;
                    this.totalPage = response.data.page.totalPage;
                   
                    this.tableData = [];
                    for (const key in response.data.page.list) {
                        this.$set(this.tableData, key, response.data.page.list[key]);
                    }
                },(err)=>{
                    loadingInstance.close();
                    if(err.status == 408) {
                        alert(err.statusText);
                    }
                }).catch(function (response) {
                    loadingInstance.close();
                    alert(response.data.msg);
                });
            },
           
            formatDateTime: function (time) {
                const date = new Date(time.toString().replace(/-/g, "/"));
                const seperator1 = "-";
                const seperator2 = ":";
                var month = date.getMonth() + 1;
                let strDate = date.getDate();
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                return date.getFullYear() + seperator1 + month + seperator1 + strDate;
            },
            formatDate: function (time) {
                const date = new Date(time.toString().replace(/-/g, "/"));
                const seperator1 = "-";
                const seperator2 = ":";
                var month = date.getMonth() + 1;
                let strDate = date.getDate();
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                return date.getFullYear() + seperator1 + month + seperator1 + strDate + " " + date.getHours() + seperator2 + date.getMinutes() + seperator2 + date.getSeconds();
            }, 
			formatCreateDate: function (row, column) {
                if (row.createDate != null) {
                    return this.formatDateTime(row.createDate);
                } else {
                    return "一 一";
                }
            },

			formatMatchDate: function (row, column) {
                if (row.matchDate != null) {
                    return this.formatDateTime(row.matchDate);
                } else {
                    return "一 一";
                }
            },

			formatScanMatchDate: function (row, column) {
                if (row.scanMatchDate != null) {
                    return this.formatDateTime(row.scanMatchDate);
                } else {
                    return "一 一";
                }
            },
			
			formatInvoiceDate: function (row) {
                if (row.invoiceDate != null) {
                    return this.formatDateTime(row.invoiceDate,true);
                } else {
                    return "一 一";
                }
            },

            exportData:function() {
                const params_ = {
                    venderId: this.form.venderId,
					invoiceNo:this.form.invoiceNo,
					choice:this.form.choice
                };
                if(this.form.choice!='-1'){
                    params_.createStartDate=this.formatDateTime(this.form.createStartDate);
                    params_.createEndDate=this.formatDateTime(this.form.createEndDate);
                }
                $.ajax({
                    url:baseURL + 'excel/apply',
                    type:"POST",
                    data:{'serviceType':40,'condition':JSON.stringify(params_)},
                    success:function (r) {
                        flag = true;
                        if(r.code==0){
                            alert(r.data);
                            // $('#totalStatistics').html("合计数量: "+vm.total+"条, 合计金额: "+
                            //     formatMoney(r.page.summationTotalAmount)+"元, 合计税额: "+formatMoney(r.page.summationTaxAmount)+"元");

                        }

                    }
                });

				// var url=baseURL+ 'analysis/materialInvoicesSubmitDetail/export?choice='+params_.choice+'&invoiceNo='+params_.invoiceNo+'&venderId='+params_.venderId+'&createStartDate='
				// 		+ params_.createStartDate + '&createEndDate=' + params_.createEndDate;
				// document.getElementById("ifile").src=url;

       
 				}
 				,
            onSubmit() {
                this.tableShow = true;
                this.findAll(1);
            },

            /**
           	  * 行号 
             */
            mainIndex: function (index) {
                return index + (this.currentPage - 1) * this.pageSize + 1;
            }
		}

    });
    function format2(value) {
        if (value < 10) {
            return "0" + value;
        } else {
            return value;
        }
    }
</script>

</html>