<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">


        [v-cloak] {
            display: none;
        }
        .el-table .cell{
            white-space: nowrap !important;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<style type="text/css">
    .defaultItem{}
    .rzhItem{}
    .hideItem{
        display: none;
    }
    .showItem{
        display: block;
    }
</style>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <div>
        <el-form ref="form" :model="form" :rules="rules" label-width="1.0rem">
            <el-row>

                <!--<el-col :span="12">-->
                <!--<el-form-item label="税务承担店号:" prop="store">-->
                <!--<el-input class="inline-input" v-model="form.store"-->
                <!--placeholder="请输入税务承担店号"></el-input>-->
                <!--</el-form-item>-->
                <!--</el-col>-->
                <el-col :span="12" class="diss hideItem" :offset="1">
                    <el-form-item label="税务承担店号:"  prop="store" :rules="[
                { pattern: /^[0-9]{0,50}?$/,message: '请输入正确的税务承担店号'}
                ]">
                        <el-input  class="inline-input" v-model="form.store" placeholder="请输入税务承担店号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12" :offset="1">
                    <el-form-item label="红票通知单号:" prop="redLetterNotice":rules="[
                { pattern: /^[0-9]{0,20}?$/,message: '请输入正确的的红票通知单号'}
                ]">
                        <el-input v-model="form.redLetterNotice" maxlength="20" placeholder="请输入红票通知单号" maxlength="17"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="14">
                    <el-form-item label="上传时间:" id="requireMsg4">
                        <el-row>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="form.createDate1"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(1)" @focus="focuspickerchange(1)" id="datevalue1"
                                                :picker-options="createDateOptions1"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                >
                                </el-date-picker>
                            </el-col>
                            <el-col :span="2">—</el-col>
                            <el-col :span="13">

                                <el-date-picker type="date" placeholder="选择日期" v-model="form.createDate2"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(2)" @focus="focuspickerchange(2)" id="datevalue2"
                                                :picker-options="createDateOptions2"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                ></el-date-picker>

                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>
                <el-col :span="3" :offset="1" class="btn-row2">
                    <el-button class="btnexport" @click="query('form')">查询</el-button>
                </el-col>
                <el-col :span="1" :offset="1" class="btn-row3 ">
                    <el-button id="export_btn" class="btnexport" @click="exportExcel">导出</el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
    <hr>
    <div>
        <div align="left" style="float:left;font-size: 18px; margin-top:9px"><span id="totalStatistics"></span></div>
    </div>
    <div style="clear: both"></div>
    <el-table height="4rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 12px;"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中">
        <el-table-column :show-overflow-tooltip="true"  type="index"  :index="mainIndex" label="序号" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="store" label="税务承担店号" align="center" header-align="center">
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="buyerName" label="开票方名称" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceType" label="开票类型" align="center" >
            <template scope="scope">
                <el-tooltip class="item" effect="dark" placement="top-start">
                    <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                    <label v-if="scope.row.invoiceType== '01' ">专用发票</label>
                    <!--<img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png" />-->
                    <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                    <label label.fout.Bold =false v-if="scope.row.invoiceType== '03' ">机动发票</label>
                    <!--<img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png" />-->
                    <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                    <label v-if="scope.row.invoiceType== '04' ">普通发票</label>
                    <!--<img   v-if="scope.row.invoiceType=== '04' "-->
                    <!--style="height:0.2rem;" src="../../img/plain-invoice.png"  />-->
                    <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                    <label v-if="scope.row.invoiceType== '10' ">普通发票</label>
                    <!--<img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>-->
                    <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                    <label v-if="scope.row.invoiceType== '11' ">普通发票</label>
                    <!--<img   v-if="scope.row.invoiceType=== '11' "-->
                    <!--style="height:0.2rem;" src="../../img/roll-invoice.png" />-->
                    <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                    <label v-if="scope.row.invoiceType== '14' ">普通发票</label>
                    <!--<img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>-->
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceAmount" label="开红票金额" align="right" header-align="center" :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="开红票税率" align="center" >
            <template scope="scope">
                <span v-if="scope.row.taxRate=== null" >—— ——</span>
                <span v-else>{{scope.row.taxRate}}%</span>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="开红票税额" align="right" header-align="center" :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="makeoutDate" label="开票月份" align="center" :formatter="dateFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="serialNumber" label="序列号" align="center" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="id"  label="操作" class-name="noSpotSpotSpot" align="center" width = "200">
            <template scope="scope">
                <span v-if=" scope.row.redLetterStatus == '1'" ><a  @click="check(scope.row)"><span class="column-span" style="color: black">查看红字通知单</span></a></span>
                <a  @click="upload(scope.row)"><span class="column-span" style="color: black">上传红字通知单</span></a>
            </template>
        </el-table-column>
    </el-table>
    <el-col class="toolbar" style="padding:10px;">
        <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                       :current-page="currentPage" :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                       layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>

    </el-col>


    <el-dialog height="100%" width="60%" :visible.sync="scarletLetterDialog" :before-close="detailFormCancel" :close-on-click-modal="false"  >
        <span>文件列表</span>
        <el-table  border fit :data="tableData1" highlight-current-row style="width: 100%;font-size: 12px;" class="table_scroll">

            <el-table-column :show-overflow-tooltip="true"  type="index"  :index="mainIndex" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="localFileName" label="文件名称" align="center"  >
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redLetterNotice" label="红票通知单号" align="center"  header-align="center" >
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="id"  label="操作" class-name="noSpotSpotSpot" align="center" >
                <template scope="scope">
                    <a  @click="delete1(scope.row)"><span class="column-span" style="color: black">删除</span></a>

                    <span v-if="scope.row.fileType == 'pdf' " ><a  @click="downLoadFileToken(scope.row)"><span class="column-span" style="color: black">[下载查看]</span></a></span>&nbsp;&nbsp;&nbsp;
                    <span v-if="scope.row.fileType == 'gif' || scope.row.fileType == 'png'|| scope.row.fileType == 'jpg'|| scope.row.fileType == 'jpeg' " >
                        <span class="column-span" style="color: black">
                            <a  @click="showImg(scope.row)">
                                <span class="column-span" style="color: black">查看图片</span>
                            </a>
                        </span>
                    </span>
                </template>
            </el-table-column>
        </el-table>
        <el-col class="toolbar" style="padding:10px;">
            <el-pagination background @current-change="currentChange1" @size-change="handleSizeChange1"
                           :current-page="currentPage1" :page-size="pageSize1" :page-sizes="pageList1" :pager-count="pagerCount1"
                           layout="slot, sizes, prev, pager, next" :total="total1" style="float:right">
                <span>共{{total1}}条记录，第{{currentPage1}}页，共{{totalPage1}}页</span>
            </el-pagination>
        </el-col>
        <span slot="footer" class="dialog-footer">
        </span>
    </el-dialog>

    <el-dialog width="95%" :visible.sync="selectDetailDialogPicture" :before-close="detailFormCancelA" :close-on-click-modal="false"  height="100%" >
        <span>显示资料图片</span>
        <div class="image_content_area">
            <img id="viewInvoicesImg" style="width: 100%" src=""></img>
        </div>

        <span slot="footer" class="dialog-footer">
            <button class="btn btnexport" style="background-color: white" type="button" @click="selectDetailDialogPicture = false">关 闭</button>
        </span>


    </el-dialog>

    <!--上传红字通知单-->
    <el-dialog width="95%" :visible.sync="detailDialogRedNoticePicture" :before-close="detailFormCancel" :close-on-click-modal="false"  height="100%" >
        <span>上传红票通知单</span>

        <div>
            <div class="row" style="border-top: 0px;margin-bottom: 15px;padding-top: 0px">
                <div class="upload_container" style="display: flex; justify-content: flex-start;">
                    <label class="el-form-item__label">选择文件:</label>
                    <div class="upload_input" id="upload">
                        <button type="button" class="btn_default query_search_btn import_btn" onclick="showSelectFileWin();">
                            浏览
                        </button>
                        <span id="showFileNames" class="file_name_show">
                        未选择文件
                        </span>
                        <input type="file" @change="onChangeFile($event)" id="files" class="upload_input_area" style=" display: none" name="files" multiple="multiple"/>
                    </div>
                    <div class="upload_input_btn">
                        <button type="button" class="btn_default query_search_btn import_btn" @click="uploadFile($event)">
                            上传文件
                        </button>
                    </div>
                    <div><span style="font-weight: bold;color: red">温馨提示:文件名格式为（12位序列号_16位红字通知单号）</span></div>
                </div>

                <div id="showFiles">
                    <ol id="ol">
                    </ol>
                </div>
            </div>
        </div>
    </el-dialog>


</div>
</body>
<script src="../../js/modules/redInvoice/uploadScarletLetter.js"></script>
</html>