
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style scoped>
        [v-cloak] {
            display: none;
        }

        .el-table .warning-row {
            border-color: oldlace;
        }

        input[type=file] {
            display: none !important;
        }
    </style>
</head>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="vm" v-cloak>

    <el-form class="demo-form-inline" label-width="1.0rem">
        <el-row>

        </el-row>
    </el-form>
    <hr/>
    <el-table height="4rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              :row-class-name="tableRowClassName"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中"
    >
        <el-table-column :show-overflow-tooltip="true"  type="index" width="70" label="序号" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="notes" label="签收描述" :show-overflow-tooltip="true" align="left"
                         header-align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="qsStatus" label="签收结果" align="center" header-align="center">
            <template scope="scope">
                <span v-if="scope.row.qsStatus== '1' && scope.row.handleFlag!= '1'">签收成功</span>
                <span v-if="scope.row.handleFlag== '1'">发票已存在</span>
                <span v-if="scope.row.qsStatus!= '1' && scope.row.handleFlag!= '1'">签收失败</span>
            </template>
        </el-table-column>
        <!--<el-table-column :show-overflow-tooltip="true"  prop="repeatFlag" label="是否重复" align="center">-->
        <!--<template scope="scope">-->
        <!--<span v-if="scope.row.repeatFlag== '1'">是</span>-->
        <!--<span v-else>否</span>-->
        <!--</template>-->
        <!--</el-table-column>-->
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码" align="left" header-align="center"
                         :formatter="formatterNull"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="left" header-align="center">
            <template scope="scope">
                <span v-if="scope.row.invoiceNo==''">一 一</span>
                <span v-else>{{ scope.row.invoiceNo }}</span>
                <el-tooltip class="item" effect="dark" placement="top-start">
                    <div slot="content">{{ scope.row.invoiceTypeName }}</div>
                    <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png"/>
                    <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png"/>
                    <img   v-if="scope.row.invoiceType=== '04' "
                         style="height:0.2rem;" src="../../img/plain-invoice.png"/>
                    <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                    <img   v-if="scope.row.invoiceType=== '11' "
                         style="height:0.2rem;" src="../../img/roll-invoice.png"/>
                    <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center"
                         :formatter="formatInvoiceDate"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceAmount" label="金额" align="right" header-align="center"
                         :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="checkCode" label="校验码" align="center" :show-overflow-tooltip="true"
                         :formatter="formatterNull"></el-table-column>

        <el-table-column :show-overflow-tooltip="true"  label="操作" class-name="noSpotSpotSpot" class-name="noSpotSpotSpot" width="160" align="center">
            <template slot-scope="scope">
                <span class="editRowSpan" style="margin-left:0;" @click="imgClick(scope.row, true)"
                      v-if="scope.row.importType== '1'">图片</span>
                <span class="editRowSpan"
                      v-if="scope.row.qsStatus!= '1' && scope.row.handleFlag!=2 && scope.row.handleFlag != 1 && scope.row.importType== '1' && scope.row.invoiceCode!=null&&scope.row.invoiceCode!='' && scope.row.invoiceNo!=null&&scope.row.invoiceNo!=''"
                      @click="modifyClick(scope.row)">修改</span>
                <span class="editRowSpan" @click="deleteClick(scope.row)"
                      v-if="scope.row.qsStatus!= '1' && scope.row.handleFlag!=2 && scope.row.invoiceCode!=null&&scope.row.invoiceCode!='' &&scope.row.invoiceNo!=null&&scope.row.invoiceNo!=''">删除</span>
            </template>
        </el-table-column>
    </el-table>

    <el-dialog title="图片" :close-on-click-modal="false" :visible.sync="imageShow" :before-close="beforeCloseImgWin"
               width="60%" top="0.25rem">
        <div class="image_content_area">
            <img id="get_image_area" style="width: 100%" src="">
        </div>
    </el-dialog>

    <el-dialog title="修改" :close-on-click-modal="false" :visible.sync="updateWinShow"
               :before-close="beforeCloseUpdateWin" @close="" width="80%" top="0.25rem">
        <div class="image_content">
            <img id="edit_image_area" style="padding:0 0 0.3rem 0; width: 100%" src="">
        </div>
        <div class="form_content">
            <el-form ref="updateInvoice" :model="updateInvoice" name="updateInvoice" :rules="rules" label-width="1.0rem">
                <el-form-item label="发票代码:" class="form-item" prop="invoiceCode">
                    <el-input v-model="updateInvoice.invoiceCode" maxlength="12" readonly></el-input>
                </el-form-item>
                <el-form-item label="发票号码:" class="form-item" prop="invoiceNo">
                    <el-input v-model="updateInvoice.invoiceNo" maxlength="8" readonly></el-input>
                </el-form-item>
                <el-form-item label="开票日期:" class="form-item" prop="invoiceDate"
                              :rules="[{ required: true, message: '开票日期不能为空'}]">
                    <el-date-picker type="date" :clearable="false" :editable="false" size="large"
                                    placeholder="选择开票日期" v-model="updateInvoice.invoiceDate"></el-date-picker>
                </el-form-item>
                <el-form-item label="发票金额:" class="form-item" prop="invoiceAmount">
                    <el-input v-model="updateInvoice.invoiceAmount"></el-input>
                </el-form-item>
                <el-form-item label="校验码:" class="form-item" prop="checkCode">
                    <el-input v-model="updateInvoice.checkCode" maxLength="50"></el-input>
                </el-form-item>
            </el-form>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button class="queryBtn" @click="beforeCloseUpdateWin">取 消</el-button>
            <el-button class="queryBtn" @click="checkUpdateMsg">保存</el-button>
        </span>
    </el-dialog>


</div>
</body>
<script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>

<script type="text/babel">
    Vue.http.options.emulateJSON = true;
    Vue.http.options.emulateHTTP = true;
    var allDataList = [];
    var dataList = [];
    var currentTableCodeOrNo = [];
    new Vue({
        el: '#vm',
        i18n,
        data: {
            selectFileFlag: '未选择文件',
            fileList: [],
            tableData: [],
            currentPage: 1,
            total: 10,
            listLoading: false,
            multipleSelection: [],
            isNeedFileExtension: false,
            file: "",
            fileExt: "",
            token: token,
            imageShow: false,
            updateWinShow: false,
            importType: "",
            modifyItem: {},
            updateInvoice: {
                invoiceDate: "",
                invoiceCode: "",
                invoiceNo: "",
                invoiceAmount: "",
                checkCode: ""
            },
            rules: {}
        },
        mounted: function () {
            this.rules = {
                invoiceCode: [
                    {required: true, message: '发票代码不能为空'},
                    {
                        validator: (rule, value, callback) => {
                            setTimeout(() => {
                                let reg = /^(\d{10}|\d{12})$/;
                                if (new RegExp(reg).test(value) == false) {
                                    callback(new Error('发票代码为10或12位数字'));
                                } else {
                                    callback();
                                }
                            }, 200);
                        }, trigger: 'blur'
                    }
                ],
                invoiceNo: [
                    {required: true, message: '发票号码不能为空'},
                    {
                        validator: (rule, value, callback) => {
                            setTimeout(() => {
                                let reg = /^[\d]{8}$/
                                if (new RegExp(reg).test(value) == false) {
                                    callback(new Error('发票号码为数字且必须为8位'));
                                } else {
                                    callback();
                                }
                            }, 200);
                        }, trigger: 'blur'
                    }
                ],
                invoiceAmount: [
                    {required: true, message: '金额不能为空'},
                    {
                        validator: (rule, value, callback) => {
                            setTimeout(() => {
                                let positiveReg = /(^[0]$)|(^[1-9]\d*$)|(^[1-9]\d*\.\d{1,2}$)|(^0\.\d{1,2}$)/;
                                let negativeReg = /(^-[1-9]\d*$)|(^-[1-9]\d*\.\d{1,2}$)|(^-0\.\d{1,2}$)/;
                                if (!(new RegExp(positiveReg).test(value) || new RegExp(negativeReg).test(value))) {
                                    callback(new Error('金额不能超过两位小数'));
                                } else {
                                    callback();
                                }
                            }, 200);
                        }, trigger: 'blur'
                    }
                ],
                checkCode: [
                    {
                        validator: (rule, value, callback) => {
                            setTimeout(() => {
                                let reg = /^[0-9]\d*$/;
                                if ((value != null && value != '') && (
                                        new RegExp(reg).test(value) == false)) {
                                    callback(new Error('验证码必须为数字'));
                                } else {
                                    callback();
                                }
                            }, 200);
                        }, trigger: 'blur'
                    }
                ]
            }
        },
        methods: {
            tableRowClassName({row, rowIndex}) {
                if (row.repeatFlag == '1') {
                    return 'warning-row';
                }
            },
            formatDateTime: function (time) {
                const date = new Date(time.toString().replace(/-/g, "/"));
                const seperator1 = "-";
                var month = date.getMonth() + 1;
                let strDate = date.getDate();
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                return date.getFullYear() + seperator1 + month + seperator1 + strDate;
            },
            formatInvoiceDate: function (row, column) {
                if (row.invoiceDate != null) {
                    return this.formatDateTime(row.invoiceDate);
                } else {
                    return "一 一";
                }
            },
            exportData() {
                document.getElementById("ifile").src = baseURL + sysUrl.exportSignTemp;
            },
            uploadFile: function (event) {
                event.preventDefault();
                var flag = false;
                var hh;
                if (this.file == '' || this.file == undefined) {
                    alert("请选择excel文件!");
                    return;
                }
                if (this.fileExt != '.xlsx' && this.fileExt != '.xls') {
                    alert("上传文件格式错误，请选择excel文件（xlsx,xls）!");
                    return;
                }

                const formData = new FormData();
                formData.append('file', this.file);
                formData.append('count', this.tableData.length);
                formData.append('token', this.token);
                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                };
                const url = baseURL + sysUrl.excelSign;

                const me = this;
                me.listLoading = true;
                me.$http.post(url, formData, config).then(function (response) {
                    flag = true;
                    this.clickView();
                    if (response.data.code == 0) {
                        for (var i = 0; i < response.data.page.length; i++) {
                            if (dataList.length > 0 && this.contains(dataList, response.data.page[i].invoiceCode + response.data.page[i].invoiceNo)) {
                                response.data.page[i].notes = "发票已存在";
                                response.data.page[i].repeatFlag = "1";
                                response.data.page[i].handleFlag = "1";
                                this.insertItemToArray(allDataList, 0, response.data.page[i]);
                            } else {
                                dataList.push(response.data.page[i].invoiceCode + response.data.page[i].invoiceNo);
                                this.insertItemToArray(allDataList, 0, response.data.page[i]);
                            }
                        }
                        this.tableData = allDataList;
                    } else {
                        if (response.data.code != 401) {
                            alert(response.data.msg);
                        }
                    }
                    me.listLoading = false;
                }, (err) => {
                    me.listLoading = false;
                    if (err.status == 408) {
                        alert(err.statusText);
                    }
                });
                var intervelId = setInterval(function () {
                    if (flag) {
                        hh = $(document).height();
                        $("body", parent.document).find("#myiframe").css('height', hh + 'px');
                        clearInterval(intervelId);
                        return;
                    }
                }, 50);
            },
            uploadImgFile: function (event) {
                if (this.file == '' || this.file == undefined) {
                    alert("请选择图片文件（png,jpg,zip,rar）!");
                    return;
                }

                if (this.fileExt != '.png' && this.fileExt != '.jpg' && this.fileExt != '.zip' && this.fileExt != '.rar') {
                    alert("上传文件格式错误，请选择图片文件（png,jpg,zip,rar）!");
                    return;
                }

                var maxsize = 2 * 1024 * 1024;//2M
                var file = this.file;
                var fileSize = file.size;

                if (fileSize > maxsize) {
                    alert("上传的文件不能大于2M");
                    return;
                }

                const formData = new FormData();
                formData.append('file', this.file);
                formData.append('count', this.tableData.length);
                formData.append('token', this.token);
                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                };
                const url = baseURL + sysUrl.imgSign;

                this.listLoading = true;
                this.$http.post(url, formData, config).then(function (response) {
                    this.clickView();
                    if (response.data.code == 0) {
                        for (var i = 0; i < response.data.page.length; i++) {
                            if (dataList.length > 0 && this.contains(dataList, response.data.page[i].invoiceCode + response.data.page[i].invoiceNo)) {
                                response.data.page[i].notes = "发票已存在";
                                response.data.page[i].repeatFlag = "1";
                                response.data.page[i].handleFlag = "1";
                                this.insertItemToArray(allDataList, 0, response.data.page[i]);
                            } else {
                                dataList.push(response.data.page[i].invoiceCode + response.data.page[i].invoiceNo);
                                this.insertItemToArray(allDataList, 0, response.data.page[i]);
                            }
                        }
                        this.tableData = allDataList;
                    } else {
                        if (response.data.code != 401) {
                            alert('图像无法识别');
                        }
                    }
                    this.listLoading = false;
                }, (err) => {
                    this.listLoading = false;
                    if (err.status == 408) {
                        alert(err.statusText);
                    }
                }).catch(function (response) {
                    this.listLoading = false;
                });
            },
            imgClick(row, flag) {
                this.listLoading = true;
                if (flag) {
                    this.imageShow = false;
                }
                $('#get_image_area').attr('src', "");
                $('#edit_image_area').attr('src', "");
                this.$http.post(
                    baseURL + sysUrl.getSignInImg,
                    {uuid: row.invoiceCode + row.invoiceNo},
                    {
                        'headers': {
                            "token": token
                        }
                    }
                ).then(function (res) {
                    this.listLoading = false;
                    if (flag) {
                        this.imageShow = true;
                        //预览
                        setTimeout(function () {
                            $('#get_image_area').attr('src', "data:image/png;base64," + res.body.img);
                        }, 100);
                    } else {
                        this.updateWinShow = true;
                        //修改
                        setTimeout(function () {
                            $('#edit_image_area').attr('src', "data:image/png;base64," + res.body.img);
                        }, 100);
                    }
                }, (err) => {
                    this.listLoading = false;
                    if (err.status == 408) {
                        alert(err.statusText);
                    }
                }).catch(function (response) {

                });
            },
            modifyClick(row) {
                this.modifyItem = row;
                //导入类型为1（图片，则需要显示图片）
                if (row.importType == '1') {
                    this.imgClick(row, false);
                } else {
                    this.updateWinShow = true;
                }
                this.updateInvoice.invoiceCode = row.invoiceCode;
                this.updateInvoice.invoiceNo = row.invoiceNo;
                this.updateInvoice.invoiceDate = row.invoiceDate;
                this.updateInvoice.invoiceAmount = row.invoiceAmount;
                this.updateInvoice.checkCode = row.checkCode;
                this.importType = row.importType;
            },
            deleteClick(row) {
                const me = this;
                me.openConfirm(me, "是否确认删除？", function () {
                    //重复发票删除不操作表 类型错误发票不操作数据库
                    if (row.repeatFlag == '1' || row.typeErrorFlag == '1') {
                        for (var i = 0; i < me.tableData.length; i++) {
                            if (me.tableData[i] == row) {
                                me.tableData.splice(i, 1);
                                var count = me.itemCount(me.tableData, row.invoiceCode + row.invoiceNo);
                                if (count == 0) {
                                    var index = dataList.indexOf(row.invoiceCode + row.invoiceNo);
                                    if (index > -1) {
                                        dataList.splice(index, 1);
                                    }
                                }
                            }
                        }
                        alert("删除成功！");
                    } else {
                        //非重复发票删除 删除扫描表 并保存删除备份表
                        var formData = {
                            invoiceCode: row.invoiceCode,
                            invoiceNo: row.invoiceNo
                        }
                        me.$http.post(baseURL + sysUrl.deleteInvoice, formData, {
                            'headers': {
                                "token": token
                            }
                        }).then(function (response) {
                            if (response.data.code == 0) {
                                for (var i = 0; i < me.tableData.length; i++) {
                                    if (me.tableData[i] == row) {
                                        me.tableData.splice(i, 1);
                                        var count = me.itemCount(me.tableData, row.invoiceCode + row.invoiceNo);
                                        if (count == 0) {
                                            var index = dataList.indexOf(row.invoiceCode + row.invoiceNo);
                                            if (index > -1) {
                                                dataList.splice(index, 1);
                                            }
                                        }
                                    }
                                }
                                alert("删除成功");
                            } else {
                                if (response.data.code != 401) {
                                    alert(response.data.msg);
                                }
                            }
                        }, (err) => {
                            if (err.status == 408) {
                                alert(err.statusText);
                            }
                        });
                    }
                }, function () {
                });
            },
            replaceItem(row, targetData) {
                for (var i = 0; i < this.tableData.length; i++) {
                    if (this.tableData[i] == row) {
                        targetData.repeatFlag = row.repeatFlag;
                        this.tableData.splice(i, 1, targetData);
                    }
                }
            },
            beforeCloseImgWin: function () {
                this.imageShow = false;
            },
            beforeCloseUpdateWin() {
                this.updateWinShow = false;
                this.$refs["updateInvoice"].resetFields();
            },
            checkUpdateMsg() {
                this.$refs["updateInvoice"].validate((valid) => {
                    if (valid) {
                        this.$http.post(
                            baseURL + sysUrl.saveModifyInvoice,
                            {
                                invoiceCode: this.updateInvoice.invoiceCode,
                                invoiceNo: this.updateInvoice.invoiceNo,
                                invoiceDate: this.formatDateTime(this.updateInvoice.invoiceDate),
                                invoiceAmount: this.updateInvoice.invoiceAmount,
                                checkCode: this.updateInvoice.checkCode,
                                importType: this.importType
                            },
                            {
                                'headers': {
                                    "token": token
                                }
                            }
                        ).then(function (res) {
                            if (res.data.code != 0 && response.data.code != 401) {
                                alert(res.data.msg);
                                return;
                            }
                            this.replaceItem(this.modifyItem, res.data.result[0]);
                            this.beforeCloseUpdateWin();
                            alert("修改成功!")
                        }, (err) => {
                            if (err.status == 408) {
                                alert(err.statusText);
                            }
                        });
                    } else {
                        return false;
                    }
                });
            },
            fileStatusChange: function (file, fileList) {
                this.fileList = fileList.slice(-1);
                if (file.status == 'ready') {
                    this.selectFileFlag = file.name;
                    this.file = file.raw;
                    const index = file.name.lastIndexOf('.');
                    const photoExt = file.name.substr(index, 4);
                    this.fileExt = photoExt.toLowerCase();
                }
            },
            contains: function (arr, obj) {
                var i = arr.length;
                while (i--) {
                    if (arr[i] === obj) {
                        return true;
                    }
                }
                return false;
            },
            mergeArray: function (arr1, arr2) {
                for (var i = 0; i < arr2.length; i++) {
                    //向数组最前面加入元素
                    this.insertItemToArray(arr1, 0, arr2[i])
                }
                return arr1;
            },
            itemCount: function (arr, item) {
                // 返回值是删除不符合条件的元素
                var count = arr.filter(function (a) {
                    // 返回true的项组成的数组
                    return a.invoiceCode + a.invoiceNo === item;
                });
                // 数组的长度
                return count.length;
            },
            clickView: function () {
                this.selectFileFlag = '未选择文件';
                this.file = '';
            }
        }
    });
</script>
</html>