
<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">


        [v-cloak] {
            display: none;
        }

        .row {
            padding: 0 !important;
        }
    </style>
</head>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="invoice_check_history" v-cloak>
    <div id="appForm">
        <el-form  :model="invoiceCheckQuery" class="demo-form-inline" label-width="1.0rem">
            <el-row>
                <el-col :span="12">
                <el-form-item label="发票号码:">
                    <el-input v-model="invoiceCheckQuery.invoiceNo" placeholder="请输入发票号码" :maxlength="8"
                              @change="doInvoiceNoCheckLimit"></el-input>
                </el-form-item>
                </el-col>
                <el-col :span="12">
                <el-form-item label="发票代码:">
                    <el-input v-model="invoiceCheckQuery.invoiceCode" placeholder="请输入发票代码" :maxlength="12"
                              @change="doInvoiceCodeCheckLimit"></el-input>
                </el-form-item>
                </el-col>
                <!--           <el-form-item label="开票日期:">
                               <el-date-picker type="date" placeholder="选择日期" v-model="invoiceCheckQuery.invoiceStartDate"
                                               id="datevalue1"
                                               @blur="blurpickerchange(1)"
                                               @focus="focuspickerchange(1)"
                                               :clearable="false" :editable="false" value-format="yyyy-MM-dd"></el-date-picker>
                               <span style="color:#DEDEDE ">—</span>
                               <el-date-picker type="date" placeholder="选择日期" v-model="invoiceCheckQuery.invoiceEndDate"
                                               id="datevalue2"
                                               @blur="blurpickerchange(2)"
                                               @focus="focuspickerchange(2)"
                                               :clearable="false" :editable="false" value-format="yyyy-MM-dd"></el-date-picker>
                           </el-form-item>-->
                <el-col :span="14">
                <el-form-item label="查验时间:" id="requireMsg5">
                    <el-col :span="13">
                    <el-date-picker type="date" placeholder="选择日期" v-model="invoiceCheckQuery.invoiceCheckStartDate"
                                    id="datevalue3"
                                    @blur="blurpickerchange(3)" :picker-options="cyStartDateOptions"
                                    @change="invoiceDate3Change"
                                    @focus="focuspickerchange(3)"
                                    :clearable="false" :editable="false" value-format="yyyy-MM-dd"></el-date-picker>
                    </el-col>
                    <el-col :span="2">—</el-col>
                    <el-col :span="13">
                    <el-date-picker type="date" placeholder="选择日期" v-model="invoiceCheckQuery.invoiceCheckEndDate"
                                    id="datevalue4"
                                    @blur="blurpickerchange(4)" :picker-options="cyEndDateOptions"
                                    @change="invoiceDate4Change"
                                    @focus="focuspickerchange(4)"
                                    :clearable="false" :editable="false" value-format="yyyy-MM-dd"></el-date-picker>
                    </el-col>
                </el-form-item>
                </el-col>
                <el-col :span="1" :offset="1">
                <el-button class="btnexport" @click="onSubmit">查询</el-button>
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" @click="doInvoiceCheckHistoryExport()" v-bind:disabled="exportButtonFlag">导出</el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
    <hr>
    <div class="h15"></div>
    <div>
        <div align="left" style="float:left;font-size: 0.18rem; margin-top:0.09rem"><span id="totalStatistics"></span></div>
    </div>
    <el-table height="4rem" border fit :data="invoiceCheckHistoryTableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              style="width: 100%; margin-top: 0.2rem"
              v-loading="loading"
              element-loading-text="正在拼命加载中"
    >
        <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex" label="序号" header-align="center" align="center">
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="invoiceCode" label="发票代码" v-bind:show-overflow-tooltip="true"
                         align="left" header-align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="invoiceNo" label="发票号码" align="left" header-align="center">
            <template scope="scope">
                <span>{{ scope.row.invoiceNo }}</span>
                <el-tooltip class="item" effect="dark" placement="top-start">
                    <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                    <img v-if="scope.row.invoiceType== '01'" title="增值税专用发票" style="height:0.2rem;" src="../../img/special-invoice.png"/>
                    <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                    <img v-if="scope.row.invoiceType== '03' " title="机动车销售统一发票" style="height:0.2rem;" src="../../img/motor-vehicles.png"/>
                    <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                    <img   v-if="scope.row.invoiceType=== '04' "
                         style="height:0.2rem;" src="../../img/plain-invoice.png"/>
                    <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                    <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                    <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                    <img   v-if="scope.row.invoiceType=== '11' "
                         style="height:0.2rem;" src="../../img/roll-invoice.png"/>
                    <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                    <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="invoiceDate" label="开票日期" align="center" :formatter="formatDate"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="buyerName" label="购方名称" align="left" header-align="center"
                         v-bind:show-overflow-tooltip="true" :formatter="assignNullValue"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="xfName" label="销方名称" align="left" header-align="center"
                         v-bind:show-overflow-tooltip="true" :formatter="assignNullValue"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="invoiceAmount" label="金额" align="right" header-align="center"
                         v-bind:formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="taxAmount" label="税额" align="right" v-bind:formatter="numberFormat"
                         header-align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="totalAmount" label="价税合计" align="right" header-align="center"
                         v-bind:formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="checkCode" label="校验码" align="center"
                         header-align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="checkMassege" label="查验结果" align="left" header-align="center"
                         v-bind:show-overflow-tooltip="true"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  label="操作" class-name="noSpotSpotSpot" align="center" class-name="noSpotSpotSpot" >
            <template slot-scope="scope">
                <span style="cursor: pointer" @click="doInvoiceCheckHistoryAdd(scope.row)"
                      v-if="scope.row.handleCode!=='0001'">查验</span>
                <span style="cursor: pointer" @click="detail(scope.row)"
                      v-else>查看</span>
                <span style="margin-left: 0.1rem;cursor: pointer" @click="doInvoiceCheckDetail(scope.row)">历史</span>
            </template>
        </el-table-column>
    </el-table>
    <!-- <el-col class="toolbar" style="padding:0.1rem;">
         <el-pagination @current-change="getInvoiceCheckHistory" :current-page="pageData.currentPage" :page-size="12"
                        layout="total, prev, pager, next, jumper" :total="pageData.total"
                        style="float:right"></el-pagination>
     </el-col>-->
    <el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                       :current-page="pageData.currentPage" :page-size="pageSize" :page-sizes="pageList"
                       :pager-count="pagerCount"
                       layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
            <span>共{{total}}条记录，第{{pageData.currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>
    </el-col>
    <!--弹框-->
    <el-dialog title="查验详情" :visible.sync="dialogTableVisible" width="75%" center :close-on-click-modal="false">
        <el-table  :data="invoiceCheckHistoryDetailTableData">
            <el-table-column :show-overflow-tooltip="true"  type="index" width="80" :index="detailIndex" label="序号">
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  property="invoiceCode" label="发票代码" v-bind:show-overflow-tooltip="true"
                             align="left" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  property="invoiceNo" label="发票号码" align="left" header-align="center">
                <template scope="scope">
                    <span>{{ scope.row.invoiceNo }}</span>
                    <el-tooltip class="item" effect="dark" placement="top-start">
                        <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                        <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                        <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                        <img   v-if="scope.row.invoiceType=== '04' "
                             style="height:0.2rem;" src="../../img/plain-invoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                        <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                        <img   v-if="scope.row.invoiceType=== '11' "
                             style="height:0.2rem;" src="../../img/roll-invoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                        <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  property="invoiceDate" label="开票日期" align="center"
                             v-bind:show-overflow-tooltip="true" :formatter="formatDate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  property="checkMassege" label="查验结果" align="left" header-align="center"
                             v-bind:show-overflow-tooltip="true"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  property="handleDate" label="查验时间" align="center"
                             v-bind:show-overflow-tooltip="true" :formatter="formatDateToMin"></el-table-column>
        </el-table>
        <!--<el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination @current-change="doInvoiceCheckDetailInPage"
                           :current-page="detailPageData.currentPage"
                           :page-size="12"
                           layout="total, prev, pager, next, jumper" :total="detailPageData.total"
                           style="float:right"></el-pagination>
        </el-col>-->
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="doInvoiceCheckDetailInPage" @size-change="handleDetailSizeChange"
                           :current-page="detailPageData.currentPage" :page-size="pageSize" :page-sizes="pageList"
                           :pager-count="pagerCount"
                           layout="slot, sizes, prev, pager, next" :total="detailPageData.total" style="float:right">
                <span>共{{detailPageData.total}}条记录，第{{detailPageData.currentPage}}页，共{{detailPageData.totalPage}}页</span>
            </el-pagination>
        </el-col>
        <span slot="footer" class="dialog-footer">
            <div style="text-align: right">
                <el-button class="btnexport" @click="dialogTableVisible = false">取消</el-button>
            </div>
        </span>
    </el-dialog>

    <el-dialog width="90%" :visible.sync="detailDialogFormVisible" :before-close="detailFormCancel" :close-on-click-modal="false" id="printdiv1">
        <el-dialog
                width="95%"
                :close-on-click-modal="false"
                :visible.sync="detailDialogFormInnerVisible"
                :before-close="detailInnerFormCancel"
                append-to-body>
            <div align="center" style="font-size: 0.2rem;color: #655aa6">销售货物或提供应税劳务清单</div>
            <el-form :model="detailForm" class="formScroll" id="printdiv4">
                <div width="95%">购买方名称:<span style="color: #655aa6">{{detailForm.gfName}}</span></div>
                <div width="95%">销售方名称:<span style="color: #655aa6">{{detailForm.xfName}}</span></div>
                <div width="95%">
                    <span v-if="detailForm.invoiceType== 01" >增值税专用发票</span>
                    <span v-if="detailForm.invoiceType== 04" >增值税普通发票</span>
                    <span v-if="detailForm.invoiceType== 10" >增值税普通发票（电子普通发票）</span>
                    <span v-if="detailForm.invoiceType== 11" >增值税普通发票（卷式发票）</span>
                    <span style="color: #655aa6">{{detailForm.invoiceCode}}</span>
                    <div style="display: inline-block;margin-left: 20%">
                        <span>号码:</span><span style="color: #655aa6">{{detailForm.invoiceNo}}</span>
                    </div>
                </div>
                <table border="1" align="center" width="95%" class="detailFormList" cellspacing="0">
                    <tr>
                        <td colspan="1" width="5%" align="left" valign="top">序号</td>
                        <td colspan="2" width="20%" align="left" valign="top">货物或应税劳务、服务名称</td>
                        <td colspan="1" width="10%" align="left" valign="top">规格型号</td>
                        <td colspan="1" width="10%" align="left" valign="top">单位</td>
                        <td colspan="1" width="10%" align="left" valign="top">数量</td>
                        <td colspan="2" width="10%" align="left" valign="top">单价</td>
                        <td colspan="1" width="10%" align="left" valign="top">金额</td>
                        <td colspan="1" width="5%" align="left" valign="top">税率</td>
                        <td colspan="1" width="10%" align="left" valign="top">税额</td>
                    </tr>
                    <tr v-for="(item,index) in tempDetailEntityList" style="color: #655aa6">
                        <td colspan="1" align="left">{{index+1}}</td>
                        <td colspan="2">{{item.goodsName}}</td>
                        <td colspan="1">{{item.model}}</td>
                        <td colspan="1">{{item.unit}}</td>
                        <td colspan="1" align="right">{{item.num}}</td>
                        <td colspan="2" align="right">{{item.unitPrice}}</td>
                        <td colspan="1" align="right">{{item.detailAmount}}</td>
                        <td colspan="1" align="right">{{item.taxRate}}%</td>
                        <td colspan="1" align="right">{{item.taxAmount}}</td>
                    </tr>
                    <tr>
                        <td colspan="8" align="left" style="border-top: 0.01rem solid">合计</td>
                        <td colspan="1" align="right" style="color: #655aa6;border-top: 0.01rem solid">￥{{detailForm.detailAmountTotal}}</td>
                        <td colspan="1" style="border-top: 0.01rem solid"></td>
                        <td colspan="1" align="right" style="color: #655aa6;border-top: 0.01rem solid">￥{{detailForm.taxAmountTotal}}</td>
                    </tr>
                </table>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button class="btnexport" @click="printform(4)">打印</el-button>
                <el-button class="btnexport" @click="detailInnerFormCancel">关闭</el-button>
            </span>
        </el-dialog>
        <div class="row">
            <span style="display:block" class="col-xs-12">
                <div class="formTitle">发票明细</div>
                <div align="center" style="top: 0.1rem">
                    <span v-if="detailForm.invoiceType== 01" style="color: #655aa6;font-size: 0.18rem">增值税专用发票</span>
                    <span v-if="detailForm.invoiceType== 04" style="color: #655aa6;font-size: 0.18rem">增值税普通发票</span>
                    <span v-if="detailForm.invoiceType== 10" style="color: #655aa6;font-size: 0.18rem">增值税普通发票（电子普通发票）</span>
                    <span v-if="detailForm.invoiceType== 11" style="color: #655aa6;font-size: 0.18rem">增值税普通发票（卷式发票）</span>
                </div>
                <div style="clear: both"></div>
                <div>
                    <span style="width: 19%;display: inline-block;color: #655aa6;"><span style="color: #606266">发票代码:</span>{{detailForm.invoiceCode}}</span>
                    <span style="width: 17%;display: inline-block;color: #655aa6;"><span style="color: #606266">发票号码:</span>{{detailForm.invoiceNo}}</span>
                    <span style="width: 21%;display: inline-block;color: #655aa6;"><span style="color: #606266">开票日期:</span>{{detailForm.invoiceDate}}</span>
                    <span style="width: 25%;display: inline-block;color: #655aa6;"><span style="color: #606266">校验码:</span>{{detailForm.checkCode}}</span>
                    <span style="display: inline-block;color: #655aa6;"><span style="color: #606266">机器编号:</span>{{detailForm.machinecode}}</span>
                </div>
                <el-form :model="detailForm">
                    <table width="100%" height="80%" border="1" align="center" cellspacing="0">
                        <tr>
                            <td colspan="1" width="5%" align="center">购<br>买<br>方</td>
                            <td colspan="1" width="10%" height="120" align="left" style="border-right: none">
                                名称:<br>
                                纳税人识别号:<br>
                                地址 、 电话:<br>
                                开户行及帐号:
                            </td>
                            <td colspan="4" width="40%" height="120" align="left" style="border-left: none;color: #655aa6">
                                <span>{{detailForm.gfName}}</span><br>
                                <span>{{detailForm.gfTaxNo}}</span><br>
                                <span>{{detailForm.gfAddressAndPhone}}</span><br>
                                <span>{{detailForm.gfBankAndNo}}&nbsp;</span>
                            </td>
                            <td colspan="1" width="5%" align="center">密<br>码<br>区</td>
                            <td colspan="3" width="40%" align="center"></td>
                        </tr>

                        <tr>
                            <td colspan="2" width="20%" align="center" valign="top">货物或应税劳务、服务名称</td>
                            <td colspan="1" width="10%" align="center" valign="top">规格型号</td>
                            <td colspan="1" width="10%" align="center" valign="top">单位</td>
                            <td colspan="1" width="10%" align="center" valign="top">数量</td>
                            <td colspan="2" width="10%" align="center" valign="top">单价</td>
                            <td colspan="1" width="10%" align="center" valign="top">金额</td>
                            <td colspan="1" width="10%" align="center" valign="top">税率</td>
                            <td colspan="1" width="10%" align="center" valign="top">税额</td>
                        </tr>
                        <tr v-for="(item,index) in detailEntityList" style="color: #655aa6" v-if="detailEntityList!=null">
                            <td colspan="2" align="left">{{item.goodsName}}</td>

                            <td colspan="1">{{item.model}}</td>
                            <td colspan="1">{{item.unit}}</td>
                            <td colspan="1">{{item.num}}</td>
                            <td colspan="2" align="right">{{item.unitPrice}}</td>
                            <td colspan="1" align="right">{{item.detailAmount}}</td>
                            <td colspan="1" align="right">{{item.taxRate}}%</td>
                            <td colspan="1" align="right">{{item.taxAmount}}</td>
                        </tr>
                        <tr  v-if="(tempDetailEntityList.length>8)">
                            <td colspan="2" align="center" style="border-bottom: none" >
                                <span >详见详情清单</span>
                            </td>
                            <td colspan="1" style="border-bottom: none"></td>
                            <td colspan="1" style="border-bottom: none"></td>
                            <td colspan="1" style="border-bottom: none"></td>
                            <td colspan="2" style="border-bottom: none"></td>
                            <td colspan="1" align="right" style="border-bottom: none">￥<span style="color: #655aa6">{{detailForm.detailAmountTotal}}</span></td>
                            <td colspan="1" style="border-bottom: none"></td>
                            <td colspan="1" align="right" style="border-bottom: none">￥<span  style="color: #655aa6">{{detailForm.taxAmountTotal}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"  style="border-bottom: none;border-top: none">
                                <el-button class="btnexport" @click="showInner" style="color: black"
                                           v-if="(tempDetailEntityList.length>8)">详情清单</el-button>
                            </td>
                            <td colspan="1" style="border-bottom: none;border-top: none"></td>
                            <td colspan="1" style="border-bottom: none;border-top: none"></td>
                            <td colspan="1" style="border-bottom: none;border-top: none"></td>
                            <td colspan="2" style="border-bottom: none;border-top: none"></td>
                            <td colspan="1" style="border-bottom: none;border-top: none"></td>
                            <td colspan="1" style="border-bottom: none;border-top: none"></td>
                            <td colspan="1" style="border-bottom: none;border-top: none"></td>
                        </tr>
                        <tr >
                            <td colspan="2" align="center" style="border-top: none">合计</td>
                            <td colspan="1" style="border-top: none"></td>
                            <td colspan="1" style="border-top: none"></td>
                            <td colspan="1" style="border-top: none"></td>
                            <td colspan="2" style="border-top: none"></td>
                            <td colspan="1" align="right" style="border-top: none"><span v-if="detailForm.detailAmountTotal=='—— ——'"></span><span v-else>￥</span><span style="color: #655aa6">{{detailForm.detailAmountTotal}}</span></td>
                            <td colspan="1" style="border-top: none"></td>
                            <td colspan="1" align="right" style="border-top: none"><span v-if="detailForm.taxAmountTotal=='—— ——'"></span><span v-else>￥</span><span  style="color: #655aa6">{{detailForm.taxAmountTotal}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="2" width="30%" align="center">价税合计（大写）</td>
                            <td colspan="8" width="30%" align="left">
                                <i style="display: inline-block;float: left"><span style="color: #655aa6">{{detailForm.stringTotalAmount}}</span></i>
                                <i style="display: inline-block;float: right;margin-right: 25%"><span v-if="(detailForm.totalAmount!=null)">(小写)￥</span>  <span style="color: #655aa6">{{detailForm.totalAmount}}</span></i>
                                <div style="clear: both"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" width="5%" align="center">销<br>售<br>方</td>
                            <td colspan="1" width="10%" height="120" align="left" style="border-right: none">
                                名称:<br>
                                纳税人识别号:<br>
                                地址 、 电话:<br>
                                开户行及帐号:
                            </td>
                            <td colspan="4" width="40%" height="120" align="left" style="border-left: none;color: #655aa6">
                                <span>{{detailForm.xfName}}</span><br>
                                <span>{{detailForm.xfTaxNo}}</span><br>
                                <span>{{detailForm.xfAddressAndPhone}}</span><br>
                                <span>{{detailForm.xfBankAndNo}}&nbsp;</span><br>
                            </td>
                            <td colspan="1" width="5%" align="center">备<br>注</td>
                            <td colspan="3" width="40%" align="left" valign="top">{{detailForm.remark}}</td>
                        </tr>
                    </table>
                </el-form>
            </span>

        </div>
        <span slot="footer" class="dialog-footer">
            <el-button class="btnexport" @click="printform(1)">打印</el-button>
    <el-button class="btnexport" @click="detailFormCancel">关闭</el-button>
  </span>
    </el-dialog>

    <el-dialog width="90%"  :visible.sync="detailDialogCheckFormVisible" :close-on-click-modal="false"
               :before-close="detailCheckFormCancel" id="printdiv2">
        <el-dialog
                width="95%"
                :close-on-click-modal="false"
                :visible.sync="detailDialogCheckFormInnerVisible"
                :before-close="detailCheckInnerFormCancel"
                append-to-body>
            <div align="center" style="font-size: 0.2rem;color: #655aa6">销售货物或提供应税劳务清单</div>
            <el-form :model="detailForm" class="formScroll" id="printdiv5">
                <div width="95%">购买方名称:<span style="color: #655aa6">{{detailForm.gfName}}</span></div>
                <div width="95%">销售方名称:<span style="color: #655aa6">{{detailForm.xfName}}</span></div>
                <div width="95%">
                    <span>所属通行费发票代码:</span>
                    <span style="color: #655aa6">{{detailForm.invoiceCode}}</span>
                    <div style="display: inline-block; margin-left: 20%">
                        <span>号码:</span><span style="color: #655aa6">{{detailForm.invoiceNo}}</span>
                    </div>
                </div>
                <table border="1" align="center" width="95%" class="detailFormList" cellspacing="0">
                    <tr>
                        <td colspan="1" width="10%" align="left" >序号</td>
                        <td colspan="2" width="20%" align="left" valign="top">项目名称</td>
                        <td colspan="1" width="10%" align="left" valign="top">车牌号</td>
                        <td colspan="1" width="10%" align="left" valign="top">类型</td>
                        <td colspan="1" width="10%" align="left" valign="top">通行日期起</td>
                        <td colspan="2" width="10%" align="left" valign="top">通行日期止</td>
                        <td colspan="1" width="10%" align="left" valign="top">金额</td>
                        <td colspan="1" width="10%" align="left" valign="top">税率</td>
                        <td colspan="1" width="10%" align="left" valign="top">税额</td>
                    </tr>
                    <tr v-for="(item,index) in tempDetailEntityList" style="color: #655aa6">
                        <td colspan="1" align="left">{{index+1}}</td>
                        <td colspan="2" align="left">{{item.goodsName}}</td>
                        <td colspan="1">{{item.cph}}</td>
                        <td colspan="1">{{item.lx}}</td>
                        <td colspan="1">{{item.txrqq}}</td>
                        <td colspan="2">{{item.txrqz}}</td>
                        <td colspan="1" align="right">{{item.detailAmount}}</td>
                        <td colspan="1" align="right">{{item.taxRate}}%</td>
                        <td colspan="1" align="right">{{item.taxAmount}}</td>
                    </tr>
                    <tr>
                        <td colspan="8" align="left" style="border-top: 0.01rem solid">合计</td>
                        <td colspan="1" align="right" style="color: #655aa6;border-top: 0.01rem solid">￥{{detailForm.detailAmountTotal}}</td>
                        <td colspan="1" style="border-top: 0.01rem solid"></td>
                        <td colspan="1" align="right" style="color: #655aa6;border-top: 0.01rem solid">￥{{detailForm.taxAmountTotal}}</td>
                    </tr>
                </table>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button class="btnexport" @click="printform(5)">打印</el-button>
                <el-button class="btnexport" @click="detailCheckInnerFormCancel">关闭</el-button>
            </span>
        </el-dialog>
        <div class="row">
            <span style="display:block" class="col-xs-12">
                <div class="formTitle">发票明细</div>
                <div align="left" style="font-size: 0.18rem;color:#333333;top:0.1rem;display: block;float: left" >通行费</div>
                <div align="center" style="color: #655aa6;font-size: 0.18rem">增值税普通发票（通行费发票）</div>
                <div style="clear: both"></div>
                <div>
                    <div>
                        <span style="width: 19%;display: inline-block;color: #655aa6;"><span style="color: #606266">发票代码:</span>{{detailForm.invoiceCode}}</span>
                        <span style="width: 17%;display: inline-block;color: #655aa6;"><span style="color: #606266">发票号码:</span>{{detailForm.invoiceNo}}</span>
                        <span style="width: 21%;display: inline-block;color: #655aa6;"><span style="color: #606266">开票日期:</span>{{detailForm.invoiceDate}}</span>
                        <span style="width: 25%;display: inline-block;color: #655aa6;"><span style="color: #606266">校验码:</span>{{detailForm.checkCode}}</span>
                        <span style="display: inline-block;color: #655aa6;"><span style="color: #606266">机器编号:</span>{{detailForm.machinecode}}</span>
                    </div>
                </div>
                <el-form :model="detailForm">
                    <table width="100%" height="80%" border="1" align="center" cellspacing="0">
                        <tr>
                            <td colspan="1" width="5%" align="center">购<br>买<br>方</td>
                            <td colspan="1" width="10%" height="120" align="left" style="border-right: none">
                                名称:<br>
                                纳税人识别号:<br>
                                地址 、 电话:<br>
                                开户行及帐号:
                            </td>
                            <td colspan="4" width="40%" height="120" align="left" style="border-left: none;color: #655aa6">
                                <span>{{detailForm.gfName}}</span><br>
                                <span>{{detailForm.gfTaxNo}}</span><br>
                                <span>{{detailForm.gfAddressAndPhone}}</span><br>
                                <span>{{detailForm.gfBankAndNo}}&nbsp;</span>
                            </td>
                            <td colspan="1" width="5%" align="center">密<br>码<br>区</td>
                            <td colspan="3" width="40%" align="center"></td>
                        </tr>

                        <tr>
                            <td colspan="2" width="20%" align="center" valign="top">项目名称</td>
                            <td colspan="1" width="10%" align="center" valign="top">车牌号</td>
                            <td colspan="1" width="10%" align="center" valign="top">类型</td>
                            <td colspan="1" width="10%" align="center" valign="top">通行日期起</td>
                            <td colspan="2" width="10%" align="center" valign="top">通行日期止</td>
                            <td colspan="1" width="10%" align="center" valign="top">金额</td>
                            <td colspan="1" width="10%" align="center" valign="top">税率</td>
                            <td colspan="1" width="10%" align="center" valign="top">税额</td>
                        </tr>
                        <tr v-for="(item,index) in detailEntityList" style="color: #655aa6">
                            <td colspan="2" align="left">{{item.goodsName}}</td>
                            <td colspan="1">{{item.cph}}</td>
                            <td colspan="1">{{item.lx}}</td>
                            <td colspan="1">{{item.txrqq}}</td>
                            <td colspan="2">{{item.txrqz}}</td>
                            <td colspan="1" align="right">{{item.detailAmount}}</td>
                            <td colspan="1" align="right">{{item.taxRate}}%</td>
                            <td colspan="1" align="right">{{item.taxAmount}}</td>
                        </tr>
                        <tr  v-if="(tempDetailEntityList.length>8)">
                            <td colspan="2" align="center" style="border-bottom: none" >
                                <span >详见详情清单</span>
                            </td>
                            <td colspan="1" style="border-bottom: none"></td>
                            <td colspan="1" style="border-bottom: none"></td>
                            <td colspan="1" style="border-bottom: none"></td>
                            <td colspan="2" style="border-bottom: none"></td>
                            <td colspan="1" align="right" style="border-bottom: none">￥<span style="color: #655aa6">{{detailForm.detailAmountTotal}}</span></td>
                            <td colspan="1" style="border-bottom: none"></td>
                            <td colspan="1" align="right" style="border-bottom: none">￥<span  style="color: #655aa6">{{detailForm.taxAmountTotal}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"  style="border-bottom: none;border-top: none">
                                <el-button class="btnexport" @click="showCheckInner" style="color: black"
                                           v-if="(tempDetailEntityList.length>8)">详情清单</el-button>
                            </td>
                            <td colspan="1" style="border-bottom: none;border-top: none"></td>
                            <td colspan="1" style="border-bottom: none;border-top: none"></td>
                            <td colspan="1" style="border-bottom: none;border-top: none"></td>
                            <td colspan="2" style="border-bottom: none;border-top: none"></td>
                            <td colspan="1" style="border-bottom: none;border-top: none"></td>
                            <td colspan="1" style="border-bottom: none;border-top: none"></td>
                            <td colspan="1" style="border-bottom: none;border-top: none"></td>
                        </tr>
                        <tr >
                            <td colspan="2" align="center" style="border-top: none">合计</td>
                            <td colspan="1" style="border-top: none"></td>
                            <td colspan="1" style="border-top: none"></td>
                            <td colspan="1" style="border-top: none"></td>
                            <td colspan="2" style="border-top: none"></td>
                            <td colspan="1" align="right" style="border-top: none"><span v-if="detailForm.detailAmountTotal=='—— ——'"></span><span v-else>￥</span><span style="color: #655aa6">{{detailForm.detailAmountTotal}}</span></td>
                            <td colspan="1" style="border-top: none"></td>
                            <td colspan="1" align="right" style="border-top: none"><span v-if="detailForm.taxAmountTotal=='—— ——'"></span><span v-else>￥</span><span  style="color: #655aa6">{{detailForm.taxAmountTotal}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="2" width="30%" align="center">价税合计（大写）</td>
                            <td colspan="8" width="30%" align="left">
                                <i style="display: inline-block;float: left"><span style="color: #655aa6">{{detailForm.stringTotalAmount}}</span></i>
                                <i style="display: inline-block;float: right;margin-right: 25%"><span v-if="(detailForm.totalAmount!=null)">(小写)￥</span>  <span style="color: #655aa6">{{detailForm.totalAmount}}</span></i>
                                <div style="clear: both"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" width="5%" align="center">销<br>售<br>方</td>
                            <td colspan="1" width="10%" height="120" align="left" style="border-right: none">
                                名称:<br>
                                纳税人识别号:<br>
                                地址 、 电话:<br>
                                开户行及帐号:
                            </td>
                            <td colspan="4" width="40%" height="120" align="left" style="border-left: none;color: #655aa6">
                                <span>{{detailForm.xfName}}</span><br>
                                <span>{{detailForm.xfTaxNo}}</span><br>
                                <span>{{detailForm.xfAddressAndPhone}}</span><br>
                                <span>{{detailForm.xfBankAndNo}}&nbsp;</span><br>
                            </td>
                            <td colspan="1" width="5%" align="center">备<br>注</td>
                            <td colspan="3" width="40%" align="left" valign="top" style="color: #655aa6">{{detailForm.remark}}</td>
                        </tr>
                    </table>
                </el-form>
            </span>

        </div>
        <span slot="footer" class="dialog-footer">
            <el-button class="btnexport" @click="printform(2)">打印</el-button>
    <el-button class="btnexport" @click="detailCheckFormCancel">关闭</el-button>
  </span>
    </el-dialog>

    <!-- Form -->
    <el-dialog width="90%" :visible.sync="detailDialogVehicleFormVisible" :close-on-click-modal="false" :before-close="detailVehicleFormCancel" id="printdiv3">
        <div class="row">
            <span style="display:block" class="col-xs-12">
                <div class="formTitle">发票明细</div>
                <el-form :model="detailForm">
                    <div align="center" style="color: #655aa6;font-size: 0.18rem">机动车销售统一发票</div>
                    <div>
                        <span style="margin-right: 15%">发票代码:<span style="color: #655aa6">{{detailForm.invoiceCode}}</span></span>
                        <span style="margin-right: 15%">发票号码:<span style="color: #655aa6">{{detailForm.invoiceNo}}</span></span>
                        <span>开票日期:<span style="color: #655aa6">{{detailForm.invoiceDate}}</span></span>
                    </div>
                    <table width="100%" height="80%" border="1" align="center" cellspacing="0">
                        <tr>
                            <td colspan="1" align="center">
                                机打代码<br>
                                机打号码<br>
                                机器编号
                            </td>
                            <td colspan="3" align="left" style="color: #655aa6">
                                {{detailForm.invoiceCode}}<br>
                                {{detailForm.invoiceNo}}<br>
                                {{detailForm.machinecode}}
                            </td>
                            <td colspan="1" align="center">
                                税<br>
                                控<br>
                                码
                            </td>
                            <td colspan="5" align="center">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" align="center">
                                购买方名称及<br>
                                身份证号码/<br>
                                组织机构代码
                            </td>
                            <td colspan="4" align="left" style="color: #655aa6">
                                <br>
                                {{detailForm.buyerIdNum}}
                            </td>
                            <td colspan="1" align="center">
                                纳税人识别号
                            </td>
                            <td colspan="4" align="left" style="color: #655aa6">
                                {{detailForm.gfTaxNo}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" align="center">
                                车辆类型
                            </td>
                            <td colspan="2" align="left" style="color: #655aa6">
                                {{detailForm.vehicleType}}
                            </td>
                            <td colspan="1" align="center">
                                厂牌型号
                            </td>
                            <td colspan="3" align="left" style="color: #655aa6">
                                {{detailForm.factoryModel}}
                            </td>
                            <td colspan="1" align="left">
                                产地
                            </td>
                            <td colspan="2" align="left" style="color: #655aa6">
                                {{detailForm.productPlace}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" align="center">
                                合格证号
                            </td>
                            <td colspan="2" align="left" style="color: #655aa6">
                                {{detailForm.certificate}}
                            </td>
                            <td colspan="2" align="center">
                                进口证明书号
                            </td>
                            <td colspan="2" align="left" style="color: #655aa6">
                                {{detailForm.certificateImport}}
                            </td>
                            <td colspan="1" align="left">
                                商检单号
                            </td>
                            <td colspan="2" align="left" style="color: #655aa6">
                                {{detailForm.inspectionNum}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" align="center">
                                发动机号码
                            </td>
                            <td colspan="4" align="left" style="color: #655aa6">
                                {{detailForm.engineNo}}
                            </td>
                            <td colspan="1" align="center">
                                车辆识别代号/车架号码
                            </td>
                            <td colspan="4" align="left" style="color: #655aa6">
                                {{detailForm.vehicleNo}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" align="center">
                                价税合计
                            </td>
                            <td colspan="9" align="left" >
                                <span v-if="(detailForm.stringTotalAmount!=null)">大写</span><span style="color: #655aa6">{{detailForm.stringTotalAmount}}</span>
                                <span v-if="(detailForm.totalAmount!=null)">(小写)￥</span><span style="color: #655aa6">{{detailForm.totalAmount}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" align="center">
                                销货单位名称
                            </td>
                            <td colspan="4" align="left" style="color: #655aa6">
                                {{detailForm.xfName}}
                            </td>
                            <td colspan="1" align="center">
                                电话
                            </td>
                            <td colspan="4" align="center" style="color: #655aa6">
                                {{detailForm.phone}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" align="center">
                                纳税人识别号
                            </td>
                            <td colspan="4" align="left" style="color: #655aa6">
                                {{detailForm.xfTaxNo}}
                            </td>
                            <td colspan="1" align="center">
                                帐号
                            </td>
                            <td colspan="4" align="center" style="color: #655aa6">
                                {{detailForm.account}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" align="center">
                                地址
                            </td>
                            <td colspan="3" align="left" style="color: #655aa6">
                                {{detailForm.address}}
                            </td>
                            <td colspan="1" width="10%" align="center">
                                开户银行
                            </td>
                            <td colspan="5" align="center" style="color: #655aa6">
                                {{detailForm.bank}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" align="center">
                                增值税税率<br>
                                或征收率
                            </td>
                            <td colspan="1" align="center" >
                                <span style="color: #655aa6">{{detailForm.taxRate}}</span><span v-if="(detailForm.taxRate!=null)">%</span>
                            </td>
                            <td colspan="1" align="center" width="10%">
                                增值税税额
                            </td>
                            <td colspan="1" align="center">
                                <span v-if="(detailForm.taxAmount!=null)">￥</span><span style="color: #655aa6">{{detailForm.taxAmount}}</span>
                            </td>
                            <td colspan="1" align="center">
                                主管税务<br>
                                机关及代码
                            </td>
                            <td colspan="5" align="center" style="color: #655aa6">
                                {{detailForm.taxBureauName}}<br>
                                {{detailForm.taxBureauCode}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" width="15%" align="center">
                                不含税价
                            </td>
                            <td colspan="2" width="30%" align="left" >
                                <span v-if="(detailForm.invoiceAmount!=null)">小写￥</span><span style="color: #655aa6">{{detailForm.invoiceAmount}}</span>
                            </td>
                            <td colspan="1" width="10%" align="center">
                                完税凭证号码
                            </td>
                            <td colspan="2" width="20%" align="center" style="color: #655aa6">
                                {{detailForm.taxRecords}}
                            </td>
                            <td colspan="1" width="5%" align="center">
                                吨位
                            </td>
                            <td colspan="1" width="7%" align="center" style="color: #655aa6">
                                {{detailForm.tonnage}}
                            </td>
                            <td colspan="1" width="8%" align="center">
                                限乘人数
                            </td>
                            <td colspan="1" width="5%" align="center" style="color: #655aa6">
                                {{detailForm.limitPeople}}
                            </td>
                        </tr>
                    </table>
                </el-form>
            </span>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button class="btnexport" @click="printform(3)">打印</el-button>
            <el-button class="btnexport" @click="detailVehicleFormCancel">关闭</el-button>
        </span>
    </el-dialog>
</div>
</body>
<script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
<script type="text/babel" src="../../js/modules/check/history.js"></script>
</html>