
<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">


        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="invoice_check_history" v-cloak>
    <div id="appForm">
        <el-form  :model="invoiceStatisticsQuery" class="demo-form-inline" label-width="1.0rem">
            <el-row>
                <el-col :span="12">
            <el-form-item label="查验年份:">
                <el-date-picker :clearable="false" :disabled="false" :editable="false" v-model="invoiceStatisticsQuery.invoiceYear"
                                @blur="blurpickerchange(1)"
                                @focus="focuspickerchange(1)"
                                align="right"
                                type="year" placeholder="选择日期" value-format="yyyy" :picker-options="doLimit"
                >
                </el-date-picker>
            </el-form-item>
                </el-col>
            <el-col :span="1" :offset="1">
                <el-button class="btnexport" @click="onSubmit">查询</el-button>
            </el-col>
            </el-row>
        </el-form>
    </div>
    <hr>
    <el-table height="4rem" border fit :data="invoiceStatisticsTableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              style="width: 100%; margin-top: 0.2rem"
              v-loading="loading"
              element-loading-text="正在拼命加载中"
    >
         <el-table-column :show-overflow-tooltip="true"  type="index" width="80" :index="mainIndex" label="序号" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="checkDate" label="查验月份"
                         align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="totalCount" label="查验张数" align="right" header-align="center"
                         :formatter="assignNullValue">
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="cgCount" label="成功张数" align="right" header-align="center"
                         :formatter="assignNullValue"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  property="sbCount" label="失败张数" align="right" header-align="center"
                         :formatter="assignNullValue"></el-table-column>
    </el-table>

    <!--<el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination @current-change="getInvoiceStatistics" :current-page="pageData.currentPage" :page-size="12"
                       layout="total, prev, pager, next, jumper" :total="pageData.total"
                       style="float:right"></el-pagination>
    </el-col>
-->
    <el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                       :current-page="pageData.currentPage" :page-size="pageSize" :page-sizes="pageList"
                       :pager-count="pagerCount"
                       layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
            <span>共{{total}}条记录，第{{pageData.currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>
    </el-col>
</div>
</body>
<script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
<script type="text/babel" src="../../js/modules/check/statistics.js"></script>
</html>