
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style scoped>
        .hide-dialog {
            display: none;
        }

        [v-cloak] {
            display: none;
        }

        #file {
            outline: 0.01rem;
            background-color: transparent;
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0;
            height: 0.4rem;
            width: 100%;
        }

        .control-label {
            display: block;
            margin-bottom: 0.0rem;
            height: 0.4rem;
            line-height: 0.4rem;
            overflow: hidden;
        }

        #upload {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 0.4rem;
            border: 0.01rem solid #dedede;
            height: 0.4rem;
        }

        .row {
            padding: 0 !important;
        }
    </style>
</head>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <form id="upload_form" target="frm" method="post" enctype="multipart/form-data">
        <div class="row" style="border-top: 0">
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-xs-5 control-label">选择上传文件:</label>
                    <div class="col-xs-5" id="upload">
                        <span v-html="selectFileFlag"></span>
                        <input type="file" @change="onChangeFile($event)" id="file" name="file" class="text-input"
                               hidden>
                    </div>
                </div>
            </div>
            <el-col :span="1" :offset="1">
                <el-button  class="btnexport" @click="showSelectFileWin()">浏览</el-button>
            </el-col>
            <el-col :span="1" :offset="1">
                <el-button  class="btnexport" @click="uploadFile($event)">导入文件</el-button>
            </el-col>
            <el-col :span="1" :offset="1">
                <el-button  class="btnexport" @click="exportData()">模板下载</el-button>
            </el-col>
            <el-col :span="1" :offset="1">
                <el-button  class="btnexport" @click="submitData()">发票勾选</el-button>
            </el-col>
        </div>
        <iframe id="frm" name="frm" style="display: none;"></iframe>
    </form>
    <hr>
    <div style="clear: both"></div>
    <el-table height="4rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              style="width: 100%; margin-top: 0.2rem" @selection-change="changeFun"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中"
    >
        <el-table-column :show-overflow-tooltip="true"  type="selection" width="55" align="center" class="selection" prop='uuid'
                         :selectable='checkboxInit'
                         @selection-change="changeFun"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  type="index" width="70" label="序号" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="noAuthTip" label="不可勾选提示" :show-overflow-tooltip="true" align="left"
                         header-align="center" :formatter="formatterAuthTip"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码" align="left" header-align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="left" header-align="center">
            <template scope="scope">
                <span>{{ scope.row.invoiceNo }}</span>
                <el-tooltip class="item" effect="dark" placement="top-start">
                    <div slot="content">{{ scope.row.invoiceTypeName }}</div>
                    <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png"/>
                    <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png"/>
                    <img   v-if="scope.row.invoiceType=== '04' "
                         style="height:0.2rem;" src="../../img/plain-invoice.png"/>
                    <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                    <img   v-if="scope.row.invoiceType=== '11' "
                         style="height:0.2rem;" src="../../img/roll-invoice.png"/>
                    <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center" header-align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="amount" label="金额" align="right" header-align="center"
                         :formatter="numberFormat"></el-table-column>
    </el-table>
</div>
</body>
<script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>

<script type="text/babel">
    var allDataList = [];
    var dataList = [];
    Vue.http.options.emulateJSON = true;
    Vue.http.options.emulateHTTP = true;
    new Vue({
        el: '#rrapp',
        i18n,
        data: {
            listLoading: false,
            selectFileFlag: '',
            fileList: [],
            tableData: [],
            tempTableData: [],
            currentPage: 1,
            total: 10,
            importFileUrl: '',
            multipleSelection: [],

            isNeedFileExtension: false,
            file: "",
            token: token
        },
        mounted: function () {
            this.importFileUrl = baseURL + sysUrl.importCertification;
        },
        methods: {
            exportData() {
                document.getElementById("ifile").src = baseURL + sysUrl.exportCheckTemp;
            },
            submitData: function () {
                if (this.multipleSelection.length == 0) {
                    alert("您尚未选择需要提交勾选的发票!");
                    return;
                }
                const param = {
                    jsonParam: JSON.stringify(this.multipleSelection)
                };
                const me = this;
                me.openConfirm(me, "是否确认提交勾选？", function () {
                    me.listLoading = true;
                    me.$http.post(baseURL + sysUrl.submit,
                        param, {
                            'headers': {
                                "token": token
                            }
                        }).then(function (response) {
                        me.listLoading = false;
                        if (response.data.success) {
                            alert('提交勾选成功');
                            me.removeData();
                        } else {
                            alert('提交勾选失败');
                        }
                    }, (err) => {
                        me.listLoading = false;
                        if (err.status == 408) {
                            alert(err.statusText);
                        }
                    }).catch(function (response) {
                        alert(response.data.msg);
                    });
                }, function () {

                });
            },
            changeFun: function (row) {
                this.multipleSelection = row;
            },
            checkboxInit: function (row, index) {
                //return 0;//不可勾选
                if (this.checkAuthTip(row) != '') {
                    return 0;
                } else {
                    return 1;
                }
            },
            onChangeFile: function (event) {
                const str = $("#file").val();
                const index = str.lastIndexOf('.');
                var photoExt = str.substr(index, 4);
                photoExt = photoExt.toLowerCase();
                if (photoExt != '' && !(photoExt == '.xls' || photoExt == '.xlsx')) {
                    alert("请上传excel文件格式!");
                    this.isNeedFileExtension = false;
                    return false;
                } else {
                    this.selectFileFlag = '';
                    this.file = '';
                    var meFile = event.target.files[0];
                    if (event != undefined && meFile != null && meFile != '') {
                        this.file = event.target.files[0];
                        this.isNeedFileExtension = true;
                        //截取名称最后18位
                        this.selectFileFlag = event.target.files[0].name;
                    }
                }
            },
            uploadFile: function (event) {
                if (!this.isNeedFileExtension) {
                    alert("请上传excel文件格式!");
                } else {
                    event.preventDefault();
                    if (this.file == '' || this.file == undefined) {
                        alert("请选择excel文件!");
                        return;
                    }
                    const formData = new FormData();
                    formData.append('file', this.file);
                    formData.append('token', this.token);
                    const config = {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    };
                    this.tempTableData = this.tableData;
                    this.tableData = [];
                    this.listLoading = true;
                    var flag = false
                    var hh;
                    const url = baseURL + sysUrl.importCertification;
                    this.$http.post(url, formData, config).then(function (response) {
                        this.listLoading = false;
                        flag = true;
                        if(response.data.code !=undefined && response.data.code == 401) {
                            return;
                        }
                        this.selectFileFlag = '';
                        this.file = '';
                        if (response.data.success) {
                            if (this.tempTableData.length + response.data.reason.length + response.data.errorCount > 500) {
                                this.tableData = this.tempTableData;
                                alert('导入数据超过500条，请修改模板！');
                                return;
                            }
                            for (var i = 0; i < response.data.reason.length; i++) {
                                if (dataList.length > 0 && this.contains(dataList, response.data.reason[i].invoiceCode + response.data.reason[i].invoiceNo)) {
                                    response.data.reason[i].noAuthTip = "0";
                                    allDataList.push(response.data.reason[i])
                                } else {
                                    dataList.push(response.data.reason[i].invoiceCode + response.data.reason[i].invoiceNo);
                                    allDataList.push(response.data.reason[i])
                                }
                            }
                            this.tableData = allDataList;
                            alert("共计导入" + (response.data.reason.length + response.data.errorCount) + "条，成功" + response.data.reason.length + "条,失败" + response.data.errorCount + "条");
                        } else {
                            this.tableData = this.tempTableData;
                            alert(response.data.reason);
                        }
                    }, (err) => {
                        this.tableData = this.tempTableData;
                        this.listLoading = false;
                        if (err.status == 408) {
                            alert(err.statusText);
                        }
                    })
                    var intervelId = setInterval(function () {
                        if (flag) {
                            hh=$(document).height();
                            $("body",parent.document).find("#myiframe").css('height',hh+'px');
                            clearInterval(intervelId);
                            return;
                        }
                    },50);
                }
            },
            removeData: function () {
                for (var i = 0; i < this.tableData.length; i++) {
                    for (var j = 0; j < this.multipleSelection.length; j++) {
                        if (this.tableData[i] != undefined && this.multipleSelection[j] != undefined) {
                            if (this.tableData[i].indexNo == this.multipleSelection[j].indexNo) {
                                this.tableData.splice(i, 1);
                                i--;
                            }
                        }
                    }
                }
            },
            formatterAuthTip: function (row) {
                var val = this.checkAuthTip(row);
                if (val == "") {
                    return "一 一";
                } else {
                    return val;
                }
            },
            checkAuthTip: function (row) {
                const invoiceType = row.invoiceType;
                const invoiceStatus = row.invoiceStatus;
                const taxAmount = row.taxAmount;
                const amount = row.amount;
                if (row.noAuthTip == '0') {
                    return '重复发票';
                } else if (row.noAuthTip == '1') {
                    return '发票代码格式错误';
                } else if (row.noAuthTip == '2') {
                    return '发票号码格式错误';
                } else if (row.noAuthTip == '3') {
                    return '金额格式错误';
                } else if (row.noAuthTip == '4') {
                    return '开票日期格式错误';
                } else if (row.recordFlag == '0') {
                    return '无抵账信息';
                } else if (row.recordFlag == '2') {
                    return '没有税号权限';
                } else if (invoiceType != '01' && invoiceType != '03' && invoiceType != '14') {
                    return '发票类型有误';
                } else if (invoiceStatus != '0') {
                    return '发票状态异常';
                } else if (!(amount > 0)) {
                    return "金额必须大于0";
                } else if (taxAmount < 0) {
                    return "税额必须大于或等于零";
                } else if (!row.compareToResult) {
                    return "开票日期必须小于或等于认证归属期";
                } else if (row.rzhYesorno == '1' && row.authStatus == '4') {
                    return '该发票已认证并且认证成功';
                } else if (row.invoiceStatus == "1") {
                    return "失控发票";
                } else if (row.invoiceStatus == "2") {
                    return "作废发票";
                } else if (row.invoiceStatus == "3") {
                    return "红冲发票";
                } else if (row.invoiceStatus == "4") {
                    return "异常发票";
                } else if (row.valid == "0") {
                    return "无效发票";
                } else if (row.authStatus != "0" && row.authStatus != "5") {
                    return "已在认证处理状态"
                } else {
                    return '';
                }
            },
            fileStatusChange: function (file, fileList) {
                this.fileList = fileList.slice(-1);
                if (file.status == 'ready') {
                    this.selectFileFlag = file.name;
                    this.file = file.raw;
                    const index = file.name.lastIndexOf('.');
                    const photoExt = file.name.substr(index, 4);
                    this.fileExt = photoExt.toLowerCase();
                }
            },
            showSelectFileWin() {
                this.selectFileFlag = '';
                this.file = '';
                $("#upload_form")[0].reset();
                $("#file").click();
            },
            contains: function (arr, obj) {
                var i = arr.length;
                while (i--) {
                    if (arr[i] === obj) {
                        return true;
                    }
                }
                return false;
            }
        }
    });
</script>
</html>