
<!DOCTYPE html>
<html lang="ZH">
<head>
	<title>扫码认证</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../libs/customer/index.css">
	<style scoped>
		.hide-dialog {
			display: none;
		}
	</style>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/font-awesome.min.css">
	<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
	<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
	<link rel="stylesheet" href="../../css/main.css">

	<script src="../../libs/jquery.min.js"></script>
	<script src="../../plugins/layer/layer.js"></script>
	<script src="../../libs/bootstrap.min.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
	<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
	<script src="../../js/common.js"></script>
	<script src="../../libs/customer/index.js"></script>
	<script src="../../js/autoRem.js"></script>
	<!--<script>
        //获取浏览器页面可见高度和宽度
        var _PageHeight = document.documentElement.clientHeight,
            _PageWidth = document.documentElement.clientWidth;
        //计算loading框距离顶部和左部的距离（loading框的宽度为2.15rem，高度为0.61rem）
        var _LoadingTop = _PageHeight > 61 ? (_PageHeight - 61) / 2 : 0,
            _LoadingLeft = _PageWidth > 215 ? (_PageWidth - 215) / 2 : 0;
        //在页面未加载完毕之前显示的loading Html自定义内容
        var _LoadingHtml = '<div id="loadingDiv" style="position:absolute;left:0;width:100%;height:' + _PageHeight +
            'px;top:0;background:white;opacity:98;filter:alpha(opacity=98);z-index:10000;">' +
            '<div style="position: absolute; cursor1: wait; left: ' + _LoadingLeft + 'px; top:' + _LoadingTop + 'px; width: auto; height: 0.57rem; line-height: 0.57rem; padding-left: 0.5rem; padding-right: 0.05rem; background: #fff ' +
            'url("img/mainrolling.gif") no-repeat scroll 0.05rem 0.1rem; border: 0.02rem solid #95B8E7; color: #red; font-family:\'Microsoft YaHei\';">' +
            '页面加载中，请等待...</div></div>';
        //呈现loading效果
        document.write(_LoadingHtml);
        //监听加载状态改变
        document.onreadystatechange = completeLoading;

        //加载状态为complete时移除loading效果
        function completeLoading() {
            if (document.readyState == "complete") {
                var loadingMask = document.getElementById('loadingDiv');
                loadingMask.parentNode.removeChild(loadingMask);
            }
        }
	</script>-->
	</head>
<style type="text/css">
	[v-cloak] {
		display: none;
	}
	.hideItem{
		display: none;
	}
	.showItem{
		display: block;
	}
	.form-row{
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	.el-col-11{
		width: auto;
	}
	.checkMsg{
		transform: translateY(-0.05rem);;
	}
</style>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>

	<div>
		<el-form ref="form" :model="form" label-width="1.0rem">
			<el-row>
				<el-col :span="12">
				<el-form-item label="扫码:" class="form-item" label-width="0.55rem" style="position: relative">
					<el-input id="autofocusinput" :autofocus="true" ref="scanCode" v-model="form.scanCode" placeholder="请扫描发票二维码" type="password" v-on:change="add"></el-input>
				</el-form-item>
				</el-col>
				<el-col :span="12">
				<el-form-item label="发票代码:" class="form-item" id="requireMsg1">
					<el-input v-model="form.invoiceCode" maxlength="12" placeholder="请输入发票代码"></el-input>
				</el-form-item>
				</el-col>
				<el-col :span="12">
				<el-form-item label="发票号码:" class="form-item" id="requireMsg2">
					<el-input v-model="form.invoiceNo" maxlength="8"  placeholder="请输入发票号码"> </el-input>
				</el-form-item>
				</el-col>
				<el-col :span="12">
				<el-form-item label="金额:" class="form-item" id="requireMsg3">
					<el-input v-model="form.invoiceAmount"  placeholder="请输入发票金额"></el-input>
				</el-form-item>
				</el-col>
				<el-col :span="12">
				<el-form-item label="校验码:"  class="form-item hideItem" id="requireMsg5">
					<el-input v-model="form.invoiceAmount" placeholder="请输入校验码"  maxlength="6"></el-input>
				</el-form-item>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="12">
				<el-form-item label="开票日期:" class="form-item" id="requireMsg4">
					<el-col :span="11">
						<el-date-picker type="date" :clearable="false" :disabled="false" placeholder="选择日期"
										@blur="blurpickerchange(1)"
										@focus="focuspickerchange(1)"
										:picker-options="checkInvoiceDate"     :editable="false"
										v-model="form.invoiceDate" default-value="" format="yyyy-MM-dd" value-format="yyyy-MM-dd" @change="invoiceDate"></el-date-picker>
					</el-col>
				</el-form-item>
				</el-col>
				<el-col :span="1" :offset="1">
					<el-button class="btnexport"  @click="save">保存</el-button>
				</el-col>
				<el-col :span="1" :offset="1">
					<el-button class="btnexport"  @click="reset">重置</el-button>
				</el-col>
				<el-col :span="1" :offset="1">
					<el-button  class="btnexport" @click="check()">提交认证</el-button>
				</el-col>
			</el-row>
		</el-form>
	</div>
	<hr>

	<div class="h15"></div>
	<el-table height="4rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
			  style="width: 100%; margin-top: 0.2rem" @selection-change="changeFun">

		<el-table-column :show-overflow-tooltip="true"  type="selection" width="55" align="center" class="selection" prop='uuid' :selectable='checkboxInit'
						 @selection-change="changeFun"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  type="index" width="100" label="序号" align="center"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="noAuthTip" label="不可认证提示" align="center"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码" align="left" header-align="center"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="id" label="id" v-if='show' align="center" ></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="left" header-align="center">
			<template scope="scope">
				<span>{{ scope.row.invoiceNo }}</span>
				<el-tooltip class="item" effect="dark" placement="top-start">
					<div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
					<img v-if="scope.row.invoiceType== '01'"  style="height:0.2rem;" src="../../img/special-invoice.png" />
					<div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
					<img  v-if="scope.row.invoiceType== '03' "  style="height:0.2rem;" src="../../img/motor-vehicles.png" />
					<div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
					<img  v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png" />
				</el-tooltip>
			</template>
		</el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center" :formatter="formatInvoiceDate"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="invoiceAmount" label="金额" align="right" header-align="center" :formatter="invoiceAmountFormatDecimal"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="checkCode" label="校验码" align="center"></el-table-column>
	</el-table>
</div>
<script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
<script src="../../js/modules/certification/scanCertification.js"></script>

</body>
</html>