
<!DOCTYPE html>
<html lang="ZH">
<head>
	<meta charset="UTF-8">
	<title>勾选确认</title>
	<link rel="stylesheet" href="../../libs/customer/index.css">
	<style type="text/css">


		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
	<div id="appForm">
		<el-form  :model="form" class="demo-form-inline" label-width="1.0rem">
			<el-row>
				<el-col :span="12">
					<el-form-item label="JV:">
						<el-select id="gf-select" v-model="form.gfTaxNo" filterable @focus="gfNameFocus" @blur="gfNameBlur">
							<el-option
									v-for="item in gfs"
									:key="item.value"
									:label="item.label"
									:value="item.value">
							</el-option>
						</el-select>
					</el-form-item>
				</el-col>
				<!--<el-col :span="12">
				<el-form-item label="购方名称:">
					<el-select v-model="form.gfTaxNo" filterable id="gfSelect" @focus="gfNameFocus" @blur="gfNameBlur">
						<el-option label="全部" value="-1" selected></el-option>
						<el-option
								v-for="gf in form.gfNames"
								:key="gf.taxNo"
								:label="gf.name"
								:value="gf.taxNo">
						</el-option>
					</el-select>
				</el-form-item>
				</el-col>-->
				<el-col :span="12">
				<el-form-item label="销方名称:">
					<el-input class="inline-input" v-model="form.xfName" :maxlength="30"
							  placeholder="请输入销方名称"></el-input>
				</el-form-item>
				</el-col>
				<el-col :span="12">
				<el-form-item label="发票类型:" class="form-item">
					<el-select v-model="form.invoiceType">
						<el-option label="全部" value="-1" selected></el-option>
						<el-option label="增值税专用发票" value="01"></el-option>
						<el-option label="增值税普通发票" value="04"></el-option>
					</el-select>
				</el-form-item>
				</el-col>
				<el-col :span="14">
				<el-form-item label="勾选日期:" id="requireMsg4">
					<el-row>
					<el-col :span="13">
						<el-date-picker type="date" placeholder="选择日期" v-model="form.gxDate1" id="datevalue1"
										:picker-options="gxStartDateOptions"
										@blur="blurpickerchange(1)"
										@focus="focuspickerchange(1)"
										:clearable="false" :editable="false" value-format="yyyy-MM-dd"></el-date-picker>
					</el-col>
					<el-col class="line" :span="2">—</el-col>
					<el-col :span="13">
						<el-date-picker type="date" placeholder="选择日期" v-model="form.gxDate2" id="datevalue2"
										@blur="blurpickerchange(2)"
										@focus="focuspickerchange(2)"
										:picker-options="gxEndDateOptions"
										:clearable="false" :editable="false" value-format="yyyy-MM-dd"></el-date-picker>
					</el-col>
					</el-row>
				</el-form-item>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="12">
				<el-form-item label="发票号码:" class="form-item">
					<el-input v-model="form.invoiceNo"  maxlength="8" placeholder="请输入发票号码"
							  onkeyup="verificationInvoiceNoValue(this);" onchange="verificationInvoiceNoValue(this);"></el-input>
				</el-form-item>
				</el-col>
				<el-col :span="6">
					<el-form-item label="公司代码:" prop="companyCode"  label-width="1.4rem">
						<el-input v-model="form.companyCode" placeholder="请输入公司代码" maxlength="8"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="1" :offset="1">
					<el-button class="btnexport" @click="query">查询</el-button>
				</el-col>
				<el-col :span="1" :offset="1">
					<el-button class="btnexport"  @click="cancel" >撤销勾选</el-button>
				</el-col>
				<el-col :span="1" :offset="1">
					<el-button class="btnexport"  @click="submit" >提交认证</el-button>
				</el-col>
			</el-row>

		</el-form>
	</div>
	<hr>
	<div>
		<div align="left" style="float:left;font-size: 0.18rem; margin-top:0.09rem"><span id="totalStatistics"></span></div>
	</div>
	<el-table height="4rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
			  v-loading="listLoading"   @selection-change="changeFun"
			  element-loading-text="正在拼命加载中">

		<el-table-column :show-overflow-tooltip="true"  type="selection" width="55" align="center" class="selection" prop='id' @selection-change="changeFun"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex" label="序号" align="center"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="gxDate" label="勾选日期" align="center" :formatter="formatGxDate"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码"  align="left" header-align="center"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="left" header-align="center">
			<template scope="scope">
				<span>{{ scope.row.invoiceNo }}</span>
				<el-tooltip class="item" effect="dark" placement="top-start">
					<div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
					<img  v-if="scope.row.invoiceType== '01'"  style="height:0.2rem;" src="../../img/special-invoice.png" />
					<div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
					<img  v-if="scope.row.invoiceType== '03' "  style="height:0.2rem;" src="../../img/motor-vehicles.png" />
					<div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
					<img  v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png" />
				</el-tooltip>
			</template>
		</el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center" :formatter="formatInvoiceDate"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="gfName" label="购方名称" align="left" header-align="center" :show-overflow-tooltip="true"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="xfName" label="销方名称" align="left" header-align="center" :show-overflow-tooltip="true"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="invoiceAmount" label="金额" align="right" header-align="center" :formatter="invoiceAmountFormatDecimal"></el-table-column>
		<el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="right" header-align="center" :formatter="taxAmountFormatDecimal"></el-table-column>
	</el-table>
	<el-col class="toolbar" style="padding:0.1rem;">
		<el-pagination layout="slot, sizes,prev,pager,next" background
					   :current-page.sync="currentPage" :page-size="pageSize" :total="total" :page-size="pageSize" :page-sizes="pageList" @size-change="handleSizeChange"
					   :page-count="pageCount" @current-change="currentChange" style="float:right">
		</el-pagination>
		<span style="float: right;margin-top: 0.4%">共{{total}}条记录，第{{currentPage}}页，共{{pageCount}}页</span>
	</el-col>
</div>
</body>
<script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
<script src="../../js/modules/certification/submitCheck.js"></script>
</html>