
<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <title>写屏返回数据查询</title>
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <div id="appForm">
        <el-form  ref="xiaob" :model="form" class="demo-form-inline" label-width="1.1rem">
            <el-row>

                <el-col :span="14">
                    <el-form-item label="匹配日期:" class="form-item" id="requireMsg2">
                        <el-row>
                            <el-col :span="13">
                                <el-date-picker  type="date" :editable="false" v-model="form.createDateStart"  @blur="blurpickerchange(1)" @focus="focuspickerchange(1)" @change="invoiceDate3Change"  :clearable="false" placeholder="选择日期"  format="yyyy-MM-dd" value-format="yyyy-MM-dd" :picker-options="startDateOptions" ></el-date-picker>
                            </el-col>
                            <el-col :span="2">—</el-col>
                            <el-col :span="13">
                                <el-date-picker type="date" :editable="false" v-model="form.createDateEnd"  @blur="blurpickerchange(2)" @focus="focuspickerchange(2)" @change="invoiceDate4Change"  :clearable="false" placeholder="选择日期"  format="yyyy-MM-dd" value-format="yyyy-MM-dd" :picker-options="startDateOptions" ></el-date-picker>
                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="sixgod">
                    <el-form-item label="CODE:" >
                        <el-input class="inline-input" v-model="form.code" :maxlength="16" placeholder="请输入CODE"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="sixgod">
                    <el-form-item label="屏幕名称:" >
                        <el-input class="inline-input" v-model="form.screenName" :maxlength="16" placeholder="请输入屏幕名称"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" @click="query">查询</el-button>
                </el-col>

            </el-row>
        </el-form>
    </div>
    <hr>
    <el-table height="4rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中">
        <el-table-column :show-overflow-tooltip="true"  prop="id" label="ID" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="code" label="CODE" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="message" label="message" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="screen_name" label="screen_name" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.jv" label="jv" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.vender" label="vender" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.inv" label="inv"  align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.yy" label="yy" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.mm" label="mm" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.dd" label="dd" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.yy1" label="yy1" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.mm1" label="mm1" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.dd1" label="dd1" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.taxTotal" label="taxTotal" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.invDue" label="invDue" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.taxRate" label="taxRate"  align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.taxType" label="taxType" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.taxTypeZ" label="taxTypeZ" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.invTotal" label="invTotal" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.poNbr" label="poNbr" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.payCode" label="payCode" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.transaction" label="transaction" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.receiver" label="receiver" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.invPreTaxAmt" label="invPreTaxAmt" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.ifCut" label="ifCut" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.error" label="error" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.ifFapr" label="ifFapr" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="data.cover" label="cover" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="createDate" label="createDate" :formatter="formatCreateTime" align="center" ></el-table-column>

        </el-table-column>
    </el-table>
    <el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination layout="slot, sizes,prev,pager,next" background
                       :current-page.sync="currentPage" :page-size="pageSize" :total="total" :page-size="pageSize" :page-sizes="pageList" @size-change="handleSizeChange"
                       :page-count="pageCount" @current-change="currentChange" style="float:right">
        </el-pagination>
        <span style="float: right;margin-top: 0.09rem">共{{total}}条记录，第{{currentPage}}页，共{{pageCount}}页</span>
    </el-col>
</div>
</body>
<script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
<script src="../../js/modules/posuopei/returnscreen.js"></script>
</html>