
<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <title>数据发票匹配查询 </title>
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <div id="appForm">
        <el-form  :model="form" class="demo-form-inline" label-width="1.1rem">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="供应商号:">
                        <el-input class="inline-input" v-model="form.venderId" :maxlength="6"
                                  placeholder="请输入供应商号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="发票组号:">
                        <el-input class="inline-input" v-model="form.matchNo" :maxlength="venderIdMaxlength"
                                  placeholder="请输入发票组号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="发票号码:">
                        <el-input class="inline-input" v-model="form.invoiceNo"
                                  placeholder="请输入发票号码"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>


                <!--<el-col :span="12">-->
                <!--<el-form-item label="PO号:" label-width="1.38rem">-->
                <!--<el-input class="inline-input" v-model="form.poCode" :maxlength="16"-->
                <!--placeholder="请输入PO号"></el-input>-->
                <!--</el-form-item>-->
                <!--</el-col>-->
            <el-row>
                <el-col :span="14">
                    <el-form-item label="匹配日期:" class="form-item" id="requireMsg2">
                        <el-row>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="form.invoiceDate1"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(1)" @focus="focuspickerchange(1)" id="datevalue1"
                                                :picker-options="invoiceDateOptions1"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                                @change="invoiceDate1Change">
                                </el-date-picker>
                            </el-col>
                            <el-col :span="2">—</el-col>
                            <el-col :span="13">

                                <el-date-picker type="date" placeholder="选择日期" v-model="form.invoiceDate2"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(2)" @focus="focuspickerchange(2)" id="datevalue2"
                                                :picker-options="invoiceDateOptions1"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                                @change="invoiceDate2Change"></el-date-picker>

                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>

                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" @click="query">查询</el-button>
                </el-col>

            </el-row>
        </el-form>
    </div>
    <hr>
    <el-table height="4rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中">

        <el-table-column :show-overflow-tooltip="true"  type="index" width="70" label="序号" :index="mainIndex" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="matchNo" label="发票组号" :min-width="200" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="totalAmount" label="价税合计" align="right" :min-width="200" header-align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="right"  :min-width="160" header-align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="createDate" label="录入日期" align="center" :min-width="160" header-align="center" :formatter="dateFormats"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="gfName" label="购货单位" align="right" :min-width="160" header-align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="venderId" label="供应商号" :min-width="200" align="center" :show-overflow-tooltip="true" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="settlemenTamount" label="结算金额" align="right"  :min-width="160" header-align="center"></el-table-column>

        <el-table-column :show-overflow-tooltip="true"  prop="id" width="240" label="操作" class-name="noSpotSpotSpot" align="center" >
            <template scope="scope">

                <a  @click="resultDetail(scope.row)"><span class="column-span" style="color: black">明细</span></a>
                <!-- <span v-if="scope.row.scanMactchStatus=='0'|| scope.row.scanMactchStatus=='2'" >
                     <a  @click="cancelMatchButton(scope.row)"><span class="column-span" style="color: black">取消匹配</span></a>
                 </span>
                 <a  @click="scanWinShow(scope.row)"><span class="column-span" style="color: black">相关资料图片</span></a>-->

            </template>
        </el-table-column>
    </el-table>
    <el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination layout="slot, sizes,prev,pager,next" background
                       :current-page.sync="currentPage" :page-size="pageSize" :total="total" :page-size="pageSize" :page-sizes="pageList" @size-change="handleSizeChange"
                       :page-count="pageCount" @current-change="currentChange" style="float:right">
        </el-pagination>
        <span style="float: right;margin-top: 0.4%">共{{total}}条记录，第{{currentPage}}页，共{{pageCount}}页</span>
    </el-col>


    <el-dialog width="85%" :visible.sync="matchDetailForm" :before-close="resultDetailFormCancel"
               title="匹配明细" :close-on-click-modal="false" class="titleDetail">



        <!--<el-table height="4rem" border fit :data="orgData" highlight-current-row style="width: 100%;font-size: 0.12rem;"-->
                  <!--v-loading="listLoading"-->
                  <!--element-loading-text="正在拼命加载中">-->
            <!--<el-table-column prop="pocode" label="购货单位"  align="left" header-align="center"></el-table-column>-->
            <!--<el-table-column prop="pocode" label="单位代码"  align="left" header-align="center"></el-table-column>-->
            <!--<el-table-column prop="gfTaxNo" label="供应商号" :min-width="200" align="center" :show-overflow-tooltip="true" ></el-table-column>-->
            <!--<el-table-column prop="gfTaxNo" label="供应商名称" :min-width="200" align="center" :show-overflow-tooltip="true" ></el-table-column>-->
        <!--</el-table>-->
        <span class="orderForm">订单数据</span>
        <el-table height="4rem" border fit :data="poData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
                  v-loading="listLoading"
                  element-loading-text="正在拼命加载中">
            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="pocode" label="订单号码"  align="left" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="receiptAmount" label="不含税金额" :show-overflow-tooltip="true"  align="center" :formatter="receiptAmountFormat" header-align="center"></el-table-column>
        </el-table>

        <span class="claimData">索赔数据</span>

        <el-table height="4rem" border fit :data="claimData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
                  v-loading="listLoading"
                  element-loading-text="正在拼命加载中">
            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="claimno" label="索赔号"  align="center" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="postdate" label="日期" align="center" :formatter="dateFormats"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="claimAmount" label="索赔金额" align="center" header-align="center" :formatter="claimAmountFormat"></el-table-column>

        </el-table>

        <!--<span class="protocolData">协议数据</span>-->
        <!--<el-table height="4rem" border fit :data="protocolData" highlight-current-row style="width: 100%;font-size: 0.12rem;"-->
                  <!--v-loading="listLoading"-->
                  <!--element-loading-text="正在拼命加载中">-->
            <!--<el-table-column type="index" width="70" label="序号" align="center"></el-table-column>-->
            <!--<el-table-column prop="pocode" label="协议号码"  align="left" header-align="center"></el-table-column>-->
            <!--<el-table-column prop="receiptAmount" label="协议金额" :show-overflow-tooltip="true"  align="left":formatter="receiptAmountFormat" header-align="center"></el-table-column>-->
        <!--</el-table>-->
        <span class="invoiceData">发票数据</span>
        <el-table height="4rem" border fit :data="invoiceData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
                  v-loading="listLoading"
                  element-loading-text="正在拼命加载中">
            <el-table-column type="index" width="70" label="序号" align="center"></el-table-column>
            <el-table-column prop="invoiceNo" label="发票号码" align="left" header-align="center" >
                <template scope="scope">
                    <span>{{ scope.row.invoiceNo }}</span>
                    <el-tooltip class="item" effect="dark" placement="top-start">
                        <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                        <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                        <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                        <img   v-if="scope.row.invoiceType=== '04' "
                             style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                        <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                        <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                        <img   v-if="scope.row.invoiceType=== '11' "
                             style="height:0.2rem;" src="../../img/roll-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                        <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column prop="invoiceDate" label="发票日期" align="center" :formatter="dateFormats"></el-table-column>
            <el-table-column prop="invoiceAmount" label="不含税金额" align="center" :formatter="invoiceAmountFormatDecimal"></el-table-column>
        </el-table>
        <div>
            <div align="left" style="float:left;font-size: 0.18rem; margin-top:0.09rem"><span id="totalStatistics"></span></div>
        </div>


        <span slot="footer" class="dialog-footer">
    		<el-button class="btnexport" @click="resultDetailFormCancel">关闭</el-button>
  		</span>
    </el-dialog>




</div>
</body>
<script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
<script src="../../js/modules/InformationInquiry/dataInvoiceQuery.js"></script>
</html>