<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">


        [v-cloak] {
            display: none;
        }
        .el-table .cell{
            white-space: nowrap !important;
        }
        #file {
            outline: 0.01rem;
            background-color: transparent;
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0;
            height: 0.4rem;
            width: 100%;
        }

        .control-label {
            display: block;
            margin-bottom: 0.0rem;
            height: 0.4rem;
            line-height: 0.4rem;
            overflow: hidden;
        }

        #upload {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 0.4rem;
            border: 0.01rem solid #dedede;
            height: 0.4rem;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<style type="text/css">
    .defaultItem{}
    .rzhItem{}
    .hideItem{
        display: none;
    }
    .showItem{
        display: block;
    }
</style>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <div>
        <el-form ref="form" :model="form" :rules="rules" label-width="1.0rem">
            <el-row>

                <el-col :span="12">
                    <el-form-item label="供应商号:" prop="supplierAssociation" >
                        <el-input class="inline-input" v-model="form.supplierAssociation"
                                  maxlength="6" placeholder="请输入供应商号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="结款发票号:" label-width="1.2rem">
                        <el-input class="inline-input" v-model="form.jkinvoiceNo"
                                  maxlength="15" placeholder="请输入结款发票号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="扣款发票号:" label-width="1.2rem">
                        <el-input class="inline-input" v-model="form.kkinvoiceNo"
                                  maxlength="15" placeholder="请输入扣款发票号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="索赔号:" prop="returnGoodsCode" label-width="1.2rem">
                        <el-input class="inline-input" v-model="form.returnGoodsCode"
                                  maxlength="15" placeholder="请输入索赔号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="换货号:" prop="exchangeNo" label-width="1.2rem">
                        <el-input class="inline-input" v-model="form.exchangeNo"
                                  maxlength="15" placeholder="请输入换货号"></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="6">
                    <el-form-item label="扣款项目:" prop="remark" label-width="1.2rem">
                        <el-select v-model="form.remark">
                            <el-option label="全部" value="-1" selected></el-option>
                            <el-option label="冲账" value="冲账"></el-option>
                            <el-option label="换货" value="换货"></el-option>
                            <el-option label="索赔" value="索赔"></el-option>
                            <el-option label="调整" value="调整"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

                <el-col :span="14">
                <el-form-item label="定案日期:" id="requireMsg4">
                    <el-row>
                        <el-col :span="13">
                            <el-date-picker type="date" placeholder="选择日期" v-model="form.returnGoodsDate1"
                                            :clearable="false" :editable="false"
                                            @blur="blurpickerchange(1)" @focus="focuspickerchange(1)" id="datevalue1"
                                            :picker-options="returnGoodsDateOptions1"
                                            format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                            >
                            </el-date-picker>
                        </el-col>
                        <el-col :span="2">—</el-col>
                        <el-col :span="13">

                            <el-date-picker type="date" placeholder="选择日期" v-model="form.returnGoodsDate2"
                                            :clearable="false" :editable="false"
                                            @blur="blurpickerchange(2)" @focus="focuspickerchange(2)" id="datevalue2"
                                            :picker-options="returnGoodsDateOptions2"
                                            format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                            ></el-date-picker>

                        </el-col>
                    </el-row>
                </el-form-item>
                </el-col>

                <el-col :span="14">
                    <el-form-item label="上传日期:" id="requireMsg5">
                        <el-row>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="form.returnGoodsDate3"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(3)" @focus="focuspickerchange(3)" id="datevalue3"
                                                :picker-options="returnGoodsDateOptions3"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                >
                                </el-date-picker>
                            </el-col>
                            <el-col :span="2">—</el-col>
                            <el-col :span="13">

                                <el-date-picker type="date" placeholder="选择日期" v-model="form.returnGoodsDate4"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(4)" @focus="focuspickerchange(4)" id="datevalue4"
                                                :picker-options="returnGoodsDateOptions4"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                ></el-date-picker>

                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>

                <el-col :span="1" :offset="1" class="btn-row1">
                    <el-button class="btnexport" @click="query('form')">查询</el-button>
                </el-col>
                <el-col :span="1" :offset="1" class="btn-row3 ">
                    <el-button id="export_btn" class="btnexport" @click="exportExcel" disabled="true">导出</el-button>
                </el-col>
                </el-row>
            <el-row>
            <form id="upload_form" target="frm" method="post" enctype="multipart/form-data">
                <div class="row" style="border-top: 0">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-xs-5 control-label">选择上传文件:</label>
                            <div class="col-xs-5" id="upload">
                                <span v-html="selectFileFlag"></span>
                                <input type="file" @change="onChangeFile($event)" id="file" name="file" class="text-input"
                                       hidden>
                            </div>
                        </div>
                    </div>
                    <el-col :span="1" :offset="1">
                        <el-button  class="btnexport" @click="showSelectFileWin()">浏览</el-button>
                    </el-col>
                    <el-col :span="1" :offset="1">
                        <el-button class="btnexport" @click="uploadFile($event)">导入文件</el-button>
                    </el-col>
                    <el-col :span="1" :offset="1">
                        <el-button class="btnexport" id="export_btn3" @click="exportData()">模板下载</el-button>
                    </el-col>
                    <el-col :span="1" :offset="1" class="btn-row3 ">
                        <el-button id="export_btn2" class="btnexport" @click="exportExcel1">问题发票导出</el-button>
                    </el-col>

                </div>
                <iframe id="frm" name="frm" style="display: none;"></iframe>
            </form>

            </el-row>
            </el-row>
        </el-form>
    </div>
    <hr>
    <div>
        <div align="left" style="float:left;font-size: 0.18rem; margin-top:0.09rem"><span id="totalStatistics"></span></div>
    </div>

    <el-table height="4rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中">
        <el-table-column :show-overflow-tooltip="true" width="80"  type="index"  :index="mainIndex" label="序号" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="120"  prop="jvcode" label="扣款公司" align="center" header-align="center" >
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="100"  prop="supplierAssociation" label="供应商号" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="120"  prop="caseType" label="类型" align="center" >
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="100"  prop="remark" label="扣款项目" align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="130"  prop="exchangeNo" label="换货号" align="center" >
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="140" prop="returnGoodsCode" label="索赔号" align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="140" prop="returnGoodsDate" label="定案日期" align="center" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="120" prop="returnCostAmount" label="成本金额" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="150" prop="paymentInvoiceNo" label="供应商结款发票号" align="center" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="140" prop="deductionDate" label="扣款日期" align="center" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="160" prop="purchaseInvoiceNo" label="沃尔玛扣款发票号" align="center" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="100" prop="taxRate" label="税率" align="center" header-align="center"  :formatter="taxRateFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="100" prop="taxAmount" label="含税金额" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="140" prop="sendDate" label="上传日期" align="center" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="140" prop="mailData" label="邮寄时间" align="center" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="140" prop="expressNo" label="快递单号" align="center" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true" width="140" prop="expressName" label="快递公司" align="center" header-align="center"  ></el-table-column>
        <!--<el-table-column :show-overflow-tooltip="true" width="120"  prop="id"  label="操作" class-name="noSpotSpotSpot" align="center" >-->
            <!--<template scope="scope">-->
                <!--<a  @click="delete1(scope.row)"><span class="column-span" style="color: black">删除</span></a>-->
            <!--</template>-->
        <!--</el-table-column>-->
    </el-table>
    <el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                       :current-page="currentPage" :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                       layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>

    </el-col>

</div>
</body>
<script src="../../js/modules/InformationInquiry/paymentInvoiceUpload.js"></script>
</html>