
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">


        [v-cloak] {
            display: none;
        }

        .el-form--inline .el-form-item {
            width: 35%;
        }
    </style>
</head>
<body>
<script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
<iframe id="ifile" style="display:none"></iframe>
<div id="vm" v-cloak>
    <div>
        <el-form :model="formInline" label-width="1.0rem">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="购方名称:">
                        <el-select v-model="formInline.gfName" placeholder="请选择购方名称" id="gf-select"
                                   filterable @focus="gfNameFocus" @blur="gfNameBlur">
                            <el-option
                                    v-for="item in options"
                                    :key="item.orgName"
                                    :label="item.orgName"
                                    :value="item.orgTaxNo">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

                <el-col :span="12">
                    <el-form-item label="发票号码:">
                        <el-input v-model="formInline.invoiceNo" placeholder="请输入发票号码"  maxlength="8"
                                  @keyup.native="numberOnKey($event)"
                                  @change="numberChange"></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="14">
                    <el-form-item label="采集日期:" prop="createDate" id="requireMsg2">
                        <el-row>
                            <el-col :span="13">
                                <el-date-picker @blur="blurpickerchange(1)" @focus="focuspickerchange(1)" type="date" id="datevalue1"
                                                placeholder="选择日期" v-model="formInline.createStartDate"
                                                :picker-options="createDateOptions"
                                                :clearable="false" :editable="false" value-format="yyyy-MM-dd"></el-date-picker>
                            </el-col>
                            <el-col class="line" :span="2">—</el-col>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="formInline.createEndDate" id="datevalue2"
                                                @blur="blurpickerchange(2)" @focus="focuspickerchange(2)"
                                                :picker-options="createEndDateOptions"
                                                :clearable="false" :editable="false" value-format="yyyy-MM-dd"></el-date-picker>
                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>


                <el-col :span="12">
                    <el-form-item label="发票类型:">
                        <el-select v-model="formInline.invoiceType" placeholder="请选择发票类型">
                            <el-option
                                    v-for="item in invoiceTypeList"
                                    :key="item.typeCode"
                                    :label="item.typeName"
                                    :value="item.typeCode">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

            </el-row>
            <el-row>

                <el-col :span="1" :offset="1" class="floatright">
                    <el-button class="btnexport" @click="exportData()" :disabled="total == 0">导出</el-button>
                </el-col>

                <el-col :span="1" :offset="1"  class="floatright">
                    <el-button class="btnexport" @click="onSubmit">查询</el-button>
                </el-col>

            </el-row>
        </el-form>
    </div>
    <hr>
    <div v-show="tableShow">
        <div class="total">
            <span>合计数量: {{total}}条, 合计金额: {{summationTotalAmount}}元, 合计税额: {{summationTaxAmount}}元</span>
        </div>
        <el-table height="4rem" border fit :data="tableData" class="tableData" highlight-current-row
                  style="width: 100%;font-size: 0.12rem;">
            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码" align="left" header-align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="left" header-align="center">
                <template scope="scope">
                    <span>{{ scope.row.invoiceNo }}</span>
                    <el-tooltip class="item" effect="dark" placement="top-start">
                        <div slot="content">{{ scope.row.invoiceTypeName }}</div>
                        <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png"/>
                        <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png"/>
                        <img   v-if="scope.row.invoiceType=== '04' "
                             style="height:0.2rem;" src="../../img/plain-invoice.png"/>
                        <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                        <img   v-if="scope.row.invoiceType=== '11' "
                             style="height:0.2rem;" src="../../img/roll-invoice.png"/>
                        <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center"
                             :formatter="formatInvoiceDate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="gfName" label="购方名称" :show-overflow-tooltip="true" align="left"
                             header-align="center" :formatter="formatterNull"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="xfName" label="销方名称" :show-overflow-tooltip="true" align="left"
                             header-align="center" :formatter="formatterNull"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceAmount" label="金额" align="right" header-align="center"
                             :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="right" header-align="center"
                             :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="checkCode" label="校验码" align="center"
                             :show-overflow-tooltip="true" :formatter="formatterNull"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="createDate" label="采集日期" align="center"
                             :formatter="formatCreateDate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  label="操作" class-name="noSpotSpotSpot" class-name="noSpotSpotSpot" width="110" align="center">
                <template slot-scope="scope">
                    <!--<el-button @click="handleClick(scope.row)" class="queryBtn" style="width: 1.0rem;">手动查验</el-button>-->
                    <span class="editRowSpan" style="margin-left:0;" @click="handleClick(scope.row)">手动查验</span>
                </template>
            </el-table-column>
        </el-table>
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                           :current-page="currentPage"
                           :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                           layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
                <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
            </el-pagination>
        </el-col>
    </div>
</div>
</body>
<script type="text/babel">
    Vue.http.options.emulateJSON = true;
    Vue.http.options.emulateHTTP = true;
    new Vue({
        el: '#vm',
        i18n,
        data: {
            tableShow: true,
            tableData: [],
            currentPage: 1,
            total: 0,
            summationTotalAmount: '0.00',
            summationTaxAmount: '0.00',
            totalPage: 1,
            pagerCount: PAGE_PARENT.PAGER_COUNT,
            pageSize: PAGE_PARENT.PAGE_SIZE,
            pageList: PAGE_PARENT.PAGE_LIST,
            filterInvoiceTypeList: ['01', '03', '14'],
            options: [],
            invoiceTypeList: [],
            createDateOptions:{},
            createEndDateOptions: {},
            formInline: {
                gfName: '',
                createDate: new Date(),
                createStartDate: new Date().getFullYear() + "-" + format2(new Date().getMonth()+1) + "-01",
                createEndDate: new Date().getFullYear()+"-"+format2(new Date().getMonth()+1)+"-"+format2(new Date().getDate()),
                invoiceType: '',
                invoiceNo: ''
            },
            exportParam: {}
        },
        mounted: function () {
            this.createDateOptions = {
                disabledDate: (time) => {
                    return time.getTime() >= Date.now();
                }
            };
            this.createEndDateOptions = {
                disabledDate: (time) => {
                    return time.getTime() >= Date.now();
                }
            };
            this.getGfName();
            this.getInvoiceType();

            $("#gf-select").attr("maxlength","50");
        },
        methods: {
            gfNameFocus: function (event) {
                $(".el-select input").removeAttr('readonly');
            },
            gfNameBlur: function (event) {
                $(".el-select input").attr('readonly','readonly');
            },
            currentChange: function(val) {
                if(this.total > 0) {
                    this.findAll(val);
                }
            },
            handleSizeChange: function (val) {
                this.pageSize = val;
                if(this.total > 0) {
                    this.findAll(1);
                }
            },
            findAll: function (currentPage) {
                var qsStartDate = new Date(this.formInline.createStartDate);
                var qsEndDate = new Date(this.formInline.createEndDate);
                qsStartDate.setMonth(qsStartDate.getMonth() + 12);
                $(".checkMsg").remove();
                if ( (qsEndDate.getTime() + 1000*60*60*24) > qsStartDate.getTime()) {
                    $("#requireMsg2 .el-form-item__content div.el-date-editor:first-child").append('<div class="checkMsg">日期选择跨度不可超过1年</div>');
                    return ;
                }else if(qsEndDate.getTime()<new Date(this.formInline.createStartDate)){
                    $("#requireMsg2 .el-form-item__content div.el-date-editor:first-child").append('<div class="checkMsg">结束时间不可小于开始时间</div>');
                    return;
                }
                var loadingInstance = this.$loading({
                    text: '正在拼命加载中',
                    target: document.querySelector('.tableData')
                });
                if (!isNaN(currentPage)) {
                    this.currentPage = currentPage;
                }
                const params_ = {
                    page: this.currentPage,
                    limit: this.pageSize,
                    sidx: '',
                    order: 'desc',
                    gfTaxNo: this.formInline.gfName,
                    createDate: this.formInline.createDate === '' ? '' : this.formatDate(this.formInline.createDate, true),
                    invoiceNo: this.trimStr(this.formInline.invoiceNo),
                    invoiceType: this.formInline.invoiceType,
                    createStartDate: this.formatDateTime(this.formInline.createStartDate),
                    createEndDate: this.formatDateTime(this.formInline.createEndDate)
                };

                this.exportParam = params_;
                var flag = false;
                var hh;
                this.$http.post(baseURL + sysUrl.detailedInvoiceList,
                    params_, {
                        'headers': {
                            "token": token
                        }
                    }).then(function (response) {
                    flag = true;
                    loadingInstance.close();
                    if (response.data.code != 0 && response.data.code != 401) {
                        alert(response.data.msg);
                        return;
                    }
                    this.total = response.data.page.totalCount;
                    this.totalPage = response.data.page.totalPage;
                    if (response.data.page.totalCount > 0) {
                        this.summationTotalAmount = this.numberFormat('','',response.data.page.summationTotalAmount);
                        this.summationTaxAmount = this.numberFormat('','',response.data.page.summationTaxAmount);
                    } else {
                        this.summationTotalAmount = '0.00';
                        this.summationTaxAmount = '0.00';
                    }
                    this.tableData = [];
                    for (const key in response.data.page.list) {
                        this.$set(this.tableData, key, response.data.page.list[key]);
                    }
                },(err)=>{
                    loadingInstance.close();
                    if(err.status == 408) {
                        alert(err.statusText);
                    }
                }).catch(function (response) {
                    loadingInstance.close();
                    alert(response.data.msg);
                });
                var intervelId = setInterval(function () {
                    if (flag) {
                        hh=$(document).height();
                        $("body",parent.document).find("#myiframe").css('height',hh+'px');
                        clearInterval(intervelId);
                        return;
                    }
                },50);
            },
            getGfName: function () {
                this.$http.post(baseURL + sysUrl.collectionTaxName,
                    {}, {
                        'headers': {
                            "token": token
                        }
                    }).then(function (response) {
                    response.data.splice(0, 0, {orgName: "全部", orgTaxNo: ''});
                    for (const i in response.data) {
                        this.$set(this.options, i, response.data[i]);
                    }
                }).catch(function (response) {
                });
            },
            getInvoiceType: function () {
                //param/getParamMap
                this.$http.post(baseURL + sysUrl.getParamMap,
                    {type: 'INV_TYPE'}, {
                        'headers': {
                            "token": token
                        }
                    }).then(function (response) {
                    response.data.splice(0, 0, {typeName: "全部", typeCode: ''});
                    for (const i in response.data) {
                        this.$set(this.invoiceTypeList, i, response.data[i]);
                    }
                    this.invoiceTypeList = this.invoiceTypeList.filter(function (item) {
                        const myTypeCode = item.typeCode;
                        return myTypeCode == '' || myTypeCode == '01' || myTypeCode == '04';
                    });
                }).catch(function (response) {
                });
            },
            blurpickerchange: function (val) {
                if (val == 1) {
                    $('#datevalue1').siblings('span.el-input__suffix').css('background', 'white');
                    $('#datevalue1').siblings('span.el-input__prefix').children('i').css('color', '#ffaa00');
                } else if (val == 2) {
                    $('#datevalue2').siblings('span.el-input__suffix').css('background', 'white');
                    $('#datevalue2').siblings('span.el-input__prefix').children('i').css('color', '#ffaa00');
                }else if(val==3){
                    $('#datevalue3').siblings('span.el-input__suffix').css('background', 'white');
                    $('#datevalue3').siblings('span.el-input__prefix').children('i').css('color', '#ffaa00');
                }
            },
            focuspickerchange: function (val) {
                if (val == 1) {
                    $('#datevalue1').siblings('span.el-input__suffix').css('background', '#ffaa00');
                    $('#datevalue1').siblings('span.el-input__prefix').children('i').css('color', '#333333');
                } else if (val == 2) {
                    $('#datevalue2').siblings('span.el-input__suffix').css('background', '#ffaa00');
                    $('#datevalue2').siblings('span.el-input__prefix').children('i').css('color', '#333333');
                }else if(val==3){
                    $('#datevalue3').siblings('span.el-input__suffix').css('background', '#ffaa00');
                    $('#datevalue3').siblings('span.el-input__prefix').children('i').css('color', '#333333');
                }
            },
            formatDateTime: function (time) {
                const date = new Date(time.toString().replace(/-/g, "/"));
                const seperator1 = "-";
                const seperator2 = ":";
                var month = date.getMonth() + 1;
                let strDate = date.getDate();
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                return date.getFullYear() + seperator1 + month + seperator1 + strDate;
            },
            formatDate: function (time, flag) {
                const date = new Date(time.toString().replace(/-/g,"/"));
                var seperator1 = "";
                if (flag) {
                    seperator1 = "-";
                }
                const seperator2 = ":";
                var month = date.getMonth() + 1;
                let strDate = date.getDate();
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                return date.getFullYear() + seperator1 + month + seperator1 + strDate;
            }, formatCreateDate: function (row, column) {
                if (row.createDate != null) {
                    return this.formatDate(row.createDate, true);
                } else {
                    return '';
                }
            },
            formatInvoiceDate: function (row) {
                if (row.invoiceDate != null) {
                    return this.formatDate(row.invoiceDate, true);
                } else {
                    return '';
                }
            },
            exportData() {
                const me = this;
                const params_ = {
                    gfTaxNo: me.exportParam.gfTaxNo,
                    createStartDate: me.exportParam.createStartDate === '' ? '' : me.formatDate(me.exportParam.createStartDate, true),
                    createEndDate: me.exportParam.createEndDate === '' ? '' : me.formatDate(me.exportParam.createEndDate, true),
                    invoiceNo: me.exportParam.invoiceNo,
                    invoiceType: me.exportParam.invoiceType,
                };
                $.ajax({
                    url:baseURL + 'excel/apply',
                    type:"POST",
                    data:{'serviceType':52,'condition':JSON.stringify(params_)},
                    success:function (r) {
                        flag = true;
                        if(r.code==0){
                            alert(r.data);
                            // $('#totalStatistics').html("合计数量: "+vm.total+"条, 合计金额: "+
                            //     formatMoney(r.page.summationTotalAmount)+"元, 合计税额: "+formatMoney(r.page.summationTaxAmount)+"元");

                        }

                    }
                });
                //const reqParam = '?gfTaxNo=' + params_.gfTaxNo + '&createStartDate=' + params_.createStartDate + '&createEndDate=' + params_.createEndDate + '&invoiceNo=' + params_.invoiceNo + '&invoiceType=' + params_.invoiceType;
                document.getElementById("ifile").src = baseURL + sysUrl.detailedInvoiceExport + reqParam;

            },
            onSubmit() {
                this.tableShow = true;
                this.findAll(1);
            },
            handleClick(row) {
                var loadingInstance = this.$loading({
                    text: '正在拼命加载中',
                    target: document.querySelector('.tableData')
                });
                const reqParam = {
                    buyerTaxNo: row.gfTaxNo,
                    invoiceType: row.invoiceType,
                    invoiceCode: row.invoiceCode,
                    invoiceNo: row.invoiceNo,
                    invoiceDate: row.invoiceDate == null ? "" : this.formatDate(row.invoiceDate, false),
                    checkCode: row.checkCode,
                    invoiceAmount: row.invoiceAmount
                };
                this.$http.post(baseURL + sysUrl.detailedInvoiceHandle,
                    reqParam, {
                        'headers': {
                            "token": token
                        }
                    }).then(function (response) {
                    loadingInstance.close();
                    alert(response.data.resultTip);
                    this.findAll(1);
                },(err)=>{
                    loadingInstance.close();
                    if(err.status == 408) {
                        alert(err.statusText);
                    }
                }).catch(function (response) {
                    loadingInstance.close();
                    alert(response.data.msg);
                });
            },
            numberChange(val) {
                var reg = /[^\d]/g;
                this.formInline.invoiceNo = val.replace(reg, '');
            },
            numberOnKey(event) {
                this.numberChange(event.target._value);
            },
            /**
             * 行号 - 发票采集注列表
             */
            mainIndex: function (index) {
                return index + (this.currentPage - 1) * this.pageSize + 1;
            }
        }
    });
    function format2(value) {
        if (value < 10) {
            return "0" + value;
        } else {
            return value;
        }
    }
</script>
</html>