<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xforceplus.wapp.mapper.XfBillDeductMapper">

    <resultMap id="BaseResultMap" type="com.xforceplus.wapp.entity.XfBillDeductDO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="business_no" jdbcType="VARCHAR" property="businessNo"/>
        <result column="business_type" jdbcType="INTEGER" property="businessType"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, business_no,business_type
    </sql>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_xf_bill_deduct
    </select>
</mapper>