
<!DOCTYPE html>
<html>
<head>
    <title>已转出进项税查询</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <!--<script src="../../js/tableExport.js"></script>-->
    <script src="../../libs/customer/index.js"></script>
    <style>
        .el-col-12{
            width: auto;
        }
    </style>
</head>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="searchTransferOuted" v-cloak>
    <div>
        <el-form ref="form" :model="form" label-width="1.0rem">
            <el-row>
                <el-col :span="6">
                    <el-form-item label="购方名称:">
                        <el-select v-model="form.gfTaxNo" filterable>
                            <el-option label="全部" value="-1" selected></el-option>
                            <el-option v-for="gf in form.gfNames" v-bind:value="gf.taxNo" :label="gf.name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="销方名称:">
                        <el-autocomplete class="inline-input" v-model="form.xfName"
                                         :fetch-suggestions="queryXf"></el-autocomplete>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="发票号码:">
                        <el-input v-model="form.invoiceNo"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="转出原因:">
                        <el-select v-model="form.outReason">
                            <el-option label="全部" value="-1" selected></el-option>
                            <el-option label="免税项目用" value="1"></el-option>
                            <el-option label="集体福利,个人消费" value="2"></el-option>
                            <el-option label="非正常损失" value="3"></el-option>
                            <el-option label="简易计税方法征税项目用" value="4"></el-option>
                            <el-option label="免抵退税办法不得抵扣的进项税额" value="5"></el-option>
                            <el-option label="纳税检查调减进项税额" value="6"></el-option>
                            <el-option label="红字专用发票通知单注明的进项税额" value="7"></el-option>
                            <el-option label="上期留抵税额抵减欠税" value="8"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="发票状态:">
                        <el-select v-model="form.invoiceStatus">
                            <el-option label="全部" value="-1" selected></el-option>
                            <el-option label="正常" value="0"></el-option>
                            <el-option label="失控" value="1"></el-option>
                            <el-option label="作废" value="2"></el-option>
                            <el-option label="红冲" value="3"></el-option>
                            <el-option label="异常" value="4"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="转出日期:">
                        <el-col :span="12">
                            <el-form-item prop="outDate1">
                                <el-date-picker type="date" :editable="false" :clearable="false" placeholder="选择日期"
                                                v-model="form.outDate1" format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                                @change="outDate1Change"></el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12" style="margin-left: 0.15rem">
                            <el-form-item prop="outDate2">
                                <el-date-picker type="date" :editable="false" :clearable="false" placeholder="选择日期"
                                                v-model="form.outDate2" format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                                @change="outDate2Change"></el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12" style="margin-left: 0.15rem">
                            <el-button class="btnexport" @click="query">查询</el-button>
                        </el-col>
                    </el-form-item>
                </el-col>
            </el-row>

        </el-form>
    </div>
    <hr>
    <div class="form-group" style="text-align: right">
        <a class="btn btnexport" @click="exportOut">导出</a>
    </div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>



    <!-- 明细Form -->
    <el-dialog width="80%" :visible.sync="detailDialogFormVisible" :before-close="detailFormCancel">
        <el-dialog
                width="65%"
                title="详情清单"
                :visible.sync="detailDialogFormInnerVisible"
                :before-close="detailInnerFormCancel"
                append-to-body>
            <el-form :model="detailForm">
                <!--<table id="jqGrid2"></table>-->
                <!--<div id="jqGridPager2"></div>-->
                <table border="1" align="center" width="70%">
                    <tr>
                        <td colspan="1" width="5%" align="center" valign="top">序号</td>
                        <td colspan="2" width="20%" align="center" valign="top">货物或应税劳务、服务名称</td>
                        <td colspan="1" width="10%" align="center" valign="top">规格型号</td>
                        <td colspan="1" width="10%" align="center" valign="top">单位</td>
                        <td colspan="1" width="10%" align="center" valign="top">数量</td>
                        <td colspan="2" width="10%" align="center" valign="top">单价</td>
                        <td colspan="1" width="10%" align="center" valign="top">金额</td>
                        <td colspan="1" width="5%" align="center" valign="top">税率</td>
                        <td colspan="1" width="10%" align="center" valign="top">税额</td>
                    </tr>
                    <tr v-for="(item,index) in tempDetailEntityList">
                        <td colspan="1" align="center">{{index+1}}</td>
                        <td colspan="2">{{item.goodsName}}</td>
                        <td colspan="1">{{item.model}}</td>
                        <td colspan="1">{{item.unit}}</td>
                        <td colspan="1">{{item.num}}</td>
                        <td colspan="2">{{item.unitPrice}}</td>
                        <td colspan="1">{{item.detailAmount}}</td>
                        <td colspan="1">{{item.taxRate}}%</td>
                        <td colspan="1">{{item.taxAmount}}</td>
                    </tr>
                </table>
            </el-form>
            <!--<el-pagination-->
            <!--:page-size="10"-->
            <!--:pager-count="11"-->
            <!--layout="prev, pager, next"-->
            <!-->-->
            <!--</el-pagination>-->
        </el-dialog>
        <div align="center">增值税专用发票</div>
        <div>
            <span  style="margin-right: 15%">发票代码:&nbsp;&nbsp;{{detailForm.invoiceCode}}</span>
            <span  style="margin-right: 15%">发票号码:&nbsp;&nbsp;{{detailForm.invoiceNo}}</span>
            <span >开票日期:&nbsp;&nbsp;{{detailForm.invoiceDate}}</span>
        </div>
        <el-form :model="detailForm">
            <table width="100%" height="80%" border="1" align="center">
                <tr>
                    <td colspan="1" width="5%" align="center">购<br>买<br>方</td>
                    <td colspan="5" width="50%" height="120" align="left">
                        名称:{{detailForm.gfName}}<br>
                        纳税人识别号:{{detailForm.gfTaxNo}}<br>
                        地址 、 电话:{{detailForm.gfAddressAndPhone}}<br>
                        开户行及帐号:{{detailForm.gfBankAndNo}}<br>
                    </td>
                    <td colspan="1" width="5%" align="center">密<br>码<br>区</td>
                    <td colspan="3" width="40%" align="center"></td>
                </tr>

                <tr>
                    <table border="1" align="center" width="100%" height="80%" id="detailCommonInnerTable">
                        <tr>
                            <td colspan="2" width="20%" align="center" valign="top">货物或应税劳务、服务名称</td>
                            <td colspan="1" width="10%" align="center" valign="top">规格型号</td>
                            <td colspan="1" width="10%" align="center" valign="top">单位</td>
                            <td colspan="1" width="10%" align="center" valign="top">数量</td>
                            <td colspan="2" width="10%" align="center" valign="top">单价</td>
                            <td colspan="1" width="10%" align="center" valign="top">金额</td>
                            <td colspan="1" width="10%" align="center" valign="top">税率</td>
                            <td colspan="1" width="10%" align="center" valign="top">税额</td>
                        </tr>
                        <tr v-for="(item,index) in detailEntityList">
                            <td colspan="2">{{item.goodsName}}</td>
                            <td colspan="1">{{item.model}}</td>
                            <td colspan="1">{{item.unit}}</td>
                            <td colspan="1">{{item.num}}</td>
                            <td colspan="2">{{item.unitPrice}}</td>
                            <td colspan="1">{{item.detailAmount}}</td>
                            <td colspan="1">{{item.taxRate}}%</td>
                            <td colspan="1">{{item.taxAmount}}</td>
                        </tr>
                        <tr>
                            <span id="CommonDetail"  style="display:none;">
                            <a @click="showInner">详情清单</a>
                            </span>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">合计</td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="1">￥{{detailForm.detailAmountTotal}}</td>
                            <td colspan="1"></td>
                            <td colspan="1">￥{{detailForm.taxAmountTotal}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" width="30%" align="center">价税合计（大写）</td>
                            <td colspan="8" width="30%" align="left">{{detailForm.stringTotalAmount}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥{{detailForm.totalAmount}}</td>
                        </tr>
                    </table>
                </tr>
                <tr>
                    <table width="100%" height="80%" border="1" align="center">
                        <tr>
                            <td colspan="1" width="5%" align="center">销<br>售<br>方</td>
                            <td colspan="5" width="50%" height="120" align="left">
                                名称:{{detailForm.xfName}}<br>
                                纳税人识别号:{{detailForm.xfTaxNo}}<br>
                                地址 、 电话:{{detailForm.xfAddressAndPhone}}<br>
                                开户行及帐号:{{detailForm.xfBankAndNo}}<br>
                            </td>
                            <td colspan="1" width="5%" align="center">备<br>注</td>
                            <td colspan="3" width="40%" align="center">{{detailForm.remark}}</td>
                        </tr>
                    </table>
                </tr>
            </table>
        </el-form>
  <span slot="footer" class="dialog-footer">
    <el-button class="btnexport" @click="detailFormCancel">返回</el-button>
  </span>
    </el-dialog>

    <el-dialog width="80%"  title="通行费" :visible.sync="detailDialogCheckFormVisible" :before-close="detailCheckFormCancel">
        <el-dialog
                width="65%"
                title="详情清单"
                :visible.sync="detailDialogCheckFormInnerVisible"
                :before-close="detailCheckInnerFormCancel"
                append-to-body>

            <table border="1" align="center" width="70%">
                <tr>
                    <td colspan="1" width="5%" align="center" valign="top">序号</td>
                    <td colspan="2" width="20%" align="center" valign="top">货物或应税劳务、服务名称</td>
                    <td colspan="1" width="10%" align="center" valign="top">规格型号</td>
                    <td colspan="1" width="10%" align="center" valign="top">单位</td>
                    <td colspan="1" width="10%" align="center" valign="top">数量</td>
                    <td colspan="2" width="10%" align="center" valign="top">单价</td>
                    <td colspan="1" width="10%" align="center" valign="top">金额</td>
                    <td colspan="1" width="5%"  align="center" valign="top">税率</td>
                    <td colspan="1" width="10%" align="center" valign="top">税额</td>
                </tr>
                <tr v-for="(item,index) in tempDetailEntityList">
                    <td colspan="1" align="center">{{index+1}}</td>
                    <td colspan="2">{{item.goodsName}}</td>
                    <td colspan="1">{{item.model}}</td>
                    <td colspan="1">{{item.unit}}</td>
                    <td colspan="1">{{item.num}}</td>
                    <td colspan="2">{{item.unitPrice}}</td>
                    <td colspan="1">{{item.detailAmount}}</td>
                    <td colspan="1">{{item.taxRate}}%</td>
                    <td colspan="1">{{item.taxAmount}}</td>
                </tr>
            </table>
        </el-dialog>
        <div align="center">增值税电子普通发票</div>
        <div>
            <span  style="margin-right: 15%">发票代码:&nbsp;&nbsp;{{detailForm.invoiceCode}}</span>
            <span  style="margin-right: 15%">发票号码:&nbsp;&nbsp;{{detailForm.invoiceNo}}</span>
            <span >开票日期:&nbsp;&nbsp;{{detailForm.invoiceDate}}</span>
        </div>
        <el-form :model="detailForm">
            <table width="100%" height="80%" border="1" align="center">
                <tr>
                    <td colspan="1" width="5%" align="center">购<br>买<br>方</td>
                    <td colspan="5" width="50%" height="120" align="left">
                        名称:{{detailForm.gfName}}<br>
                        纳税人识别号:{{detailForm.gfTaxNo}}<br>
                        地址 、 电话:{{detailForm.gfAddressAndPhone}}<br>
                        开户行及帐号:{{detailForm.gfBankAndNo}}<br>
                    </td>
                    <td colspan="1" width="5%" align="center">密<br>码<br>区</td>
                    <td colspan="3" width="40%" align="center"></td>
                </tr>

                <tr>
                    <table width="100%" height="80%" border="1" align="center">
                        <tr>
                            <td colspan="2" width="20%" align="center" valign="top">项目名称</td>
                            <td colspan="1" width="10%" align="center" valign="top">车牌号</td>
                            <td colspan="1" width="10%" align="center" valign="top">类型</td>
                            <td colspan="1" width="10%" align="center" valign="top">通行日期起</td>
                            <td colspan="2" width="10%" align="center" valign="top">通行日期止</td>
                            <td colspan="1" width="10%" align="center" valign="top">金额</td>
                            <td colspan="1" width="10%" align="center" valign="top">税率</td>
                            <td colspan="1" width="10%" align="center" valign="top">税额</td>
                        </tr>
                        <tr v-for="(item,index) in detailEntityList">
                            <td colspan="2">{{item.goodsName}}</td>
                            <td colspan="1">{{item.cph}}</td>
                            <td colspan="1">{{item.lx}}</td>
                            <td colspan="1">{{item.txrqq}}</td>
                            <td colspan="2">{{item.txrqz}}</td>
                            <td colspan="1">{{item.detailAmount}}</td>
                            <td colspan="1">{{item.taxRate}}%</td>
                            <td colspan="1">{{item.taxAmount}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">合计</td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="1">￥{{detailForm.detailAmountTotal}}</td>
                            <td colspan="1"></td>
                            <td colspan="1">￥{{detailForm.taxAmountTotal}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" width="30%" align="center">价税合计（大写）</td>
                            <td colspan="8" width="30%" align="left">{{detailForm.stringTotalAmount}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥{{detailForm.totalAmount}}</td>
                        </tr>
                    </table>
                </tr>
                <tr>
                    <table width="100%" height="80%" border="1" align="center">
                        <tr>
                            <td colspan="1" width="5%" align="center">销<br>售<br>方</td>
                            <td colspan="5" width="50%" height="120" align="left">
                                名称:{{detailForm.xfName}}<br>
                                纳税人识别号:{{detailForm.xfTaxNo}}<br>
                                地址 、 电话:{{detailForm.xfAddressAndPhone}}<br>
                                开户行及帐号:{{detailForm.xfBankAndNo}}<br>
                            </td>
                            <td colspan="1" width="5%" align="center">备<br>注</td>
                            <td colspan="3" width="40%" align="center">{{detailForm.remark}}</td>
                        </tr>
                    </table>
                </tr>
            </table>
        </el-form>
  <span slot="footer" class="dialog-footer">
    <el-button class="btnexport" @click="detailCheckFormCancel">返回</el-button>
  </span>
    </el-dialog>

    <!-- Form -->
    <el-dialog width="80%" :visible.sync="detailDialogVehicleFormVisible" :before-close="detailVehicleFormCancel">
        <el-form :model="detailForm">
            <div align="center">机动车零售统一发票</div>
            <div>
                <span  style="margin-right: 15%">发票代码:&nbsp;&nbsp;{{detailForm.invoiceCode}}</span>
                <span  style="margin-right: 15%">发票号码:&nbsp;&nbsp;{{detailForm.invoiceNo}}</span>
                <span >开票日期:&nbsp;&nbsp;{{detailForm.invoiceDate}}</span>
            </div>
            <table width="100%" height="80%" border="1" align="center">
                <tr>
                    <td colspan="1" align="center">
                        机打代码<br>
                        机打号码<br>
                        机器编号
                    </td>
                    <td colspan="3" align="left">
                        {{detailForm.invoiceCode}}<br>
                        {{detailForm.invoiceNo}}
                    </td>
                    <td colspan="1" align="center">
                        税<br>
                        控<br>
                        码
                    </td>
                    <td colspan="5" align="center">
                    </td>
                </tr>
                <tr>
                    <td colspan="1" align="center">
                        购买方民称及<br>
                        身份证号码/<br>
                        组织机构代码
                    </td>
                    <td colspan="4" align="left">
                        <br>
                        {{detailForm.buyerIdNum}}
                    </td>
                    <td colspan="1" align="center">
                        纳税人识别号
                    </td>
                    <td colspan="4" align="left">
                        {{detailForm.gfTaxNo}}
                    </td>
                </tr>
                <tr>
                    <td colspan="1" align="center">
                        车辆类型
                    </td>
                    <td colspan="2" align="left">
                        {{detailForm.vehicleType}}
                    </td>
                    <td colspan="1" align="center">
                        厂牌型号
                    </td>
                    <td colspan="3" align="left">
                        {{detailForm.factoryModel}}
                    </td>
                    <td colspan="1" align="left">
                        产地
                    </td>
                    <td colspan="2" align="left">
                        {{detailForm.productPlace}}
                    </td>
                </tr>
                <tr>
                    <td colspan="1" align="center">
                        合格证号
                    </td>
                    <td colspan="2" align="left">
                        {{detailForm.certificate}}
                    </td>
                    <td colspan="2" align="center">
                        进口证明书号
                    </td>
                    <td colspan="2" align="left">
                        {{detailForm.certificateImport}}
                    </td>
                    <td colspan="1" align="left">
                        商检单号
                    </td>
                    <td colspan="2" align="left">
                        {{detailForm.inspectionNum}}
                    </td>
                </tr>
                <tr>
                    <td colspan="1" align="center">
                        发动机号码
                    </td>
                    <td colspan="4" align="left">
                        {{detailForm.engineNo}}
                    </td>
                    <td colspan="1" align="center">
                        车辆识别代号/车架号码
                    </td>
                    <td colspan="4" align="left">
                        {{detailForm.vehicleNo}}
                    </td>
                </tr>
                <tr>
                    <td colspan="1" align="center">
                        价税合计
                    </td>
                    <td colspan="9" align="left">
                        大写{{detailForm.stringTotalAmount}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;￥{{detailForm.totalAmount}}
                    </td>
                </tr>
                <tr>
                    <td colspan="1" align="center">
                        销货单位名称
                    </td>
                    <td colspan="4" align="left">
                        {{detailForm.xfName}}
                    </td>
                    <td colspan="1" align="center">
                        电话
                    </td>
                    <td colspan="4" align="center">
                        {{detailForm.phone}}
                    </td>
                </tr>
                <tr>
                    <td colspan="1" align="center">
                        纳税人识别号
                    </td>
                    <td colspan="4" align="left">
                        {{detailForm.xfTaxNo}}
                    </td>
                    <td colspan="1" align="center">
                        帐号
                    </td>
                    <td colspan="4" align="center">
                        {{detailForm.account}}
                    </td>
                </tr>
                <tr>
                    <td colspan="1" align="center">
                        地址
                    </td>
                    <td colspan="3" align="left">
                        {{detailForm.address}}
                    </td>
                    <td colspan="1" width="10%" align="center">
                        开户银行
                    </td>
                    <td colspan="5" align="center">
                        {{detailForm.bank}}
                    </td>
                </tr>
                <tr>
                    <td colspan="1" align="center">
                        增值税税率<br>
                        或征收率
                    </td>
                    <td colspan="1" align="left">
                        {{detailForm.taxRate}}%
                    </td>
                    <td colspan="1" align="center" width="10%">
                        增值税税额
                    </td>
                    <td colspan="1" align="center">
                        ￥{{detailForm.taxAmount}}
                    </td>
                    <td colspan="1" align="center">
                        主管税务<br>
                        机关及代码
                    </td>
                    <td colspan="5" align="center">
                        {{detailForm.taxBureauName}}<br>
                        {{detailForm.taxBureauCode}}
                    </td>
                </tr>
                <tr>
                    <td colspan="1" width="15%" align="center">
                        不含税价
                    </td>
                    <td colspan="2" width="30%" align="left">
                        小写￥{{detailForm.invoiceAmount}}
                    </td>
                    <td colspan="1" width="10%" align="center">
                        完税凭证号码
                    </td>
                    <td colspan="2" width="20%" align="center">
                        {{detailForm.taxRecords}}
                    </td>
                    <td colspan="1" width="5%" align="center">
                        吨位
                    </td>
                    <td colspan="1" width="5%" align="center">
                        {{detailForm.tonnage}}
                    </td>
                    <td colspan="1" width="10%" align="center">
                        限乘人数
                    </td>
                    <td colspan="1" width="5%" align="center">
                        {{detailForm.limitPeople}}
                    </td>
                </tr>
            </table>
        </el-form>
  <span slot="footer" class="dialog-footer">
    <el-button class="btnexport" @click="detailVehicleFormCancel">返回</el-button>
  </span>
    </el-dialog>

</div>
<script src="../../js/modules/transferOut/searchTransferOutedTemp.js"></script>
</body>
</html>