<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>业务类型管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="../../libs/vue.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<style type="text/css">
    .form-row {
        width: 98%;
        display: flex;
        flex-direction: row;
    }

    .table > thead > tr > th.active {
        background-color: #FFD98B;
    }

</style>
<style>
    .ui-th-column .ui-th-ltr {
        min-width: 30px;
    }

    hr {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .input-class {
        -webkit-appearance: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid #dcdfe6;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        height: 40px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
        transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
        width: 100%;
    }

    .input-class:focus {
        border: 1px solid #ffc653;
    }

    .colNew {
        padding: 0.1rem;
        border-radius: 4px;
        border: 1px solid #eee;
        border-bottom: none;
    }

    button span {
        font-size: 14px !important;
    }
    .el-dialog__header{
        background: #333333;
        color: white;
    }
    .el-dialog__header span,.el-dialog__header i{
        color: white !important;
    }
    .el-col-16{
        width: 50%;
    }
</style>

<body>
<div id="rrapp" v-cloak>
    <iframe id="ifile" style="display:none"></iframe>
    <div>
        <el-row style="font-size:18px;color: #FFFFFF;background-color: #666666">
            <!--<el-col :span="6" style="height: 60px;font-size: 18px;border-radius: 0; border: 0 solid #666666;">-->
                <!--<div class="grid-content bg-purple" style=" padding: 20px;">-->
                    <!--<span style="text-align: left; ">机构树</span>-->
                <!--</div>-->
            <!--</el-col>-->
            <el-col :span="18" style="height: 60px;font-size: 18px;border-radius: 0; border: 0 solid #666666;">
                <div class="grid-content bg-purple" style=" padding: 20px;">
                    <span style="text-align: left; ">业务类型列表</span>
                </div>
            </el-col>
        </el-row>
        <el-row style="padding-top: 5px">
                        <!--<el-col :span="6" class="colNew">-->
                        <!--<div class="grid-content bg-purple" style="margin: 0 auto;width: 90%">-->
                        <!--<ul id="orgTree" class="ztree"></ul>-->
                        <!--</div>-->
                        <!--</el-col>-->
                        <el-col :span="24" class="colNew">
                            <div class="bg-purple" v-show="menuGridShow">
                                <el-form  ref="queryForm" :model="queryForm" label-width="100px">
                                    <el-row>
                                    <el-col :span="15">
                                        <el-form-item label="业务类型:" prop="serviceName" >
                                            <el-input maxlength="40" v-model.trim="queryForm.serviceName" placeholder="请输入业务类型"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="15">
                                        <el-form-item label="MCC编码:" prop="mccCode">
                                            <el-input maxlength="40" v-model.trim="queryForm.mccCode" placeholder="请输入MCC编码"></el-input>
                                        </el-form-item>
                                    </el-col>
                                            </el-row>
                            <el-row>
                            <el-col :span="15">
                                <el-form-item label="GLAccount:" prop="glAccount">
                                    <el-input maxlength="40" v-model.trim="queryForm.glAccount" placeholder="请输入GLAccount"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4" :offset="1">
                                <el-button class="btnexport" @click="query">查询</el-button>
                            </el-col>
                            <el-col :span="4" :offset="1">
                                <a class="btn btnexport" @click="addOrUpdata(true)">新增</a>
                            </el-col>
                            <el-col :span="4" :offset="1">
                                <a class="btn btnexport " @click="deleteOrg">删除</a>
                            </el-col>
                            <el-col :span="1" :offset="1" >
                                <el-button id="export_btn" disabled class="btnexport" @click="exportExcel">导出</el-button>
                            </el-col>
                        </el-row>
                        <form id="upload_form" target="frm" method="post" enctype="multipart/form-data">
                            <div class="row" style="border-top: 0">
                                <div class="col-xs-3" style="margin-top:0.05rem;">
                                    <div class="form-group">
<!--                                        <label class="col-xs-5 control-label">选择导入文件:</label>-->
                                        <div class="col-xs-5" id="upload">
<!--                                            <span v-html="selectFileFlag"></span>-->
                                            <input type="file" @change="onChangeFile($event)" id="file" name="file" class="text-input"
                                                   hidden>
                                        </div>
                                    </div>
                                </div>
                                <el-col :span="1" :offset="1">
                                    <el-button  class="btnexport" @click="showSelectFileWin()">浏览</el-button>
                                </el-col>
                                <el-col :span="1" :offset="1">
                                    <el-button  class="btnexport" @click="uploadFile($event)" v-loading="orgLoading">导入Ariba业务类型</el-button>
                                </el-col>
                                <el-col :span="1" :offset="1">
                                    <el-button class="btnexport" @click="jvStoreTemplate">数据模板下载</el-button>
                                </el-col>
                            </div>
                            <iframe id="frm" name="frm" style="display: none;"></iframe>
                        </form>
                    </el-form>

                    <hr style=" margin-top: 0; margin-bottom: 10px;!important;">


                    <el-table height="4rem" ref="billtypeTable" :data="billtypeData" border fit @selection-change="changeFun"
                              tooltip-effect="light" highlight-current-row
                              v-loading="billtypeLoading" element-loading-text="正在拼命加载中"
                              style="width: 100%;">

                        <el-table-column :show-overflow-tooltip="true"  type="selection" width="55" align="center"></el-table-column>
                        <el-table-column :show-overflow-tooltip="true"  type="index" :index="billtypeIndex" label="序号" width="60"
                                         align="center"></el-table-column>
                        <el-table-column :show-overflow-tooltip="true"  property="mccCode" label="MCC编码" :show-overflow-tooltip="true" min-width="130"
                                         align="center"></el-table-column>
                        <el-table-column :show-overflow-tooltip="true"  property="glAccount" label="GLAccount" :show-overflow-tooltip="true" min-width="180"
                                         header-align="center"></el-table-column>
                        <el-table-column :show-overflow-tooltip="true"  property="serviceName" label="业务类型名称" :show-overflow-tooltip="true" min-width="180"
                                         header-align="center"></el-table-column>
                        <el-table-column :show-overflow-tooltip="true"  property="serviceType" label="所属大类" :show-overflow-tooltip="true" min-width="180"
                                         header-align="center">
                            <template scope="scope">
                                <span v-if="scope.row.serviceType=== '0'" >资产类</span>
                                <span v-if="scope.row.serviceType=== '1'" >费用类</span>
                            </template>
                        </el-table-column>
                        <el-table-column :show-overflow-tooltip="true"  property="id" label="操作" class-name="noSpotSpotSpot" width="100" align="center">
                            <template slot-scope="scope">
                                <el-button @click="openAddOrUpdateWin(scope.row)" type="text" size="small">修改
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-col class="toolbar" style="padding:10px;">
                        <el-pagination small layout="slot, sizes, prev, pager, next" background
                                       :current-page.sync="currentPage" :page-size="pageSize" :page-sizes="pageList"
                                       :total="total" @current-change="currentChange" @size-change="sizeChange" style="float:right">
                            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
                        </el-pagination>
                    </el-col>
                </div>
            </el-col>
        </el-row>
    </div>

    <el-dialog :title="addOrUpdateForm.title" :visible.sync="addOrUpdateWin" :before-close="addOrUpdataWinClose" :close-on-click-modal="false"
               @close="clearValidate('addOrUpdateForm')">
        <el-form ref="addOrUpdateForm" :model="addOrUpdateForm" label-width="105px">
            <el-row>

                <el-col :span="16">
                <el-form-item label="MCC编码:" prop="mccCode" :rules="[{ required: true, message: 'MCC编码不能为空'}]">
                    <input maxlength="40"  v-model.trim="addOrUpdateForm.mccCode" class="input-class">
                </el-form-item>
                </el-col>
                </el-row>
            <el-row>
                <el-col :span="16">
                    <el-form-item label="GLAccount:" prop="glAccount"
                                  :rules="[{ required: true, message: 'GLAccount不能为空'}]">
                        <input maxlength="40"  v-model.trim="addOrUpdateForm.glAccount" class="input-class">
                    </el-form-item>
                </el-col>
                </el-row>
            <el-row>
                <el-col :span="16">
                    <el-form-item label="业务类型:" prop="serviceName"
                                  :rules="[{ required: true, message: '业务类型不能为空'}]">
                        <input maxlength="40"  v-model.trim="addOrUpdateForm.serviceName" class="input-class">
                    </el-form-item>
                </el-col>
                </el-row>
            <el-row>
                <el-col :span="16">
                    <el-form-item label="所属大类:" prop="serviceType" :rules="[{ required: true, message: '所属大类不能为空'}]">
                        <el-select v-model="addOrUpdateForm.serviceType">
                            <el-option label="资产类" value="0" selected></el-option>
                            <el-option label="费用类" value="1"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>


        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button class="btnexport" @click="submitForm">确 定</el-button>
            <el-button class="btnexport" @click="addOrUpdateReset()">重 置</el-button>
        </span>
    </el-dialog>

</div>

<script src="../../js/modules/base/aribaBilltype.js"></script>

</body>
</html>