
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <script src="../../libs/ajaxupload.js"></script>
    <script type="text/javascript" src="../../js/customer/release/wangEditor.min.js"></script>
    <style type="text/css">

        #requireMsg1 .el-form-item__label:before{
            content: '*';
            color: #f56c6c;
            margin-right: 0.04rem;
        }

        [v-cloak] {
            display: none;
        }

        .el-form--inline .el-form-item {
            width: 35%;
        }
        .el-dialog__header{
            background: #333333;
            color: white;
        }
        .el-dialog__header span,.el-dialog__header i{
            color: white !important;
        }

    </style>
</head>
<body>
<script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
<iframe id="ifile" style="display:none"></iframe>
<div id="vm" v-cloak>
    <div>
        <el-form :model="formInline" label-width="1.0rem">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="供应商号:">
                        <el-input v-model="formInline.venderId" maxlength="255"
                                  placeholder="请输入供应商号"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="14">
                    <el-form-item label="上传时间:" prop="createDate" id="requireMsg2">
                        <el-row>
                            <el-col :span="13">
                                <el-date-picker @blur="blurpickerchange(1)" @focus="focuspickerchange(1)" type="date" id="datevalue1"
                                                placeholder="选择日期" v-model="formInline.createStartDate"
                                                :picker-options="createDateOptions"
                                                :clearable="false" :editable="false" value-format="yyyy-MM-dd"></el-date-picker>
                            </el-col>
                            <el-col class="line" :span="2">—</el-col>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="formInline.createEndDate" id="datevalue2"
                                                @blur="blurpickerchange(2)" @focus="focuspickerchange(2)"
                                                :picker-options="createEndDateOptions"
                                                :clearable="false" :editable="false" value-format="yyyy-MM-dd"></el-date-picker>
                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>

            </el-row>
            <el-row>
                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" @click="editTemplate">编辑模板</el-button>
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" @click="onSubmit">查询</el-button>
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" id="import">导入</el-button >
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" @click="release" :disabled="total == 0">发布</el-button>
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button :disabled="total == 0" class="btnexport" @click="deleteBatch">一键清空</el-button>
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" @click="debtTemplate">导入模板下载</el-button>
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" @click="exportFailureData()" >导入失败下载</el-button>
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" @click="exportSuccessfulData()" >导出</el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
    <hr>
        <el-table height="4rem" border fit :data="tableData" class="tableData" highlight-current-row
                  style="width: 100%;font-size: 0.12rem;"  @selection-change="changeFun">
            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  type="selection" width="55" class="selection" align="center" prop='id' @selection-change="changeFun"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="sixD" label="6D(供应商号)" width="120" align="center" header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="eightD" label="8D" align="center" header-align="center" :formatter="checkNullFormat" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="venderName" label="供应商名称" width="140" align="center" header-align="center"  :formatter="checkNullFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="caseDate" label="现金房定案日期" align="center" width="130" header-align="center"  :formatter="dateFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="store" label="店号" align="center" header-align="center"   :formatter="checkNullFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="couponNo" label="优惠券商品号" align="center" width="120"  header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="nineD"  label="9D" align="center" header-align="center"  :formatter="checkNullFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="couponDesc" label="优惠券说明" align="right" width="120" header-align="center"  :formatter="checkNullFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="ticketDesc"  label="小票说明" align="center"  header-align="center"  :formatter="checkNullFormat"></el-table-column>

            <el-table-column :show-overflow-tooltip="true"  prop="startDate"   label="开始日期" align="center" :formatter="dateFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="endDate"   label="结束日期" align="center"  :formatter="dateFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="couponCount"   label="优惠券使用次数" align="center" width="130" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="caseAmount"   label="现金房定案金额" align="center"  width="140"  :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="assumeScale"   label="承担比例" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="receivableAmount"   label="应收金额" align="center" width="120"  :formatter="numberFormat"></el-table-column>
        </el-table>
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                           :current-page="currentPage"
                           :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                           layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
                <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
            </el-pagination>
        </el-col>

    <el-dialog title="公告模板" :visible.sync="templateWin" :before-close="closeTemplateWin" width="50%">
        <el-table height="4rem"  height="250"  border fit :data="announceTable" highlight-current-row style="width: 100%;font-size: 0.12rem;"
                   style="width: 100%; margin-top: 0.2rem"  >
            <el-table-column :show-overflow-tooltip="true"  type="index" width="80" label="序号"  header-align="center" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  property="announcementTitle" label="标题" label-width="1.2rem" :show-overflow-tooltip="true" align="center" header-align="center">
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="id" width="80" label="操作" align="center" >
                <template scope="scope">
                    <a  @click="editAnnounce(scope.row)"><span class="column-span" style="color: black">修改</span></a>
                </template>
            </el-table-column>
        </el-table>
    </el-dialog>

    <el-dialog title="修改模板信息" :visible.sync="editTemplateWin" :close-on-click-modal="false" :before-close="closeEditTemplateWin" width="11rem">
        <div style="width: 100%;">
            <el-form ref="templateForm" :model="templateForm" label-width="1.2rem">
                <el-row>
                    <el-form-item label="模板内容:" id="requireMsg1">
                        <div id="div3" style="width: 8.5rem">
                        </div>
                    </el-form-item>
                </el-row>
            </el-form>
        </div>


        <span slot="footer" class="dialog-footer">
            <div align="right">
                <el-button class="btnexport"  @click="saveTemplate">保存</el-button>
                <el-button class="btnexport" @click="closeEditTemplateWin">取消</el-button>
            </div>
        </span>
    </el-dialog>
</div>
</body>
<script src="../../js/modules/base/couponAnnouncement.js"></script>
</html>