
<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>业务字典管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/customer/index.js"></script>
</head>
<script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
<style type="text/css">
    .input-class {
        -webkit-appearance: none;
        background-color: #fff;
        background-image: none;
        border: 0.01rem solid #dcdfe6;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        height: 0.4rem;
        line-height: 0.4rem;
        outline: 0;
        padding: 0 0.15rem;
        -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
        transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    }

    button span{
        font-size: 0.14rem !important;
    }
    .el-dialog__header{
        background: #333333;
        color: white;
    }
    .el-dialog__header span,.el-dialog__header i{
        color: white !important;
    }
    .el-col-16 {
        width: 50%;
    }
    .el-col-5{
        width: 10%;
    }
</style>

<body>
<div id="rrapp" v-cloak>
    <div>
        <el-row style="font-size:0.18rem;color: #FFFFFF;background-color: #666666">
            <el-col :span="12" style="height: 0.6rem;font-size: 0.18rem;border-radius: 0; border: 0 solid #666666;">
                <div class="grid-content bg-purple" style=" padding: 0.2rem;">
                    <span style="text-align: left; ">业务字典</span>
                </div>
            </el-col>
            <el-col :span="12" style="height: 0.6rem;font-size: 0.18rem;border-radius: 0; border: 0 solid #666666;">
                <div class="grid-content bg-purple" style=" padding: 0.2rem;">
                    <span style="text-align: left; "></span>
                </div>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="12" style="width: 50%;!important">
                <div class="panel panel-default" style="padding-top: 0.15rem">
                    <div>
                        <el-form ref="queryForm" :model="queryForm" label-width="1.0rem">
                            <el-row>
                                <el-col :span="15">
                                    <el-form-item label="类型名称:" class="form-item" prop="dicttypename">
                                        <el-input maxlength="40" v-model.trim="queryForm.dicttypename" placeholder="请输入机构名称"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="15">
                                    <el-form-item label="类型编码:" class="form-item" prop="dicttypecode">
                                        <el-input maxlength="40" v-model.trim="queryForm.dicttypecode" placeholder="请输入类型编码"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="5" :offset="1">
                                    <el-button class="btnexport" @click="query">查询</el-button>
                                </el-col>
                                <el-col :span="5" :offset="1">
                                    <el-button class="btnexport" @click="addOrUpdata(true)">新增</el-button>
                                </el-col>
                                <el-col :span="5" :offset="1">
                                    <el-button class="btnexport" @click="deleteOrg">删除</el-button>
                                </el-col>
                                <!--<el-col :span="5" :offset="1">
                                        <el-button class="btnexport" @click="resetForm('queryForm')">重置</el-button>
                                </el-col>-->
                            </el-row>
                            <el-row>

                            </el-row>
                        </el-form>

                        <hr>

                        <el-table height="4rem" ref="orgTable" :data="orgData" border fit @selection-change="changeFun"
                                  tooltip-effect="light" highlight-current-row
                                  style="width: 100%;font-size: 0.12rem;">
                            <el-table-column :show-overflow-tooltip="true"  type="selection" width="55" align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  type="index" label="序号" :index="dicttyIndex" width="60" align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  property="dicttypename" label="字典类型名称" :min-width="120" align="left" header-align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  property="dicttypecode" label="字典类型编码" :min-width="120" header-align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  property="dicttypeid" :min-width="80" label="操作" class-name="noSpotSpotSpot" align="center">
                                <template slot-scope="scope">
                                    <span @click="openAddOrUpdataWin(scope.row)" style="cursor: pointer" type="text" >修改</span>
                                    <span @click="queryUserAdded(scope.row.dicttypeid)" style="cursor: pointer" type="text" >明细</span>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-col class="toolbar" style="padding:0.1rem;">
                            <el-pagination layout="slot, sizes, prev, pager, next" background @size-change="handleSizeChange"
                                           :current-page.sync="currentPage" :page-size="pageSize" :page-sizes="pageList"
                                           :total="total" @current-change="currentChange1" style="float:right">
                                <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
                            </el-pagination>
                        </el-col>
                    </div>

                </div>
            </el-col>
            <el-col :span="12" style="width: 50%;!important">
                <div v-show="showDicDetail" class="panel panel-default" style="padding-top: 0.15rem">
                    <div>
                        <el-form ref="queryUserForm" :model="queryUserForm" label-width="1.0rem">
                            <el-row>
                                <el-col :span="15">
                                    <el-form-item label="字典名称:" class="form-item" prop="dictname">
                                        <el-input maxlength="100" v-model.trim="queryUserForm.dictname" placeholder="请输入字典名称"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="15">
                                    <el-form-item label="字典编码:" class="form-item" prop="dictcode">
                                        <el-input maxlength="40" v-model.trim="queryUserForm.dictcode" placeholder="请输入字典编码"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="5" :offset="1">
                                    <el-button class="btnexport" @click="queryDetail">查询</el-button>
                                </el-col>
                                <el-col :span="5" :offset="1">
                                    <el-button class="btn btnexport" @click="addOrUpdataDetail(true)">新增</el-button>
                                </el-col>
                                <el-col :span="5" :offset="1">
                                    <el-button class="btn btnexport" @click="deleteOrgDetail">删除</el-button>
                                </el-col>

                                <!--<el-col :span="5" :offset="1">
                                        <el-button class="btnexport" @click="resetForm('queryUserForm')">重置</el-button>
                                </el-col>-->
                            </el-row>
                            <el-row>

                            </el-row>
                        </el-form>

                        <hr>

                        <el-table height="4rem" ref="orgDetailTable" :data="orgDetailData" border fit @selection-change="changeFunDetail"
                                  tooltip-effect="light" highlight-current-row
                                  style="width: 100%;font-size: 0.12rem;">

                            <el-table-column :show-overflow-tooltip="true"  type="selection" width="55" align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  type="index" label="序号" :index="dicttyDetailIndex" width="60" align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  property="dictname" label="业务字典名称" :min-width="120" align="center" header-align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  property="dictcode" label="业务字典编码" :min-width="120" header-align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  :formatter="formatterField" property="sortno" label="排序" :min-width="80" align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  :formatter="formatterField" property="status" label="状态" :min-width="80" align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  property="dictid" label="操作" class-name="noSpotSpotSpot" :min-width="80" align="center">
                                <template slot-scope="scope">
                                    <span @click="openAddOrUpdataWinDetail(scope.row)" type="text" style="cursor: pointer">修改</span>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-col class="toolbar" style="padding:0.1rem;text-align: right">
                            <el-pagination small layout="slot, sizes, prev, pager, next" background @size-change="handleSizeChangeDetail"
                                           :current-page.sync="currentPageDetail" :page-size="pageSizeDetail" :page-sizes="pageListDetail"
                                           :total="totalDetail" @current-change="currentChangeDetail">
                                <span>共{{totalDetail}}条记录，第{{currentPageDetail}}页，共{{totalPageDetail}}页</span>
                            </el-pagination>
                        </el-col>
                    </div>

                </div>
            </el-col>
        </el-row>
    </div>

    <el-dialog :title="addOrUpdateForm.title" :visible.sync="addOrUpdateWin" :before-close="addOrUpdataWinClose" :close-on-click-modal="false"
               @close="clearValidate('addOrUpdateForm')">
        <div style="width: 100%;">
            <el-form ref="addOrUpdateForm" :model="addOrUpdateForm" label-width="1.3rem">
                <el-row>
                    <el-col :span="16">
                    <el-form-item label="字典类型名称:" prop="dicttypename" :rules="[{ required: true, message: '字典类型名称不能为空',trigger: 'blur'}]" class="labelLong">
                        <el-input maxlength="40"  v-model.trim="addOrUpdateForm.dicttypename"></el-input>
                    </el-form-item>
                    </el-col>
                    <el-col :span="16">
                    <el-form-item label="字典类型编码:" prop="dicttypecode" :rules="[{ required: true, message: '字典类型编码不能为空',trigger: 'blur'}]" class="labelLong">
                        <el-input maxlength="40" v-model.trim="addOrUpdateForm.dicttypecode"></el-input>
                    </el-form-item>
                    </el-col>
                </el-row>
                <div class="form-row">
                    <el-form-item label="字典类型描述:" prop="dicttypedesc" class="labelLong">
                        <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" maxlength="200"
                                  v-model="addOrUpdateForm.dicttypedesc"></el-input>
                    </el-form-item>
                </div>
            </el-form>
        </div>

        <span slot="footer" class="dialog-footer">
            <el-button class="btnexport" @click="submitForm">确 定</el-button>
            <el-button class="btnexport" @click="addOrUpdateReset">重 置</el-button>
        </span>
    </el-dialog>

    <el-dialog :title="addOrUpdateFormDetail.title" :visible.sync="addOrUpdateWinDetail" :before-close="addOrUpdataWinDetailClose" :close-on-click-modal="false"
               @close="clearValidateDetail('addOrUpdateFormDetail')">
        <div style="width: 100%;">
            <el-form ref="addOrUpdateFormDetail" :model="addOrUpdateFormDetail" label-width="1.3rem">
                <el-row>
                    <el-col :span="16">
                    <el-form-item label="业务字典名称:" class="labelLong" prop="dictname" :rules="[{ required: true, message: '业务字典名称不能为空',trigger: 'blur'}]">
                        <el-input maxlength="100"  v-model.trim="addOrUpdateFormDetail.dictname"></el-input>
                    </el-form-item>
                    </el-col>
                    <el-col :span="16">
                    <el-form-item label="业务字典编码:" class="labelLong" prop="dictcode" :rules="[{ required: true, message: '业务字典编码不能为空',trigger: 'blur'}]">
                        <el-input maxlength="40"  v-model.trim="addOrUpdateFormDetail.dictcode"></el-input>
                    </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="16">
                    <el-form-item label="排序:" prop="sortno" class="labelLong">
                        <el-input maxlength="50"  v-model.trim="addOrUpdateFormDetail.sortno"></el-input>
                    </el-form-item>
                    </el-col>
                    <el-col :span="16">
                    <el-form-item label="状态:" prop="status" class="labelLong">
                        <el-input maxlength="4"  v-model.trim="addOrUpdateFormDetail.status"></el-input>
                    </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </div>

        <span slot="footer" class="dialog-footer">
            <el-button class="btnexport" @click="submitFormDetail">确 定</el-button>
            <el-button class="btnexport" @click="addOrUpdateResetDetail">重 置</el-button>
        </span>
    </el-dialog>

</div>

<script src="../../js/modules/base/dictionary.js"></script>

</body>
</html>