
<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>机构管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
    <style type="text/css">

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<style type="text/css">

    .form-row {
        width: 98%;
        display: flex;
        flex-direction: row;
    }

    .form-item {
        width: 25%;
    }

    .el-dialog__body {
        padding: 0.15rem 0.2rem;
        border: 0.01rem solid #dcdfe6;
    }

    .el-dialog {
        width: 7.0rem;
    }

    .el-form-item {
        margin-bottom: 0.2rem;
    }

    .el-textarea {
        width: 5.0rem;
    }

    .input-class {
        -webkit-appearance: none;
        background-color: #fff;
        background-image: none;
        border: 0.01rem solid #dcdfe6;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        height: 0.4rem;
        line-height: 0.4rem;
        outline: 0;
        padding: 0 0.15rem;
        -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
        transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
        width: 100%;
    }

    .input-class:focus {
        border: 0.01rem solid #ffc653;
    }

    #file {
        outline: 0.01rem;
        background-color: transparent;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        height: 0.4rem;
        width: 100%;
    }
    #cfile {
        outline: 0.01rem;
        background-color: transparent;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        height: 0.4rem;
        width: 100%;
    }
    .control-label {
        display: block;
        margin-bottom: 0.0rem;
        height: 0.4rem;
        line-height: 0.4rem;
        overflow: hidden;
    }

    #upload {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 0.4rem;
        border: 0.01rem solid #dedede;
        height: 0.4rem;
    }
    #companyCodeUpLoad {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 0.4rem;
        border: 0.01rem solid #dedede;
        height: 0.4rem;
    }
    .colNew {
        padding-top: 0.1rem;
        border-radius: 0.04rem;
        border: 0.01rem solid #eee;
        border-bottom: none;
    }

    button span {
        font-size: 0.14rem !important;
    }
    .el-dialog__header{
        background: #333333;
        color: white;
    }
    .el-dialog__header span,.el-dialog__header i{
        color: white !important;
    }
</style>

<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <div>
        <el-row style="font-size:0.18rem;color: #FFFFFF;background-color: #666666">
            <el-col :span="6" style="height: 0.6rem;font-size: 0.18rem;border-radius: 0; border: 0 solid #666666;">
                <div class="grid-content bg-purple" style=" padding: 0.2rem;">
                    <span style="text-align: left; ">机构树</span>
                </div>
            </el-col>
            <el-col :span="18" style="height: 0.6rem;font-size: 0.18rem;border-radius: 0; border: 0 solid #666666;">
                <div class="grid-content bg-purple" style=" padding: 0.2rem;">
                    <span style="text-align: left; ">机构列表</span>
                </div>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="6" class="colNew">
                <div class="grid-content bg-purple">
                    <ul id="orgTree" class="ztree"></ul>
                </div>
            </el-col>
            <el-col :span="18" class="colNew" style="margin-top: 0.05rem">
                <div class="grid-content bg-purple" v-show="orgModel" >
                    <el-form id="upload_form" ref="queryForm" target="frm" method="post" :model="queryForm" label-width="1.0rem" enctype="multipart/form-data">
                        <el-row>
                            <el-col :span="15" >
                            <el-form-item label="机构名称:"   prop="orgname">
                                <el-input v-model.trim="queryForm.orgname" maxlength="200" placeholder="请输入机构名称"></el-input>
                            </el-form-item>
                            </el-col>
                            <el-col :span="15">
                            <el-form-item label="机构编码:"   prop="orgcode">
                                <el-input v-model.trim="queryForm.orgcode" maxlength="40" placeholder="请输入机构编码"></el-input>
                            </el-form-item>
                            </el-col>
                            <el-col :span="15">
                            <el-form-item label="纳税人名称:"   prop="taxname" class="labelMid">
                                <el-input v-model.trim="queryForm.taxname" maxlength="200" placeholder="请输入纳税人名称"></el-input>
                            </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="15">
                            <el-form-item label="纳税人识别号:" class="labelLong"  prop="taxno">
                                <el-input v-model.trim="queryForm.taxno" maxlength="40" placeholder="请输入纳税人识别号"></el-input>
                            </el-form-item>
                            </el-col>
                            <el-col :span="15">
                                <el-form-item v-if="gfType=='2'" label="公司代码:" class="labelLong"  prop="companyCode">
                                    <el-input v-model.trim="queryForm.companyCode" maxlength="40" placeholder="请输入公司代码"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="1" :offset="1">
                                <el-button class="btnexport"  @click="query">查询</el-button>
                            </el-col>
                            <!--<el-col :span="1" :offset="1">
                                <el-button class="btnexport" @click="resetForm('queryForm')">重置</el-button>
                            </el-col>-->
                            <el-col :span="1" :offset="1">
                                <a class="btn btnexport" @click="addOrUpdata(true)">新增</a>
                            </el-col>
                            <el-col :span="1" :offset="1">
                                <a class="btn btnexport" @click="deleteOrg">删除</a>
                            </el-col>
                        </el-row>
                         <div v-if="gfType=='2'" class="row" style="border-top: 0">
                                <div class="col-xs-4" style="margin-top:0.05rem;">
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">选择导入文件:</label>
                                        <div class="col-xs-5" id="upload">
                                            <span v-html="selectFileFlag"></span>
                                            <input type="file" @change="onChangeFile($event)" id="file" name="file" class="text-input"
                                                   hidden>
                                        </div>
                                    </div>
                                </div>
                                <el-col :span="1" :offset="1">
                                    <el-button  class="btnexport" @click="showSelectFileWin()">浏览</el-button>
                                </el-col>
                                <el-col :span="1" :offset="1">
                                    <el-button  class="btnexport" @click="uploadFile($event)">导入JV、门店文件</el-button>
                                </el-col>
                         </div>
                        <iframe id="frm" name="frm" style="display: none;"></iframe>
                        <div v-if="gfType=='2'" class="row" style="border-top: 0">
                            <div class="col-xs-4" style="margin-top:0.05rem;">
                                <div class="form-group">
                                    <label class="col-xs-5 control-label">选择导入文件:</label>
                                    <div class="col-xs-5" id="companyCodeUpLoad">
                                        <span v-html="selectcompanyFileFlag"></span>
                                        <input type="file" @change="onChangeCFile($event)" id="cfile" name="cfile" class="text-input"
                                               hidden>
                                    </div>
                                </div>
                            </div>
                            <el-col :span="1" :offset="1">
                                <el-button  class="btnexport" @click="showSelectFileCWin()">浏览</el-button>
                            </el-col>
                            <el-col :span="1" :offset="1">
                                <el-button  class="btnexport" @click="uploadCFile($event)">导入公司代码文件</el-button>
                            </el-col>
                            <el-col :span="1" :offset="1" >
                                <a class="btn btnexport" @click="templateDownload">导入公司代码模板下载</a>
                            </el-col>
                        </div>
                        <iframe id="ufrm" name="ufrm" style="display: none;"></iframe>
                    </el-form>
                    <hr>

                    <!--机构列表-->
                    <el-table height="3.6rem" ref="orgTable" :data="orgData" border fit @selection-change="changeFun"
                              tooltip-effect="light" highlight-current-row element-loading-text="正在拼命加载中"
                              v-loading="orgLoading" element-loading-text="正在拼命加载中"
                              style="width: 100%;">

                        <el-table-column :show-overflow-tooltip="true"  type="selection" width="55" align="center"></el-table-column>
                        <el-table-column :show-overflow-tooltip="true"  type="index" :index="orgIndex"  label="序号" width="60"
                                         align="center"></el-table-column>


                            <el-table-column v-if="gfType!='2'" :show-overflow-tooltip="true"  property="orgcode" label="机构编码" min-width="120"
                                             :formatter="formatterField" align="center"></el-table-column>


                            <el-table-column v-else :show-overflow-tooltip="true"  property="orgcode" label="JV" min-width="120"
                                             :formatter="formatterField" align="center"></el-table-column>


                        <el-table-column :show-overflow-tooltip="true"  property="orgname" label="机构名称" min-width="140"
                                         header-align="center">
                        </el-table-column>
                        <el-table-column v-if="gfType!='2'" :show-overflow-tooltip="true" :formatter="formatterField"  property="companyCode" label="公司编号" min-width="140"
                                         align="center">
                        </el-table-column>
                        <el-table-column v-else :show-overflow-tooltip="true" :formatter="formatterField"  property="companyCode" label="公司代码" min-width="140"
                                         align="center">
                        </el-table-column>
                        <el-table-column :show-overflow-tooltip="true"  v-if="columnShow" :formatter="formatterField" property="taxno" label="纳税人识别号" min-width="130"
                                         header-align="center">
                        </el-table-column>
                        <el-table-column :show-overflow-tooltip="true"  v-if="columnShow" :formatter="formatterField" property="taxname" label="纳税人名称" min-width="150"
                                         header-align="center"></el-table-column>
                        <el-table-column :show-overflow-tooltip="true"  property="orgid" label="操作" class-name="noSpotSpotSpot" width="140" align="center">
                             <template slot-scope="scope">
                                 <el-button @click="openAddOrUpdataWin(scope.row)" type="text" size="small">修改
                                 </el-button>
                                 <span v-if="scope.row.orgtype=='1'">
                                     <el-button @click="openAddMenuWin(scope.row)" type="text" size="small">添加菜单
                                     </el-button>
                                 </span>
                             </template>
                        </el-table-column>
                    </el-table>
                    <el-col class="toolbar" style="padding:0.1rem;text-align: right">
                        <el-pagination small layout="slot, sizes, prev, pager, next" background
                                       :current-page.sync="currentPage" :page-size="pageSize" :page-sizes="pageList"
                                       :total="total" @current-change="currentChange" @size-change="sizeChange">
                            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
                        </el-pagination>
                    </el-col>
                </div>
            </el-col>
        </el-row>
    </div>

    <el-dialog :title="addOrUpdateForm.title" :visible.sync="addOrUpdateWin" :before-close="addOrUpdataWinClose" :close-on-click-modal="false"
               @close="clearValidate('addOrUpdateForm')">
        <div style="width: 100%;height: 4.0rem;overflow: auto;">
            <el-form ref="addOrUpdateForm" :model="addOrUpdateForm" label-width="1.3rem">
                <div class="form-row">
                    <el-form-item label="机构名称:" prop="orgname" :rules="[{ required: true, message: '机构名称不能为空'}]">
                        <input class="input-class" maxlength="200" v-model.trim="addOrUpdateForm.orgname">
                    </el-form-item>

                
                    <el-form-item v-if="addOrUpdateForm.parentName=='购方机构'" label="JV:" prop="orgcode" :rules="[{ required: true, message: 'JV不能为空'}]">
                        <input class="input-class" maxlength="40" v-model.trim="addOrUpdateForm.orgcode">
                    </el-form-item>
                     <el-form-item v-else-if="addOrUpdateForm.parentName=='购方企业'" label="门店号:" prop="orgcode":rules="[{ required: true, message: '门店号不能为空'}]">
                        <input class="input-class" maxlength="40" v-model.trim="addOrUpdateForm.orgcode">
                    </el-form-item>
                        <el-form-item v-else label="机构编码:" prop="orgcode">
                        <input class="input-class" maxlength="40" v-model.trim="addOrUpdateForm.orgcode">
                    </el-form-item>
                </div>

                <div class="form-row">
                <!--     <el-form-item v-if="addOrUpdateForm.parentName=='购方机构'" label="门店号:" prop="storeNumber">
                        <input class="input-class" maxlength="40" v-model.trim="addOrUpdateForm.storeNumber">
                    </el-form-item> -->
                    <el-form-item v-if="addOrUpdateForm.parentName=='购方机构'" label="公司代码:" prop="companyCode" :rules="[{ required: true, message: '公司代码不能为空'}]">
                        <input class="input-class" maxlength="40" style="width: 3.07rem;"  v-model.trim="addOrUpdateForm.companyCode">
                    </el-form-item>
                </div>
                <div class="form-row">
                    <el-form-item label="上级机构:">
                        <input class="input-class" style="width: 1.84rem;" readonly="readonly"
                               v-model.trim="addOrUpdateForm.parentName">
                    </el-form-item>
                    <el-form-item label="机构类型:" prop="orgtype" :rules="[{ required: true, message: '机构类型不能为空'}]">
                        <el-select :disabled="disabledOrgType" v-model="addOrUpdateForm.orgtype" @change="selectChangeOrgType">
                            <el-option v-for="item in items"
                                       :key="item.value"
                                       :label="item.text"
                                       :value="item.value"></el-option>
                        </el-select>
                    </el-form-item>
                </div>

                <div class="form-row" v-if="taxShow">
                    <el-form-item label="纳税人识别号:" prop="taxno" :rules="[{ required: true, message: '纳税人识别号不能为空'}]">
                        <input class="input-class" maxlength="40" v-model.trim="addOrUpdateForm.taxno">
                    </el-form-item>
                    <el-form-item label="纳税人名称:" prop="taxname":rules="[{ required: true, message: '纳税人名称不能为空'}]">
                        <input class="input-class" maxlength="200" v-model.trim="addOrUpdateForm.taxname">
                    </el-form-item>
                </div>

                <div class="form-row">
                    <el-form-item label="联系人:" prop="linkman">
                        <input class="input-class" maxlength="40" v-model.trim="addOrUpdateForm.linkman">
                    </el-form-item>
                    <el-form-item label="联系电话:" prop="phone">
                        <input class="input-class" maxlength="40" v-model.trim="addOrUpdateForm.phone">
                    </el-form-item>
                </div>

                <div class="form-row">
                    <el-form-item label="电子邮箱:" prop="email" :rules="[
                    { type: 'email', message: '请输入正确的电子邮箱', trigger: 'blur,change' }
                    ]">
                        <input class="input-class" maxlength="40" v-model.trim="addOrUpdateForm.email">
                    </el-form-item>
                    <el-form-item label="邮政编码:" prop="postcode">
                        <input class="input-class" maxlength="6" v-model.trim="addOrUpdateForm.postcode">
                    </el-form-item>
                </div>

                <div class="form-row">
                    <el-form-item label="联系地址:" prop="address">
                        <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" maxlength="255"
                                  v-model.trim="addOrUpdateForm.address"></el-input>
                    </el-form-item>
                </div>

                <div class="form-row">
                    <el-form-item label="开户行:" prop="bank">
                        <input class="input-class" style="width: 3.07rem;" maxlength="200" v-model.trim="addOrUpdateForm.bank">
                    </el-form-item>
                </div>

                <div class="form-row">
                    <el-form-item label="银行卡号:" prop="account">
                        <input class="input-class" maxlength="200" style="width: 3.07rem;"
                               v-model.number.trim="addOrUpdateForm.account">
                    </el-form-item>
                </div>

                <div class="form-row" v-if="fieldOrglayerShow">
                    <el-form-item label="总部代码:" prop="orglayer"
                                  :rules="[{ required: true,message: '总部代码不能为空'}]">
                        <input :readonly="readonly" maxlength="255" class="input-class" style="width: 3.07rem;"
                               v-model.number.trim="addOrUpdateForm.orglayer">
                    </el-form-item>
                </div>

                <div class="form-row">
                    <el-form-item label="备注:" prop="remark">
                        <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" maxlength="200"
                                  v-model="addOrUpdateForm.remark"></el-input>
                    </el-form-item>
                </div>
                <div class="fprm-row" v-if="taxShow">
                    <el-form-item label="是否升级地区:" prop="isUpdate" :rules="[{ required: true, message: '是否升级地区不能为空'}]">
                        <el-select v-model="addOrUpdateForm.isUpdate">
                            <el-option label="是" value="1"></el-option>
                            <el-option label="否" value="0"></el-option>
                        </el-select>
                    </el-form-item>
                </div>

                <div class="form-row">
                    <!--<el-form-item label="数据库连接名:" prop="linkName" class="labelLong"-->
                                  <!--:rules="[{required: true, message: '数据库连接名不能为空'}]">-->
                        <!--<el-select v-model="addOrUpdateForm.linkName" v-show="!inputShow" :disabled="disabled">-->
                            <!--<el-option v-for="itemLinkName in itemsDB"-->
                                       <!--:key="itemLinkName.dictname"-->
                                       <!--:label="itemLinkName.dictname"-->
                                       <!--:value="itemLinkName.dictname"></el-option>-->
                        <!--</el-select>-->
                        <!--<input v-show="inputShow" class="input-class" maxlength="255" v-model.trim="addOrUpdateForm.linkName">-->
                    <!--</el-form-item>-->
                </div>

                <div class="form-row">
                    <el-form-item label="扩展字段1:" prop="extf1">
                        <input class="input-class" maxlength="100" v-model.trim="addOrUpdateForm.extf1">
                    </el-form-item>
                    <el-form-item label="扩展字段2:" prop="extf2">
                        <input class="input-class" maxlength="100" v-model.trim="addOrUpdateForm.extf2">
                    </el-form-item>
                </div>

                <div class="form-row">
                    <el-form-item label="扩展字段3:" prop="extf3">
                        <input class="input-class" maxlength="100" v-model.trim="addOrUpdateForm.extf3">
                    </el-form-item>
                    <el-form-item label="扩展字段4:" prop="extf4">
                        <input class="input-class" maxlength="100" v-model.trim="addOrUpdateForm.extf4">
                    </el-form-item>
                </div>

                <div class="form-row">
                    <el-form-item label="扩展字段5:" prop="extf5">
                        <input class="input-class" maxlength="100" v-model.trim="addOrUpdateForm.extf5">
                    </el-form-item>
                    <el-form-item label="扩展字段6:" prop="extf6">
                        <input class="input-class" maxlength="100" v-model.trim="addOrUpdateForm.extf6">
                    </el-form-item>
                </div>

                <div class="form-row">
                    <el-form-item label="扩展字段7:" prop="extf7">
                        <input class="input-class" maxlength="100" v-model.trim="addOrUpdateForm.extf7">
                    </el-form-item>
                    <el-form-item label="扩展字段8:" prop="extf8">
                        <input class="input-class" maxlength="150" v-model.trim="addOrUpdateForm.extf8">
                    </el-form-item>
                </div>

                <div class="form-row">
                    <el-form-item label="扩展字段9:" prop="extf9">
                        <input class="input-class" maxlength="100" v-model.trim="addOrUpdateForm.extf9">
                    </el-form-item>
                    <el-form-item label="扩展字段10:" prop="comType"
                                  :rules="[{ pattern: /^[A-Za-z0-9]{1}$/,message: '只能输入数字或英文字母'}]">
                        <input class="input-class" maxlength="1" v-model.trim="addOrUpdateForm.comType">
                    </el-form-item>
                </div>

            </el-form>
        </div>

        <span slot="footer" class="dialog-footer">
            <el-button class="btnexport" @click="submitForm">确 定</el-button>
            <el-button class="btnexport" @click="addOrUpdateReset">重 置</el-button>
        </span>
    </el-dialog>

    <el-dialog title="添加菜单" :visible.sync="addMenuWin" :before-close="addMenuWinClose" :close-on-click-modal="false">
        <div style="height: 6.5rem;overflow: scroll">
            <ul id="orgMenuTree" class="ztree"></ul>

            <div class="grid-btn" style="text-align: center;margin-top: 0.05rem">
                <a class="btn btnexport" @click="saveOrgMenu">保存</a>
            </div>
        </div>
    </el-dialog>
</div>

<script src="../../js/modules/base/organization.js"></script>

</body>
</html>