
<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>用户管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <script src="../../libs/vue.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<style type="text/css">

    hr {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }

    .colNew {
        padding-top: 0.1rem;
        border-radius: 0.04rem;
        border: 0.01rem solid #eee;
        border-bottom: none;
    }

    .cell button, .cell button:hover {
        border: none;
    }

    .cell span {
        font-size: 0.12rem;
    }
    .el-dialog__header{
        background: #333333;
        color: white;
    }
    .el-dialog__header span,.el-dialog__header i{
        color: white !important;
    }
    .el-col-16{
        width: 50%;
    }
    .el-col-17{
        width: 38%;
    }
    .el-col-5{
        width: 15%;
    }
</style>

<body>
<div id="rrapp" v-cloak>
    <div>
        <el-row style="height: 0.6rem;font-size:0.18rem;color: #FFFFFF;background-color: #666666;!important">
            <el-col :span="6" style="height: 0.6rem;font-size: 0.18rem;border-radius: 0; border: 0 solid #666666;">
                <div class="grid-content bg-purple" style=" padding: 0.2rem;">
                    <span style="text-align: left; ">机构树</span>
                </div>
            </el-col>
            <el-col :span="9" style="height: 0.6rem;font-size: 0.18rem;border-radius: 0; border: 0 solid #666666;">
                <div class="grid-content bg-purple" style=" padding: 0.2rem;">
                    <span style="text-align: left; ">角色列表</span>
                </div>
            </el-col>
            <el-col :span="8" style="height: 0.6rem;font-size: 0.18rem;border-radius: 0; border: 0 solid #666666;">
                <div class="grid-content bg-purple" style=" padding: 0.2rem;">
                    <span style="text-align: left; ">权限信息</span>
                </div>
            </el-col>
        </el-row>
        <el-row :gutter="5">
            <el-col :span="6" class="colNew">
                <div class="grid-content bg-purple" style="margin: 0 auto;width: 90%">
                    <ul id="orgTree" class="ztree"></ul>
                </div>
            </el-col>
            <el-col :span="9" class="colNew">
                <div class="bg-purple" v-show="roleModel">
                    <el-form ref="queryRoleForm" :model="queryRoleForm">
                        <el-row>
                            <el-col :span="17">
                                <el-form-item label="角色名称:" prop="rolename" class="form-item" label-width="0.81rem">
                                    <el-input maxlength="40" v-model.trim="queryRoleForm.rolename"
                                              placeholder="请输入角色名称"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="17">
                                <el-form-item label="角色编码:" prop="rolecode" class="form-item" label-width="0.81rem">
                                    <el-input maxlength="40" v-model.trim="queryRoleForm.rolecode"
                                              placeholder="请输入角色编码"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="1" :offset="1">
                                <el-button class="btnexport" @click="queryRole">查询</el-button>
                            </el-col>
                        </el-row>
                        <el-row>
                            <!--<el-col :span="1" :offset="2">
                                <el-button class="btnexport" @click="resetForm('queryRoleForm')">重置</el-button>
                            </el-col>-->
                        </el-row>
                    </el-form>

                    <el-table height="4rem" ref="roleTable" :data="roleData" border fit tooltip-effect="light" highlight-current-row
                              v-loading="roleLoading" element-loading-text="正在拼命加载中"
                              style="width: 100%;">

                        <el-table-column :show-overflow-tooltip="true"  type="index" :index="roleIndex"  label="序号" width="60"
                                         align="center"></el-table-column>
                        <el-table-column :show-overflow-tooltip="true"  property="rolecode" label="角色编码" min-width="100"
                                         align="center"></el-table-column>
                        <el-table-column :show-overflow-tooltip="true"  property="rolename" label="角色名称" min-width="100"
                                         header-align="center"></el-table-column>
                        <el-table-column :show-overflow-tooltip="true"  property="roleid" label="操作" class-name="noSpotSpotSpot" width="110" align="center">
                            <template slot-scope="scope">
                                <span @click="permissionAssign(scope.row.roleid)" style="cursor: pointer;">权限</span>
                                <span @click="queryUserAdded(scope.row.roleid)"
                                      style="cursor: pointer;margin-left: 0.05rem">用户</span>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-col class="toolbar" style="padding:0.1rem;">
                        <el-pagination small layout="slot, sizes, prev, pager, next" background
                                       :current-page.sync="rolePage.currentPage" :page-size="rolePage.pageSize"
                                       :page-sizes="pageList" :total="rolePage.total"
                                       @current-change="currentRoleChange" @size-change="sizeChangeRole"
                                       style="float:right">
                            <span>共{{rolePage.total}}条记录，第{{rolePage.currentPage}}页，共{{rolePage.totalPage}}页</span>
                        </el-pagination>
                    </el-col>
                </div>
            </el-col>
            <el-col :span="9" class="colNew">
                <div class="bg-purple">
                    <div v-show="showRoleMenu" style="height: 6.5rem;overflow: scroll">
                        <ul id="menuTree" class="ztree"></ul>

                        <div class="grid-btn" style="text-align: center;margin-top: 0.05rem">
                            <a class="btn btnexport" @click="saveRoleMenu">保存</a>
                        </div>
                    </div>

                    <div v-show="showRoleUser">
                        <el-form ref="queryUserForm" :model="queryUserForm">
                            <el-row>
                                <el-col :span="16">
                                    <el-form-item label="用户名称:" class="form-item" label-width="0.85rem" prop="username">
                                        <el-input maxlength="150" v-model.trim="queryUserForm.username"
                                                  placeholder="请输入用户名称"></el-input>
                                    </el-form-item>
                                </el-col>
                                <!--<el-col :span="1" :offset="2">
                                    <el-button class="btnexport" @click="resetForm('queryUserForm')">重置</el-button>
                                </el-col>-->
                            </el-row>
                            <el-row>
                                <el-col :span="16">
                                    <el-form-item label="用户编码:" class="form-item" label-width="0.85rem" prop="usercode">
                                        <el-input maxlength="40" v-model.trim="queryUserForm.usercode"
                                                  placeholder="请输入用户编码"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="5" :offset="1">
                                    <el-button class="btnexport" @click="queryUser">查询</el-button>
                                </el-col>
                                <el-col :span="5" :offset="1">
                                    <a class="btn btnexport" @click="addRoleUser">新增</a>
                                </el-col>
                                <el-col :span="5" :offset="1">
                                    <a class="btn btnexport" @click="deleteUser">删除</a>
                                </el-col>
                            </el-row>
                            <hr>
                        </el-form>

                        <el-table height="4rem" :data="userBindData" border fit tooltip-effect="light" highlight-current-row
                                  @selection-change="changeFunBind" v-loading="userBindLoading"
                                  element-loading-text="正在拼命加载中"
                                  style="width: 100%;">

                            <el-table-column :show-overflow-tooltip="true"  type="selection" width="55" align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  type="index" :index="userBindIndex" label="序号" width="60"
                                             align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  :formatter="formatterField" property="usercode" label="用户编码" min-width="95"
                                             align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  property="username" label="用户名称" min-width="95"
                                             header-align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  :formatter="formatterField" property="orgName" label="所属机构" min-width="95"
                                             header-align="center"></el-table-column>
                            <el-table-column :show-overflow-tooltip="true"  property="loginname" label="登录名" min-width="80"></el-table-column>
                        </el-table>
                        <el-col class="toolbar" style="padding:0.1rem;">
                            <el-pagination small layout="slot, sizes, prev, pager, next" background
                                           :current-page.sync="userPageBind.currentPage"
                                           :page-size="userPageBind.pageSize" :page-sizes="pageList"
                                           :total="userPageBind.total" @current-change="currentChangeUserBind"
                                           @size-change="sizeChangeUserBind"
                                           style="float:right">
                                <span>共{{userPageBind.total}}条记录，第{{userPageBind.currentPage}}页，共{{userPageBind.totalPage}}页</span>
                            </el-pagination>
                        </el-col>

                    </div>
                </div>
            </el-col>
        </el-row>
    </div>

    <el-dialog title="新增用户" :visible.sync="addRoleUserWin" :before-close="addOrUpdataWinClose" :close-on-click-modal="false">
        <el-form ref="queryUserUnBindForm" :model="queryUserUnBindForm">
            <el-row>
                <el-col :span="17">
                    <el-form-item label="用户名称:"  label-width="0.85rem" prop="username">
                        <el-input maxlength="150" v-model.trim="queryUserUnBindForm.username"
                                  placeholder="请输入用户名称"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="17">
                    <el-form-item label="用户编码:"  label-width="0.85rem" prop="usercode">
                        <el-input maxlength="40" v-model.trim="queryUserUnBindForm.usercode"
                                  placeholder="请输入用户编码"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" @click="queryUserUnBind">查询</el-button>
                </el-col>
            </el-row>
            <el-row>

                <!--<el-col :span="1" :offset="1">
                    <el-form-item>
                        <el-button class="btnexport" @click="resetForm('queryUserUnBindForm')">重置</el-button>
                    </el-form-item>
                </el-col>-->
            </el-row>

            <el-table height="4rem" ref="userTable" :data="userData" border with="98%" height="300" @selection-change="changeFun"
                      v-loading="userNotBindLoading" element-loading-text="正在拼命加载中">

                <el-table-column :show-overflow-tooltip="true"  type="selection" width="55" align="center"></el-table-column>
                <el-table-column :show-overflow-tooltip="true"  type="index" :index="userUnBindIndex"  label="序号" width="60" align="center"></el-table-column>
                <el-table-column :show-overflow-tooltip="true"  :formatter="formatterField" property="usercode" label="用户编码" min-width="100" align="center"></el-table-column>
                <el-table-column :show-overflow-tooltip="true"  property="username" label="用户名称" min-width="120" header-align="center"></el-table-column>
                <el-table-column :show-overflow-tooltip="true"  :formatter="formatterField" property="orgName" label="所属机构" min-width="200" header-align="center"></el-table-column>
            </el-table>

            <el-col class="toolbar" style="padding:0.1rem;">
                <el-pagination small layout="slot, sizes, prev, pager, next" background
                               :current-page.sync="currentPageUserUnBind"
                               :page-size="pageSize" :page-sizes="pageList"
                               :total="total" @current-change="currentChangeUserUnBind"
                               @size-change="sizeChangeUserUnBind"
                               style="float:right">
                    <span>共{{total}}条记录，第{{currentPageUserUnBind}}页，共{{totalPage}}页</span>
                </el-pagination>
            </el-col>
        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button style="float: right;margin-left: 0.15rem !important;" class="btnexport"
                       @click="addOrUpdataWinClose">返回
            </el-button>
            <el-button style="float: right" class="btnexport" @click="saveRoleUser">确定</el-button>
            <div style="clear: both"></div>
        </span>
    </el-dialog>

</div>
<script src="../../js/modules/base/permissionassign.js"></script>

</body>
</html>