
<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
    <script type="text/javascript" src="../../js/customer/release/wangEditor.min.js"></script>
</head>
<style type="text/css">
</style>
<body>
<div id="rrapp" v-cloak>
    <div>
        <el-form ref="form" :model="form"  label-width="1.0rem" >

            <el-row>
                <el-col :span="13">
                    <el-form-item label="问卷标题:" prop="title" :rules="{required:true,message:'必填'}">
                        <el-input class="inline-input" v-model="form.title" :maxlength="255"
                                 ></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="addTopic" class="btnexport">新增题目</el-button>
                        <el-button id="uploadBtn"  class="btnexport" @click="release('form')">发布问卷</el-button>
                        <el-button @click="reset" class="btnexport">重置</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-card class="box-card">
                        <el-form-item
                            v-for="(question, index) in form.questions"
                            :label="question.label"
                            :key="question.key"
                            :prop="'questions.' + index + '.value'"
                            :rules="{ required: true, message: '必填', trigger: 'blur' }"
                         >
                        <el-input v-model="question.value" :maxlength="255"></el-input>
                    </el-form-item>
                </el-card>
            </el-row>
        </el-form>

    </div>

</div>
</body>
<script src="../../js/modules/base/releaseQuestionnaire.js"></script>
</html>