
<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">

        #file {
            outline: 0.01rem;
            background-color: transparent;
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0;
            height: 0.4rem;
            width: 100%;
        }

        .control-label {
            display: block;
            margin-bottom: 0.0rem;
            height: 0.4rem;
            line-height: 0.4rem;
            overflow: hidden;
        }

        #upload {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 0.4rem;
            border: 0.01rem solid #dedede;
            height: 0.4rem;
        }
        [v-cloak] {
            display: none;
        }
        .el-table .cell{
            white-space: nowrap !important;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<style type="text/css">
.el-table_1_column_13{
    text-overflow:clip !important;
}
    .qsItem {
    }

    .rzhItem {
    }
    .btn-row2 {
    }
    .btn-row3 {
    }
    .btn-row4 {
    }
    .rzh-row3 {
    }
    .rzh-row4 {
    }

    .hideItem {
        display: none;
    }

    .el-dialog__body {
        padding: 0.45rem 0.2rem;
    }
    .showItem {
        display: block;
    }

    .el-form-item__label {

    }


    .el-input__inner {
        border-radius: 0;
    }

    .cycleorange {
        position: relative;
        color: #333333;
        text-align: center;
    }

    .cycleorange > div {
        width: 0.3rem;
        height: 0.3rem;
        font-weight: 700;
        border-radius: 50%;
        background-color: #ffaa00;
        line-height: 0.3rem;
        position: absolute;
        top: -0.15rem;
        left: 50%;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -moz-transform: rotate(90deg); /* Firefox */
        -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
        -o-transform: rotate(90deg); /* Opera */
        cursor: pointer;
    }
    td{
        position: relative;
    }
    .col-xs-9, .col-xs-3 {

    }
    span[name*="invoiceLog"] table tr td{
        display: inline;
    }
</style>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <div>
        <el-form ref="form" :model="form"  label-width="1.0rem">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="业务类型:"  prop="businessType">
                        <el-select v-model="form.businessType" >
                            <el-option
                                    v-for="item in OpenRedTicketType"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="14">
                    <el-form-item label="创建日期:" id="requireMsg4">
                        <el-row>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="form.invoiceDate1"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(1)" @focus="focuspickerchange(1)" id="datevalue1"
                                                :picker-options="invoiceDateOptions1"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                                @change="invoiceDate1Change">
                                </el-date-picker>
                            </el-col>
                            <el-col :span="2">—</el-col>
                            <el-col :span="13">

                                <el-date-picker type="date" placeholder="选择日期" v-model="form.invoiceDate2"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(2)" @focus="focuspickerchange(2)" id="datevalue2"
                                                :picker-options="invoiceDateOptions2"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                                @change="invoiceDate2Change"></el-date-picker>

                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>
                <!--<el-col :span="12">
                    <el-form-item label="索赔/协议号:" prop="serviceNo" label-width="1.2rem">
                        <el-input v-model="form.serviceNo" maxlength="8" placeholder="请输入索赔/协议号"></el-input>
                    </el-form-item>
                </el-col>-->


                <el-col :span="1" :offset="1" class="btn-row2">
                    <el-button class="btnexport" @click="query()">查询</el-button>
                </el-col>

                <el-col :span="1" :offset="1" class="btn-row2">
                    <el-button class="btnexport" @click="batchExport()">批量导入红票信息</el-button>
                </el-col>

            </el-row>



        </el-form>
    </div>
    <hr>
    <div>
        <div align="left" style="float:left;font-size: 0.18rem; margin-top:0.09rem"><span id="totalStatistics"></span></div>
    </div>
    <el-table height="4rem" border fit="true" :data="tableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中">
        <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex" label="序号" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  width="160" prop="redTicketDataSerialNumber" label="生成红票序列号" align="left" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"   width="88"  prop="businessType" label="业务类型" align="center" header-align="center">
            <template slot-scope="scope">
                <span v-if="scope.row.businessType== null" >—— ——</span>
                <span v-if="scope.row.businessType== '1'" >退货</span>
                <span v-if="scope.row.businessType== '2'" >协议</span>
                <span v-if="scope.row.businessType== '3'" >折让</span>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  width="121"  prop="redTotalAmount" label="红冲总金额" align="right" header-align="center"  :formatter="numberFormat" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  width="205"  prop="redNoticeNumber" label="红字通知单号" align="left" header-align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  width="107"  prop="taxRate" label="税率" align="center" header-align="center" :formatter="formatRate"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"   width="146"  prop="invoiceCode" label="红票代码" align="center" header-align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  width="120"  prop="invoiceNo" label="红票号码" align="center" header-align="center" >
            <template scope="scope">
                <span>{{ scope.row.invoiceNo }}</span>
                <el-tooltip class="item" effect="dark" placement="top-start">
                    <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                    <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png" />
                    <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                    <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                    <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                    <img   v-if="scope.row.invoiceType=== '04' "
                         style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                    <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                    <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                    <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                    <img   v-if="scope.row.invoiceType=== '11' "
                         style="height:0.2rem;" src="../../img/roll-invoice.png" />
                    <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                    <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  width="115"  prop="invoiceAmount" label="红票金额" align="center" header-align="center" :formatter="numberFormat" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  width="102"  prop="taxAmount" label="税额" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>

        <el-table-column :show-overflow-tooltip="true"  width="130"  prop="totalAmount" label="价税合计" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  width="203"  prop="invoiceDate" label="开票日期" align="center"   :formatter="dateFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  width="200"  label="操作" class-name="noSpotSpotSpot" align="center" class-name="noSpotSpotSpot">
            <template slot-scope="scope">
                 <span v-if=" scope.row.uuid == ''||scope.row.uuid == null  " ><a  @click="enterRedTicket(scope.row)"><span class="column-span" style="color: black">[录入红票信息]</span></a></span>
                <span v-if=" scope.row.uuid != ''&& scope.row.uuid != null " > <a  @click="updateRedTicket(scope.row)"><span class="column-span" style="color: black">[修改红票信息]</span></a></span>
            </template>
        </el-table-column>
    </el-table>
    <el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                       :current-page="currentPage" :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                       layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>
    </el-col>

    <el-dialog width="90%" :visible.sync="batchRedTicketDialog" :before-close="importFormCancel" :close-on-click-modal="false" >

        <form id="upload_form" target="frm" method="post" enctype="multipart/form-data">
            <div class="row" style="border-top: 0">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="col-xs-5 control-label">选择上传文件:</label>
                        <div class="col-xs-5" id="upload">
                            <span v-html="selectFileFlag"></span>
                            <input type="file" @change="onChangeFile($event)" id="file" name="file" class="text-input"
                                   hidden>
                        </div>
                    </div>
                </div>
                <el-col :span="1" :offset="1">
                    <el-button  class="btnexport" @click="showSelectFileWin()">浏览</el-button>
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" @click="uploadFile($event)" :loading="importLoading">导入文件</el-button>
                </el-col>
                <el-col :span="1" :offset="1">
                    <el-button class="btnexport" @click="exportData()">模板下载</el-button>
                </el-col>

            </div>
            <iframe id="frm" name="frm" style="display: none;"></iframe>
        </form>

    </el-dialog>
    <el-dialog width="95%" :visible.sync="enterRedTicketDialog" :before-close="enterRedTicketDialogCancel" :close-on-click-modal="false"  height="100%" title="录入信息">

        <div>
            <el-form ref="invoicequery" :model="invoicequery"  label-width="1.0rem">
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="红票代码:" prop="invoiceCode" :rules="[{ required: true, message: '红票代码不能为空'}]">
                            <el-input  ref="invoiceCode" v-model="invoicequery.invoiceCode" maxlength="12" placeholder="请输入红票代码"  onkeyup="verificationInvoiceCodeValue(this);" @change="codeIn"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="红票号码:" prop="invoiceNo" :rules="[{ required: true, message: '红票号码不能为空'}]" >
                            <el-input   ref="invoiceNo" v-model="invoicequery.invoiceNo" maxlength="8" placeholder="请输入红票号码" onkeyup="verificationInvoiceNoValue(this);" @change="codeIn"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="税率:"  prop="taxRate" :rules="[{ required: true, message: '税率不能为空'}]">
                            <el-select v-model="invoicequery.taxRate" >
                                <el-option
                                        v-for="item in xl"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <!--<el-form-item label="税率:" prop="taxRate" :rules="[{ required: true, message: '税率不能为空'}]">
                            <el-input   ref="taxRate"  v-model="invoicequery.taxRate" maxlength="8" placeholder="请输入税率"></el-input>
                        </el-form-item>-->
                    </el-col>

                    <el-col :span="6">
                        <el-form-item label="金额:"  class="invoiceAmountItem"  prop="invoiceAmount" :rules="[{ required: true, message: '金额不能为空'}]">
                            <el-input ref="invoiceAmount"  v-model="invoicequery.invoiceAmount"  placeholder="请输入金额" ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>

                    <el-col :span="6">
                        <el-form-item label="税额:"  prop="taxAmount" :rules="[{ required: true, message: '税额不能为空'}]">
                            <el-input ref="taxAmount"  v-model="invoicequery.taxAmount"  placeholder="请输入税额" ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="价税合计:"  prop="totalAmount" :rules="[{ required: true, message: '价税合计不能为空'}]" >
                            <el-input ref="totalAmount"  v-model="invoicequery.totalAmount"  placeholder="请输入价税合计"  ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="开票日期:" class="form-item" id="requireMsg3" :rules="[{ required: true, message: '开票日期不能为空'}]">
                            <el-date-picker  type="date" id="datevalue3" :editable="false"    @blur="blurpickerchange(3)" :picker-options="invoiceDateOptions3"  @focus="focuspickerchange(3)" @change="invoiceDate3Change" :clearable="false" placeholder="选择日期" v-model="invoicequery.invoiceDateStart" format="yyyy-MM-dd" value-format="yyyy-MM-dd" ></el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :span="1" :offset="1" class="btn-row2">
                        <el-button class="btnexport" @click="saveRedTicket('invoicequery')">保存</el-button>
                    </el-col>

                    <el-col :span="1" :offset="1" class="btn-row2">
                        <el-button class="btnexport" @click="resetRedTicket('invoicequery')">重置</el-button>
                    </el-col>

                </el-row>



            </el-form>
        </div>

    </el-dialog>

    <el-dialog width="95%" :visible.sync="updateRedTicketDialog" :before-close="updateRedTicketDialogCancel" :close-on-click-modal="false"  height="100%" title="修改红票信息">

        <div>
            <el-form ref="invoiceUpdate" :model="invoiceUpdate"  label-width="1.0rem" >
                <el-row>

                    <el-col :span="6">
                        <el-form-item label="红票代码:" prop="invoiceCode" :rules="[{ required: true, message: '红票代码不能为空'}]">
                            <el-input  ref="invoiceCode" v-model="invoiceUpdate.invoiceCode" maxlength="12" placeholder="请输入红票代码"  onkeyup="verificationInvoiceCodeValue(this);" @change="codeIn2"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="红票号码:" prop="invoiceNo" :rules="[{ required: true, message: '红票号码不能为空'}]" >
                            <el-input   ref="invoiceNo" v-model="invoiceUpdate.invoiceNo" maxlength="8" placeholder="请输入红票号码" onkeyup="verificationInvoiceNoValue(this);" @change="codeIn2"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="金额:"  prop="invoiceAmount" :rules="[{ required: true, message: '金额不能为空'}]">
                            <el-input ref="invoiceAmount"  v-model="invoiceUpdate.invoiceAmount"  placeholder="请输入金额" ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="开票日期:" class="form-item" id="requireMsg2" :rules="[{ required: true, message: '开票日期不能为空'}]">
                            <el-date-picker  type="date" :editable="false"   id="datevalue4" @blur="blurpickerchange(4)" @focus="focuspickerchange(4)" :picker-options="invoiceDateOptions4" @change="invoiceDate4Change" :clearable="false" placeholder="选择日期" v-model="invoiceUpdate.invoiceDateStart" format="yyyy-MM-dd" value-format="yyyy-MM-dd" ></el-date-picker>
                        </el-form-item>
                    </el-col>
                   <!-- <el-col :span="6">
                        <el-form-item label="金额:"  prop="invoiceAmount" :rules="[{ required: true, message: '金额不能为空'}]">
                            <el-input ref="invoiceAmount"  v-model="invoiceUpdate.invoiceAmount"  placeholder="请输入金额" ></el-input>
                        </el-form-item>
                    </el-col>-->
                </el-row>
                <el-row>
                    <!--<el-col :span="12" class="checkNoItem hideItem">
                        <el-form-item label="验证码:"  prop="checkNo" :maxlength="6" :rules="[{ required: false, message: '验证码不能为空'}]">
                            <el-input ref="checkNo"  v-model="invoiceUpdate.checkNo"  placeholder="请输入验证码" onkeyup="verificationCheckNoValue(this);" ></el-input>
                        </el-form-item>
                    </el-col>-->
                    <el-col :span="6">
                        <el-form-item label="税率:"  prop="taxRate" :rules="[{ required: true, message: '税率不能为空'}]">
                            <el-select v-model="invoiceUpdate.taxRate" >
                                <el-option
                                        v-for="item in xl"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                       <!-- <el-form-item label="税率:" prop="taxRate" :rules="[{ required: true, message: '税率不能为空'}]">
                            <el-input   ref="taxRate"  v-model="invoiceUpdate.taxRate" maxlength="8" placeholder="请输入税率"></el-input>
                        </el-form-item>-->
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="税额:" prop="taxAmount" :rules="[{ required: true, message: '税额不能为空'}]">
                            <el-input  ref="taxAmount" v-model="invoiceUpdate.taxAmount" maxlength="8" placeholder="请输入税额"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="价税合计:"  prop="totalAmount" :rules="[{ required: true, message: '价税合计不能为空'}]" >
                            <el-input ref="totalAmount"  v-model="invoiceUpdate.totalAmount"  placeholder="请输入价税合计"  ></el-input>
                        </el-form-item>
                    </el-col>

                </el-row>
                <el-row>
                    <el-col :span="1" :offset="1" class="btn-row2">
                        <el-button class="btnexport" @click="updateRedTicketSave('invoiceUpdate')">保存</el-button>
                    </el-col>

                    <el-col :span="1" :offset="1" class="btn-row2">
                        <el-button class="btnexport" @click="resetRedTicketUpdate('invoiceUpdate')">重置</el-button>
                    </el-col>

                </el-row>
            </el-form>
        </div>

    </el-dialog>


</div>
</body>
<script src="../../js/modules/redTicket/entryRedTicket.js"></script>
</html>