
<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">


        [v-cloak] {
            display: none;
        }
        .el-table .cell{
            white-space: nowrap !important;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<style type="text/css">
    .qsItem {
    }

    .rzhItem {
    }
    .btn-row2 {
    }
    .btn-row3 {
    }
    .btn-row4 {
    }
    .rzh-row3 {
    }
    .rzh-row4 {
    }

    .hideItem {
        display: none;
    }

    .el-dialog__body {
        padding: 0.45rem 0.2rem;
    }
    .showItem {
        display: block;
    }

    .el-form-item__label {

    }


    .el-input__inner {
        border-radius: 0;
    }

    .cycleorange {
        position: relative;
        color: #333333;
        text-align: center;
    }

    .cycleorange > div {
        width: 0.3rem;
        height: 0.3rem;
        font-weight: 700;
        border-radius: 50%;
        background-color: #ffaa00;
        line-height: 0.3rem;
        position: absolute;
        top: -0.15rem;
        left: 50%;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -moz-transform: rotate(90deg); /* Firefox */
        -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
        -o-transform: rotate(90deg); /* Opera */
        cursor: pointer;
    }
    td{
        position: relative;
    }
    .col-xs-9, .col-xs-3 {

    }
    span[name*="invoiceLog"] table tr td{
        display: inline;
    }
</style>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <div>
        <el-form ref="form" :model="form" :rules="rules" label-width="1.0rem">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="业务类型:">
                        <el-select v-model="form.businessType" >
                            <el-option
                                    v-for="item in OpenRedTicketType"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

                <el-col :span="14">
                    <el-form-item label="创建日期:" id="requireMsg4">
                        <el-row>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="form.createDate1"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(1)" @focus="focuspickerchange(1)" id="datevalue1"
                                                :picker-options="invoiceDateOptions1"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                                @change="invoiceDate1Change">
                                </el-date-picker>
                            </el-col>
                            <el-col :span="2">—</el-col>
                            <el-col :span="13">

                                <el-date-picker type="date" placeholder="选择日期" v-model="form.createDate2"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(2)" @focus="focuspickerchange(2)" id="datevalue2"
                                                :picker-options="invoiceDateOptions2"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                                @change="invoiceDate2Change"></el-date-picker>

                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>
                <!--<el-col :span="12">
                    <el-form-item label="索赔/协议号:" prop="serviceNo" label-width="1.2rem">
                        <el-input v-model="form.serviceNo" maxlength="8" placeholder="请输入索赔/协议号"></el-input>
                    </el-form-item>
                </el-col>-->
                <el-col :span="1" :offset="1" class="btn-row2">
                    <el-button class="btnexport" @click="query('form')">查询</el-button>
                </el-col>

            </el-row>





        </el-form>
    </div>
    <hr>
    <div>
        <div align="left" style="float:left;font-size: 0.18rem; margin-top:0.09rem"><span id="totalStatistics"></span></div>
    </div>
    <el-table height="4rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              v-loading="listLoading"
              element-loading-text="正在拼命加载中">
        <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex" label="序号" align="center"></el-table-column>
        <!-- <el-table-column :show-overflow-tooltip="true"  prop="userCode" label="供应商号" align="center" header-align="center"  ></el-table-column>
         <el-table-column :show-overflow-tooltip="true"  prop="serviceNo" label="索赔/协议号" align="center" header-align="center"  ></el-table-column>-->
        <!--<el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="left" header-align="center" width="120">
            <template scope="scope">
                <span>{{ scope.row.invoiceNo }}</span>
                <el-tooltip class="item" effect="dark" placement="top-start">
                    <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                    <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png" />
                    <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                    <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                    <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                    <img   v-if="scope.row.invoiceType=== '04' "
                         style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                    <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                    <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                    <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                    <img   v-if="scope.row.invoiceType=== '11' "
                         style="height:0.2rem;" src="../../img/roll-invoice.png" />
                    <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                    <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                </el-tooltip>
            </template>
        </el-table-column>-->
        <!--<el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center" width="140" :formatter="dateFormat">
        </el-table-column>-->
        <el-table-column :show-overflow-tooltip="true"  prop="redTicketDataSerialNumber" label="生成红票序列号" align="left" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"   prop="businessType" label="业务类型" align="center" header-align="center"   >
            <template slot-scope="scope">
                <span v-if="scope.row.businessType== null" >—— ——</span>
                <span v-if="scope.row.businessType== '1'" >退货</span>
                <span v-if="scope.row.businessType== '2'" >协议</span>
                <span v-if="scope.row.businessType== '3'" >折让</span>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="redTotalAmount" label="红冲总金额" align="center" header-align="center"  :formatter="numberFormat" ></el-table-column>
        <!--<el-table-column :show-overflow-tooltip="true"  prop="redNoticeNumber" label="红字通知单号" align="left" header-align="center" ></el-table-column>-->
        <el-table-column :show-overflow-tooltip="true"  prop="dataStatus" label="是否上传资料" align="center" header-align="center" >
            <template slot-scope="scope">
                <span v-if="scope.row.dataStatus== null" >—— ——</span>
                <span v-if="scope.row.dataStatus== '1'" >是</span>
                <span v-if="scope.row.dataStatus== '2'" >否</span>
            </template>
        </el-table-column>
        <!--<el-table-column :show-overflow-tooltip="true"  prop="noticeStatus" label="是否上传红字通知单" align="center" header-align="center" :show-overflow-tooltip="true"  width="180">-->
            <!--<template slot-scope="scope">-->
                <!--<span v-if="scope.row.noticeStatus== null" >—— ——</span>-->
                <!--<span v-if="scope.row.noticeStatus== '1'" >是</span>-->
                <!--<span v-if="scope.row.noticeStatus== '2'" >否</span>-->
            <!--</template>-->
        <!--</el-table-column>-->
        <!--<el-table-column :show-overflow-tooltip="true"  prop="examineResult" label="审核结果" align="center" header-align="center" >-->
            <!--<template slot-scope="scope">-->
                <!--<span v-if="scope.row.examineResult== null" >—— ——</span>-->
                <!--<span v-if="scope.row.examineResult== '1'" >未审核</span>-->
                <!--<span v-if="scope.row.examineResult== '2'" >同意</span>-->
                <!--<span v-if="scope.row.examineResult== '3'" >不同意</span>-->
            <!--</template>-->
        <!--</el-table-column>-->
        <!--<el-table-column :show-overflow-tooltip="true"  prop="examineRemarks" label="审核备注" align="center" header-align="center" ></el-table-column>-->
        <el-table-column :show-overflow-tooltip="true"    label="操作" class-name="noSpotSpotSpot" align="center" >
            <template slot-scope="scope">
                <a  @click="detail(scope.row)"><span class="column-span" style="color: black">[明细]</span></a>&nbsp;&nbsp;&nbsp;
                <span > <a  @click="printingData(scope.row)"><span class="column-span" style="color: black">[打印上传资料]</span></a></span>
            </template>
        </el-table-column>
    </el-table>
    <el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                       :current-page="currentPage" :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                       layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>
    </el-col>


    <el-dialog width="95%" :visible.sync="detailDialogVehicleFormVisible" :before-close="detailFormCancel" :close-on-click-modal="false"  height="100%" title="索赔明细页面">
        <span>索赔列表</span>
        <el-table height="2.5rem" border fit :data="tableData1" highlight-current-row style="width: 100%;font-size: 0.12rem;" class="table_scroll">
            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndexA" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="returnGoodsCode" label="索赔号" align="center" header-align="center"  ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="returnGoodsDate" label="索赔时间" align="center" header-align="center"  :formatter="dateFormat" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="returnCostAmount" label="索赔成本金额" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="returnGoodsStatus" label="索赔状态" align="left" header-align="center" >
                <template scope="scope">
                    <span v-if="scope.row.returnGoodsStatus=== null" >—— ——</span>
                    <span v-if="scope.row.returnGoodsStatus=== ''" >—— ——</span>
                    <span v-if="scope.row.returnGoodsStatus=== '-1'" >全部</span>
                    <span v-if="scope.row.returnGoodsStatus=== '0'" >未处理</span>
                    <span v-if="scope.row.returnGoodsStatus=== '1'" >关联蓝票</span>
                    <span v-if="scope.row.returnGoodsStatus=== '2'" >已开红通</span>
                    <span v-if="scope.row.returnGoodsStatus=== '3'" > 已开红票</span>
                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redTicketDataSerialNumber" label="红冲序列号" align="center" header-align="center"  ></el-table-column>

        </el-table>
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="currentChange1" @size-change="handleSizeChange1"
                           :current-page="currentPage1" :page-size="pageSize1" :page-sizes="pageList1" :pager-count="pagerCount1"
                           layout="slot, sizes, prev, pager, next" :total="total1" style="float:right">
                <span>共{{total1}}条记录，第{{currentPage1}}页，共{{totalPage1}}页</span>
            </el-pagination>
        </el-col>
        <span>蓝票列表</span>
        <el-table height="2.5rem" border fit :data="tableData2" highlight-current-row style="width: 100%;font-size: 0.12rem;" class="table_scroll">

            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex2" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="gfTaxNo" label="购方纳税人识别号" align="center" header-align="center" width="138px" >
                <template scope="scope">
                    <span v-if="scope.row.gfTaxNo=== null" >—— ——</span>
                    <span v-else>{{scope.row.gfTaxNo}}</span>
                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码" align="center" header-align="center"  ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="center" header-align="center"  >
                <template scope="scope">
                    <span>{{ scope.row.invoiceNo }}</span>
                    <el-tooltip class="item" effect="dark" placement="top-start">
                        <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                        <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                        <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                        <img   v-if="scope.row.invoiceType=== '04' "
                               style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                        <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                        <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                        <img   v-if="scope.row.invoiceType=== '11' "
                               style="height:0.2rem;" src="../../img/roll-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                        <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center" :formatter="dateFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="center" header-align="center" :formatter="formatRate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="totalAmount" label="价税合计" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushAmount" label="本次红冲金额" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>

        </el-table>
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="currentChange2" @size-change="handleSizeChange2"
                           :current-page="currentPage2" :page-size="pageSize2" :page-sizes="pageList2" :pager-count="pagerCount2"
                           layout="slot, sizes, prev, pager, next" :total="total2" style="float:right">
                <span>共{{total2}}条记录，第{{currentPage2}}页，共{{totalPage2}}页</span>
            </el-pagination>
        </el-col>
        <span>发票明细列表</span>
        <el-table height="2.5rem" border fit :data="tableData3" highlight-current-row style="width: 100%;font-size: 0.12rem;" class="table_scroll">

            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex3" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码" align="center" header-align="center"  ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="center" header-align="center"  >
                <template scope="scope">
                    <span>{{ scope.row.invoiceNo }}</span>
                    <el-tooltip class="item" effect="dark" placement="top-start">
                        <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                        <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                        <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                        <img   v-if="scope.row.invoiceType=== '04' "
                               style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                        <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                        <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                        <img   v-if="scope.row.invoiceType=== '11' "
                               style="height:0.2rem;" src="../../img/roll-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                        <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="goodsName" label="货物或应税劳务名称" align="left" header-align="center"  width="146px" :show-overflow-tooltip="true" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="model" label="规格型号" align="left" header-align="center" ></el-table-column>
            <!-- <el-table-column :show-overflow-tooltip="true"  prop="unit" label="单位" align="center" header-align="center"  ></el-table-column>
             <el-table-column :show-overflow-tooltip="true"  prop="num" label="数量" align="center" header-align="center"   ></el-table-column>--
             <el-table-column :show-overflow-tooltip="true"  prop="unitPrice" label="单价" align="center" header-align="center" ></el-table-column>-->
            <el-table-column :show-overflow-tooltip="true"  prop="detailAmount" label="金额" align="center" header-align="center" :formatter="numberFormat" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="center" header-align="center" :formatter="formatRate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushNumber" label="红冲数量" align="center" header-align="center" ></el-table-column>
            <!--<el-table-column :show-overflow-tooltip="true"  prop="whetherRedRush" label="是否红冲" align="center" header-align="center" ></el-table-column>-->
            <el-table-column :show-overflow-tooltip="true"  prop="redTicketDataSerialNumber" label="红冲序列号" align="center" header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushAmount" label="红冲金额" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushPrice" label="红冲单价" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>

        </el-table>
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="currentChange3" @size-change="handleSizeChange3"
                           :current-page="currentPage3" :page-size="pageSize3" :page-sizes="pageList3" :pager-count="pagerCount3"
                           layout="slot, sizes, prev, pager, next" :total="total3" style="float:right">
                <span>共{{total3}}条记录，第{{currentPage3}}页，共{{totalPage3}}页</span>
            </el-pagination>
        </el-col>
        <span>合并信息列表</span>
        <el-table height="2.5rem" border fit :data="tableData4" highlight-current-row style="width: 100%;font-size: 0.12rem;" class="table_scroll">

            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex4" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="goodsName" label="货物或应税劳务名称" align="left" header-align="center"  ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="goodsModel" label="规格型号" align="left" header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="goodsAmount" label="金额" align="center" header-align="center" :formatter="numberFormat" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="center" header-align="center" :formatter="formatRate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushNumber" label="红冲数量" align="center" header-align="center"   ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushPrice" label="红冲单价" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushAmount" label="红冲金额" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
        </el-table>
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="currentChange4" @size-change="handleSizeChange4"
                           :current-page="currentPage4" :page-size="pageSize4" :page-sizes="pageList4" :pager-count="pagerCount4"
                           layout="slot, sizes, prev, pager, next" :total="total4" style="float:right">
                <span>共{{total4}}条记录，第{{currentPage4}}页，共{{totalPage4}}页</span>
            </el-pagination>
        </el-col>
        <span slot="footer" class="dialog-footer">
            <!--<button class="btn btnexport" style="background-color: white" type="button" @click="detailDialogCheckFormVisible = false">关 闭</button>-->
        </span>
    </el-dialog>

    <el-dialog width="95%" :visible.sync="detailDialogCheckFormInnerVisible" :before-close="detailFormCancel" :close-on-click-modal="false"  height="100%" title="折让明细页面">


        <span>折让蓝票列表</span>
        <el-table height="2.5rem" border fit :data="tableData5" highlight-current-row style="width: 100%;font-size: 0.12rem;" class="table_scroll">

            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex5" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码" align="center" header-align="center"  ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="center" header-align="center"  >
                <template scope="scope">
                    <span>{{ scope.row.invoiceNo }}</span>
                    <el-tooltip class="item" effect="dark" placement="top-start">
                        <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                        <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                        <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                        <img   v-if="scope.row.invoiceType=== '04' "
                               style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                        <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                        <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                        <img   v-if="scope.row.invoiceType=== '11' "
                               style="height:0.2rem;" src="../../img/roll-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                        <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center" :formatter="dateFormat">
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="center" header-align="center" :formatter="formatRate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="center" header-align="center" :formatter="numberFormat" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="totalAmount" label="价税合计" align="center" header-align="center" :formatter="numberFormat" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushAmount" label="本次红冲金额" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>

        </el-table>
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="currentChange5" @size-change="handleSizeChange5"
                           :current-page="currentPage5" :page-size="pageSize5" :page-sizes="pageList5" :pager-count="pagerCount5"
                           layout="slot, sizes, prev, pager, next" :total="total5" style="float:right">
                <span>共{{total5}}条记录，第{{currentPage5}}页，共{{totalPage5}}页</span>
            </el-pagination>
        </el-col>


        <span>发票明细列表</span>
        <el-table height="2.5rem" border fit :data="tableData3" highlight-current-row style="width: 100%;font-size: 0.12rem;" class="table_scroll">

            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex3" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码" align="center" header-align="center"  ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="center" header-align="center"  >
                <template scope="scope">
                    <span>{{ scope.row.invoiceNo }}</span>
                    <el-tooltip class="item" effect="dark" placement="top-start">
                        <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                        <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                        <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                        <img   v-if="scope.row.invoiceType=== '04' "
                               style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                        <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                        <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                        <img   v-if="scope.row.invoiceType=== '11' "
                               style="height:0.2rem;" src="../../img/roll-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                        <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="goodsName" label="货物或应税劳务名称" align="left" header-align="center"  width="146px" :show-overflow-tooltip="true" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="model" label="规格型号" align="left" header-align="center" ></el-table-column>
            <!-- <el-table-column :show-overflow-tooltip="true"  prop="unit" label="单位" align="center" header-align="center"  ></el-table-column>
             <el-table-column :show-overflow-tooltip="true"  prop="num" label="数量" align="center" header-align="center"   ></el-table-column>
             <el-table-column :show-overflow-tooltip="true"  prop="unitPrice" label="单价" align="center" header-align="center" ></el-table-column>-->
            <el-table-column :show-overflow-tooltip="true"  prop="detailAmount" label="金额" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="center" header-align="center" :formatter="formatRate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushNumber" label="红冲数量" align="center" header-align="center" ></el-table-column>
            <!--<el-table-column :show-overflow-tooltip="true"  prop="whetherRedRush" label="是否红冲" align="center" header-align="center" ></el-table-column>-->
            <el-table-column :show-overflow-tooltip="true"  prop="redTicketDataSerialNumber" label="红冲序列号" align="center" header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushAmount" label="红冲金额" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushPrice" label="红冲单价" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>

        </el-table>
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="currentChange3" @size-change="handleSizeChange3"
                           :current-page="currentPage3" :page-size="pageSize3" :page-sizes="pageList3" :pager-count="pagerCount3"
                           layout="slot, sizes, prev, pager, next" :total="total3" style="float:right">
                <span>共{{total3}}条记录，第{{currentPage3}}页，共{{totalPage3}}页</span>
            </el-pagination>
        </el-col>
        <span>合并信息列表</span>
        <el-table height="2.5rem" border fit :data="tableData4" highlight-current-row style="width: 100%;font-size: 0.12rem;" class="table_scroll">

            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex4" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="goodsName" label="货物或应税劳务名称" align="left" header-align="center"  ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="goodsModel" label="规格型号" align="left" header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="goodsAmount" label="金额" align="center" header-align="center" :formatter="numberFormat" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="center" header-align="center" :formatter="formatRate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushNumber" label="红冲数量" align="center" header-align="center"   ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushPrice" label="红冲单价" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushAmount" label="红冲金额" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
        </el-table>
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="currentChange4" @size-change="handleSizeChange4"
                           :current-page="currentPage4" :page-size="pageSize4" :page-sizes="pageList4" :pager-count="pagerCount4"
                           layout="slot, sizes, prev, pager, next" :total="total4" style="float:right">
                <span>共{{total4}}条记录，第{{currentPage4}}页，共{{totalPage4}}页</span>
            </el-pagination>
        </el-col>
        <span slot="footer" class="dialog-footer">
            <!--<button class="btn btnexport" style="background-color: white" type="button" @click="detailDialogCheckFormVisible = false">关 闭</button>-->
        </span>

    </el-dialog>
    <el-dialog width="95%" :visible.sync="detailDialogCheckFormVisible" :before-close="detailFormCancel" :close-on-click-modal="false"  height="100%" title="协议明细页面" >
        <span>协议列表</span>
        <el-table height="2.5rem" border fit :data="tableData1" highlight-current-row style="width: 100%;font-size: 0.12rem;" class="table_scroll">
            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndexA" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="protocolNo" label="协议号" align="center" header-align="center"  ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="caseDate" label="协议时间" align="center" header-align="center" :formatter="dateFormat" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="amount" label="协议金额" align="center" width="140" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redticketDataSerialNumber" label="红冲序列号" align="center" header-align="center"  ></el-table-column>
        </el-table>
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="currentChange1" @size-change="handleSizeChange1"
                           :current-page="currentPage1" :page-size="pageSize1" :page-sizes="pageList1" :pager-count="pagerCount1"
                           layout="slot, sizes, prev, pager, next" :total="total1" style="float:right">
                <span>共{{total1}}条记录，第{{currentPage1}}页，共{{totalPage1}}页</span>
            </el-pagination>
        </el-col>
        <span>蓝票列表</span>
        <el-table height="2.5rem" border fit :data="tableData2" highlight-current-row style="width: 100%;font-size: 0.12rem;" class="table_scroll">

            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex2" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码" align="center" header-align="center"  ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="center" header-align="center"  >
                <template scope="scope">
                    <span>{{ scope.row.invoiceNo }}</span>
                    <el-tooltip class="item" effect="dark" placement="top-start">
                        <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                        <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                        <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                        <img   v-if="scope.row.invoiceType=== '04' "
                               style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                        <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                        <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                        <img   v-if="scope.row.invoiceType=== '11' "
                               style="height:0.2rem;" src="../../img/roll-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                        <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                    </el-tooltip>
                </template>
            </el-table-column>

            <el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center" width="140" :formatter="dateFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="center" header-align="center" :formatter="formatRate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="totalAmount" label="价税合计" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushAmount" label="本次红冲金额(含税)" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>
        </el-table>
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="currentChange2" @size-change="handleSizeChange2"
                           :current-page="currentPage2" :page-size="pageSize2" :page-sizes="pageList2" :pager-count="pagerCount2"
                           layout="slot, sizes, prev, pager, next" :total="total2" style="float:right">
                <span>共{{total2}}条记录，第{{currentPage2}}页，共{{totalPage2}}页</span>
            </el-pagination>
        </el-col>
        <span>发票明细列表</span>
        <el-table height="2.5rem" border fit :data="tableData3" highlight-current-row style="width: 100%;font-size: 0.12rem;" class="table_scroll">

            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex3" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="发票代码" align="center" header-align="center"  ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="发票号码" align="center" header-align="center"  >
                <template scope="scope">
                    <span>{{ scope.row.invoiceNo }}</span>
                    <el-tooltip class="item" effect="dark" placement="top-start">
                        <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                        <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" src="../../img/special-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                        <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                        <img   v-if="scope.row.invoiceType=== '04' "
                               style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                        <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                        <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" src="../../img/einvoice.png"/>
                        <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                        <img   v-if="scope.row.invoiceType=== '11' "
                               style="height:0.2rem;" src="../../img/roll-invoice.png" />
                        <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                        <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" src="../../img/general-invoice.png"/>
                    </el-tooltip>
                </template>
            </el-table-column>


            <el-table-column :show-overflow-tooltip="true"  prop="goodsName" label="货物或应税劳务名称" align="left" header-align="center"  width="146px" :show-overflow-tooltip="true"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="model" label="规格型号" align="left" header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="unit" label="单位" align="center" header-align="center"  ></el-table-column>
            <!--<el-table-column :show-overflow-tooltip="true"  prop="num" label="数量" align="center" header-align="center"   ></el-table-column>-->
            <el-table-column :show-overflow-tooltip="true"  prop="unitPrice" label="单价" align="center" header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="detailAmount" label="金额" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="center" header-align="center" :formatter="formatRate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushNumber" label="红冲数量" align="center" header-align="center" ></el-table-column>
            <!--<el-table-column :show-overflow-tooltip="true"  prop="whetherRedRush" label="是否红冲" align="center" header-align="center" ></el-table-column>-->
            <el-table-column :show-overflow-tooltip="true"  prop="redTicketDataSerialNumber" label="红冲序列号" align="center" header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushAmount" label="红冲金额(含税)" align="center" header-align="center"  :formatter="numberFormat" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushPrice" label="红冲价格" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>

        </el-table>
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="currentChange3" @size-change="handleSizeChange3"
                           :current-page="currentPage3" :page-size="pageSize3" :page-sizes="pageList3" :pager-count="pagerCount3"
                           layout="slot, sizes, prev, pager, next" :total="total3" style="float:right">
                <span>共{{total3}}条记录，第{{currentPage3}}页，共{{totalPage3}}页</span>
            </el-pagination>
        </el-col>
        <span>红冲信息列表</span>
        <el-table height="2.5rem" border fit :data="tableData4" highlight-current-row style="width: 100%;font-size: 0.12rem;" class="table_scroll">
            <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex4" label="序号" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="goodsName" label="货物或应税劳务名称" align="left" header-align="center"  ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="goodsModel" label="规格型号" align="left" header-align="center" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="goodsAmount" label="金额" align="center" header-align="center" :formatter="numberFormat" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="center" header-align="center" :formatter="formatRate"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushNumber" label="红冲数量" align="center" header-align="center"   ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushPrice" label="红冲单价" align="center" header-align="center" :formatter="numberFormat" ></el-table-column>
            <el-table-column :show-overflow-tooltip="true"  prop="redRushAmount" label="红冲金额(含税)" align="center" header-align="center"  :formatter="numberFormat"></el-table-column>
        </el-table>
        <el-col class="toolbar" style="padding:0.1rem;">
            <el-pagination background @current-change="currentChange4" @size-change="handleSizeChange4"
                           :current-page="currentPage4" :page-size="pageSize4" :page-sizes="pageList4" :pager-count="pagerCount4"
                           layout="slot, sizes, prev, pager, next" :total="total4" style="float:right">
                <span>共{{total4}}条记录，第{{currentPage4}}页，共{{totalPage4}}页</span>
            </el-pagination>
        </el-col>
        <span slot="footer" class="dialog-footer">
            <!--<button class="btn btnexport" style="background-color: white" type="button" @click="detailDialogCheckFormVisible = false">关 闭</button>-->
        </span>

    </el-dialog>



</div>
</body>
<script src="../../js/modules/redTicket/printingOpenRedTicketData.js"></script>
</html>