
<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../libs/customer/index.css">
    <style type="text/css">


        [v-cloak] {
            display: none;
        }
        .el-table .cell{
            white-space: nowrap !important;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="../../js/customer/resource.js"></script>
</head>
<style type="text/css">
    .qsItem {
    }

    .rzhItem {
    }
    .btn-row2 {
    }
    .btn-row3 {
    }
    .btn-row4 {
    }
    .rzh-row3 {
    }
    .rzh-row4 {
    }

    .hideItem {
        display: none;
    }

    .el-dialog__body {
        padding: 0.45rem 0.2rem;
    }
    .showItem {
        display: block;
    }

    .el-form-item__label {

    }


    .el-input__inner {
        border-radius: 0;
    }

    .cycleorange {
        position: relative;
        color: #333333;
        text-align: center;
    }

    .cycleorange > div {
        width: 0.3rem;
        height: 0.3rem;
        font-weight: 700;
        border-radius: 50%;
        background-color: #ffaa00;
        line-height: 0.3rem;
        position: absolute;
        top: -0.15rem;
        left: 50%;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -moz-transform: rotate(90deg); /* Firefox */
        -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
        -o-transform: rotate(90deg); /* Opera */
        cursor: pointer;
    }
    td{
        position: relative;
    }
    .col-xs-9, .col-xs-3 {

    }
    span[name*="invoiceLog"] table tr td{
        display: inline;
    }
</style>
<body>
<iframe id="ifile" style="display:none"></iframe>
<div id="rrapp" v-cloak>
    <div>
        <el-form ref="form" :model="form"  label-width="1.0rem">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="业务类型:"  prop="businessType">
                        <el-select v-model="form.businessType" >
                            <el-option
                                    v-for="item in OpenRedTicketType"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="14">
                    <el-form-item label="创建日期:" id="requireMsg4">
                        <el-row>
                            <el-col :span="13">
                                <el-date-picker type="date" placeholder="选择日期" v-model="form.invoiceDate1"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(1)" @focus="focuspickerchange(1)" id="datevalue1"
                                                :picker-options="invoiceDateOptions1"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                                @change="invoiceDate1Change">
                                </el-date-picker>
                            </el-col>
                            <el-col :span="2">—</el-col>
                            <el-col :span="13">

                                <el-date-picker type="date" placeholder="选择日期" v-model="form.invoiceDate2"
                                                :clearable="false" :editable="false"
                                                @blur="blurpickerchange(2)" @focus="focuspickerchange(2)" id="datevalue2"
                                                :picker-options="invoiceDateOptions2"
                                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                                @change="invoiceDate2Change"></el-date-picker>

                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>
                <!--<el-col :span="12">
                    <el-form-item label="索赔/协议号:" prop="serviceNo" label-width="1.2rem">
                        <el-input v-model="form.serviceNo" maxlength="8" placeholder="请输入索赔/协议号"></el-input>
                    </el-form-item>
                </el-col>-->


                <el-col :span="1" :offset="1" class="btn-row2">
                    <el-button class="btnexport" @click="query()">查询</el-button>
                </el-col>

                <el-col :span="1" :offset="1" class="btn-row2">
                    <el-button id="export_btn_red_pdf" disabled class="btnexport" @click="printCover()">打印封面</el-button>
                </el-col>

            </el-row>



        </el-form>
    </div>
    <hr>
    <div>
        <div align="left" style="float:left;font-size: 0.18rem; margin-top:0.09rem"><span id="totalStatistics"></span></div>
    </div>
    <el-table height="4rem" border fit :data="tableData" highlight-current-row style="width: 100%;font-size: 0.12rem;"
              v-loading="listLoading"
              @selection-change="changeFunPO"
              element-loading-text="正在拼命加载中">

        <el-table-column :show-overflow-tooltip="true"  type="index" width="70" :index="mainIndex" label="序号" align="center"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  type="selection" width="55" class="selection" label="选择" align="center" @selection-change="changeFunPO"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="redTicketDataSerialNumber" label="生成红票序列号" align="left" header-align="center"  ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"   prop="businessType" label="业务类型" align="center" header-align="center"  >
            <template slot-scope="scope">
                <span v-if="scope.row.businessType== null" >—— ——</span>
                <span v-if="scope.row.businessType== '1'" >退货</span>
                <span v-if="scope.row.businessType== '2'" >协议</span>
                <span v-if="scope.row.businessType== '3'" >折让</span>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="redTotalAmount" label="红冲总金额" align="center" header-align="center"  :formatter="numberFormat" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="redNoticeNumber" label="红字通知单号" align="left" header-align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceCode" label="红票代码" align="center" header-align="center" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceNo" label="红票号码" align="center" header-align="center" >
            <template scope="scope">
                <span>{{ scope.row.invoiceNo }}</span>
                <el-tooltip class="item" effect="dark" placement="top-start">
                    <div slot="content" v-if="scope.row.invoiceType== '01' ">增值税专用发票</div>
                    <img v-if="scope.row.invoiceType== '01'" style="height:0.2rem;" style="height:0.2rem;" src="../../img/special-invoice.png" />
                    <div slot="content" v-if="scope.row.invoiceType== '03' ">机动车销售统一发票</div>
                    <img v-if="scope.row.invoiceType== '03' " style="height:0.2rem;" style="height:0.2rem;" src="../../img/motor-vehicles.png" />
                    <div slot="content" v-if="scope.row.invoiceType== '04' ">增值税普通发票</div>
                    <img   v-if="scope.row.invoiceType=== '04' "
                         style="height:0.2rem;" style="height:0.2rem;" src="../../img/plain-invoice.png"  />
                    <div slot="content" v-if="scope.row.invoiceType== '10' ">增值税电子普通发票</div>
                    <img v-if="scope.row.invoiceType== '10' " style="height:0.2rem;" style="height:0.2rem;" src="../../img/einvoice.png"/>
                    <div slot="content" v-if="scope.row.invoiceType== '11' ">增值税普通发票（卷票）</div>
                    <img   v-if="scope.row.invoiceType=== '11' "
                         style="height:0.2rem;" style="height:0.2rem;" src="../../img/roll-invoice.png" />
                    <div slot="content" v-if="scope.row.invoiceType== '14' ">增值税电子普通发票（通行费）</div>
                    <img v-if="scope.row.invoiceType== '14' " style="height:0.2rem;" style="height:0.2rem;" src="../../img/general-invoice.png"/>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceAmount" label="红票金额" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="taxAmount" label="税额" align="center" header-align="center" :formatter="numberFormat" ></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="taxRate" label="税率" align="center" header-align="center" :formatter="formatRate"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="totalAmount" label="价税合计" align="center" header-align="center" :formatter="numberFormat"></el-table-column>
        <el-table-column :show-overflow-tooltip="true"  prop="invoiceDate" label="开票日期" align="center" header-align="center" :formatter="formatInvoiceDate"></el-table-column>
    </el-table>
    <el-col class="toolbar" style="padding:0.1rem;">
        <el-pagination background @current-change="currentChange" @size-change="handleSizeChange"
                       :current-page="currentPage" :page-size="pageSize" :page-sizes="pageList" :pager-count="pagerCount"
                       layout="slot, sizes, prev, pager, next" :total="total" style="float:right">
            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>
    </el-col>


</div>
</body>
<script src="../../js/modules/redTicket/printingCover.js"></script>
</html>